@{
    ViewBag.Title = "Chi tiết yêu cầu công việc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MS_Website.Models.JobRequestTemp jobRequestTemp = Model;
    var numShowRecruit = 3;
    List<MS_Website.Models.Recruitment> recruitList = ViewBag.RecruitmentList;
}

<style>
    .modal.in
    {
        display: block;
    }
</style>
<div class="Menu">
    @Html.Partial("_PartialMenu")
    <div class="hChildMenu">
        <ul class="hChildMenuList">
            <li class="iscurent">
                <a href="#" class="hChContent">Chi tiết yêu cầu công việc</a>
            </li>
            @if (Session["AccId"] != null)
            {
                if (ViewBag.Edit == "true")
                {
                <li>
                    <a href="@Url.Action("JobRequestEdit", "MaidManager", new { jobId = jobRequestTemp.Job.JobRequestId })" class="hChContent">Sửa thông tin yêu cầu công việc</a>
                </li>
                }
            }
        </ul>
    </div>
</div>

@if (TempData["Alert"] != null)
{
@*<div class="modal fade in" id="alertModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>@TempData["Alert"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeAlert()">Close</button>
                </div>
            </div>
        </div>
    </div>*@
    @Html.Partial("_PartialNotifier", "4;Chú ý!;" + TempData["Alert"])
}
<div class="body">
    <div class="rows">
        <div class="row">
            <div class="col-md-8">
                <div class="leftInfo">
                    <div class="mainInfo">
                        <div class="miPic">
                            <img src="../Content/Image/jr.png" alt="Maid sercive" width="100%">
                            <div class="miButton">
                                @if (ViewBag.Manage == "true")
                                {
                                    if (jobRequestTemp.Job.Status.Equals("Waiting"))
                                    {
                                        using (Html.BeginForm("HideJobRequest", "MaidManager", new { jobId = jobRequestTemp.Job.JobRequestId }))
                                        {
                                    <button class="btn btn-danger">Tạm ẩn</button>
                                        }
                                    }
                                    else if (jobRequestTemp.Job.Status.Equals("Hide"))
                                    {
                                        using (Html.BeginForm("PublicJobRequest", "MaidManager", new { jobId = jobRequestTemp.Job.JobRequestId }))
                                        {
                                    <button class="btn btn-danger">Công khai</button>
                                        }
                                    }
                                }
                                @if (Session["Role"] != null)
                                {
                                    if (Session["Role"].Equals("Staff"))
                                    {
                                    <button class="btn btn-info" data-toggle="modal" data-target=".extendModel" onclick="return false">Gia hạn</button>
                                    }
                                }
                            </div>
                            @if (Session["AccId"] != null)
                            {
                                if (Session["Role"].Equals("Customer"))
                                {
                                    if (jobRequestTemp.Job.Status.Equals("Waiting"))
                                    {
                                <div class="miButton">
                                    @{
                                        if (ViewBag.Recruit != null)
                                        {
                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target=".bs-example-modal-lg">Thuê</button>
                                            using (Html.BeginForm("ApplyJobRequest", "Customer", FormMethod.Get, new { name = "ApplyForm" }))
                                            {
                                        <input type="hidden" name="jobRequestId" value="@Model.Job.JobRequestId"/>
                                        <input type="hidden" name="recruitIdStr" value="@ViewBag.Recruit" />
                                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                                        <h4 class="modal-title" id="myLargeModalLabel">Xác nhận thuê</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        Bạn thực sự muốn thuê công việc này?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <input type="hidden" name="jobRequestId" id="jrId2" />
                                                        <button type="submit" class="btn btn-success" id="btnAccept">Chấp nhận</button>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                        </div>
                                            }
                                        }
                                        else
                                        {
                                            if (ViewBag.RecruitmentList != null)
                                            {
                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target=".chooseMaidModel">Thuê</button>
                                        <div class="modal fade chooseMaidModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header chooseMaidModalTitle">
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                                        <h4 class="modal-title" id="mySmallModalLabel">Người giúp việc được thuê cho công việc nào?</h4>
                                                    </div>
                                                    @if (recruitList.Any())
                                                    {
                                                        using (Html.BeginForm("ApplyJobRequest", "Customer", FormMethod.Get, new { name = "ApplyForm" }))
                                                        {
                                                        <div class="modal-body chooseMaidModalMaid">
                                                            <div id="back" class="rimaMore" style="display: none;" onclick="preRecruits()">
                                                                <span class="glyphicon glyphicon-chevron-up"></span>
                                                            </div>
                                                            <input id="currPos" type="hidden" value="@(numShowRecruit - 1)" />
                                                            @{
                                                            var counter = -1;
                                                            }
                                                            @foreach (var recruit in recruitList)
                                                            {
                                                                counter++;
                                                                <div id="@counter" class="radio" style="display: @(counter > numShowRecruit - 1 ? "none" : "");">
                                                                    <label>
                                                                        <input type="radio" name="recruitIdStr" id="optionsRadios2" value="@recruit.RecruitmentId">
                                                                        <div>
                                                                            <div class="liImage">
                                                                                <img src="~/Content/Image/rc.png" alt="Maid sercive" height="100%">
                                                                            </div>
                                                                            <div class="liMaidContent">
                                                                                <div class="licoFullName">
                                                                                    <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = recruit.RecruitmentId })" id="@recruit.RecruitmentId name">@recruit.Title</a>
                                                                                </div>
                                                                                <div class="ricoPost">
                                                                                    <div class="blTime">
                                                                                        <span class="blTimeTitle">Đăng: </span><span
                                                                                            class="blTimeText">@recruit.PostTime.ToString("dd/MM/yyyy")</span>
                                                                                    </div>
                                                                                    <div class="blTime">
                                                                                        <span class="blTimeTitle">Tới&nbsp;&nbsp;&nbsp;&nbsp;: </span><span
                                                                                            class="blTimeText">@recruit.ExpiredTime.ToString("dd/MM/yyyy")</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </label>
                                                                </div>
                                                            }
                                                            <input id="lastPos" type="hidden" value="@counter"/>
                                                            @if (counter >= numShowRecruit)
                                                            {
                                                                <div id="next" class="rimaMore" onclick="nextRecruits()">
                                                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input type="hidden" name="jobRequestId" value="@Model.Job.JobRequestId"/>
                                                            <button class="btn btn-primary" data-dismiss="modal" onclick="apply()" style="margin-left: 75px; margin-bottom: 10px;">Đồng ý</button>
                                                        </div>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span>Không có đơn tuyển việc nào</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                            }
                                        }
                                    }
                                </div>
                                    }
                                }
                            }
                        </div>

                        <div class="mmiDetail">
                            <div class="iRows">
                                <div class="iTitle">
                                    Tiêu đề:
                                </div>
                                <span class="iTitleContent">@jobRequestTemp.Job.Title</span>
                            </div>
                            <div class="iStatus">
                                <div class="iTitle">
                                    Tình Trạng:
                                </div>
                                @*<span class="label label-warning">Chưa kích hoạt</span>
                                <span class="label label-primary">Đang chờ</span>
                                <span class="label label-success">Đã tuyển</span>
                                <span class="label label-warning">Đã hoàn tất</span>
                                <span class="label label-danger">Hết hạn</span>
                                <span class="label label-default">Tạm ẩn</span>*@
                                @{string color = "default";
                                  string status = "Tạm ẩn";
                                }
                                @if (!Model.Job.IsActive)
                                {
                                    color = "warning";
                                    status = "Chưa kích hoạt";
                                }
                                else
                                {
                                    if (Model.Job.Status == "Waiting")
                                    {
                                        color = "primary";
                                        status = "Đang chờ được thuê";
                                    }
                                    else if (Model.Job.Status == "Applied")
                                    {
                                        color = "success";
                                        status = "Đã được thuê";
                                    }
                                    else if (Model.Job.Status == "Approved")
                                    {
                                        color = "warning";
                                        status = "Đã hoàn tất";
                                    }
                                    else if (Model.Job.Status == "Expired")
                                    {
                                        color = "danger";
                                        status = "Hết hạn";
                                    }
                                }
                                <span class="labelStatus label label-@color">@status</span>
                                @if (Model.Job.Status == "Applied" || Model.Job.Status == "Approved")
                                {
                                    <span class="iStatusText">Bởi</span>
                                    <div class="istatusHire">
                                        <div class="iStatusPic">
                                            <img src="@ViewBag.Customer.Avatar" height="100%">
                                        </div>
                                        <div class="iStatusName">
                                            <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = Model.Recruitment.RecruitmentId })">
                                                @ViewBag.Customer.FullName</a>
                                        </div>
                                    </div>
                                }
                            </div>
                            @if (Model.Recruitment != null && Model.Recruitment.Status == "Approved")
                            {
                                <div class="iRating">
                                    <div class="iTitle">
                                        Đánh giá:
                                    </div>
                                    <div class="miRate">
                                        @Html.Partial("_PartialStar", (float)ViewBag.jrRate)
                                    </div>
                                </div>     
                            }
                            <div class="iSkill">
                                <div class="iTitle">
                                    Các kỹ năng:
                                </div>
                                <div class="iListKill">
                                    <div class="skill">
                                        <ul>
                                            @foreach (var skill in Model.SkillList)
                                            {
                                                <li class="childSkill">
                                                    <span class="skillText"><a href="@Url.Action("Index", "Search", new { searchString = skill.Split('-').Length > 1 ? skill.Split('-')[1].Trim() : skill.Split('-')[0].Trim() })">@skill</a></span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (jobRequestTemp.Recruitment != null && jobRequestTemp.Recruitment.Status == "Approved")
                    {
                        ViewBag.CusId = (int)jobRequestTemp.Recruitment.CustomerId;
                        if (ViewBag.CusId != null)
                        {
                            if (Session["AccId"] != null)
                            {
                                if ((int)Session["AccId"] == (int)ViewBag.CusId)
                                {
                        <div class="overView">
                            <div class="ovTitle">
                                Bạn có thể chấm điểm cho công việc này
                            </div>
                            <div class="ovContent">
                                @* @{ Html.RenderAction("Rate", "Evaluate", new {id = jobRequestTemp.Job.JobRequestId}); }*@
                                @*ViewBag.MaidRating*@
                                @{ ViewBag.jrid = jobRequestTemp.Job.JobRequestId; }
                                @Html.Partial("_PartialRating")
                            </div>
                        </div>
                                }
                            }
                        }
                    }
                    @if (jobRequestTemp.Recruitment != null && jobRequestTemp.Recruitment.Status == "Approved")
                    {
                        <div class="overView">
                            <div class="ovTitle">
                                Nhận xét của người đã thuê
                            </div>
                            <div class="ovContent">
                                @*@{ Html.RenderAction("Post", "Evaluate", new { id = jobRequestTemp.Job.JobRequestId}); }*@
                                @Html.Partial("_PartialComment", (List<MS_Website.Models.Comment>)ViewBag.Comment)
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="rightInfo">
                    <ul class="riDetail">
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Đăng ngày
                            </div>
                            <div class="rideroContent">
                                <strong>@Model.Job.PostTime.ToString("dd/MM/yyyy")
                                </strong>
                            </div>
                        </li>
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Hết hạn
                            </div>
                            <div class="rideroContent">
                                <strong>@jobRequestTemp.Job.ExpiredTime.ToString("hh:mm dd/MM/yyyy")
                                </strong>
                            </div>
                        </li>
                    </ul>
                    <div class="riManager">
                        <div class="rimaTitle">
                            Người giúp việc
                        </div>
                        <ul class="rimaListSameJobRequest">
                            <li>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="jrImage">
                                            <img src="@Model.Maid.PersonalImage" alt="Maid sercive" width="100%">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="jrDetail">
                                            <div class="jrMaidFullname">
                                                <a href="@Url.Action("ManageMaidProfile", "MaidManager", new { maidId = jobRequestTemp.Maid.MaidId })"><font color="@(jobRequestTemp.Maid.ReportDate != null ? "red" : "")">@jobRequestTemp.Maid.MaidName</font></a>
                                            </div>
                                            <div class="blTime">
                                                <span class="blTimeText">Người giúp việc</span>
                                            </div>
                                            @*<div class="jrMaidRate">
                                                <div class="rate">
                                                    @Html.Partial("_PartialStar", (float)jobRequestTemp.Maid.RateAvg)
                                                </div>
                                            </div>*@
                                            <div class="blTime">
                                                <span class="blTimeTitle">Giới tính: </span><span class="blTimeText">@(jobRequestTemp.Maid.Gender == true ? "Nam" : "Nữ")</span>
                                            </div>
                                            @if (ViewBag.Report != null)
                                            {
                                                <button class="btn btn-danger" class="btn btn-info" data-toggle="modal" data-target=".bs-example-modal-rp">Báo xấu</button>
                                                <div class="modal fade bs-example-modal-rp" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-sm">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                                                <h4 class="modal-title" id="myLargeModalLabel">Xác nhận báo xấu</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                Bạn thực sự muốn báo xấu người giúp việc này?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a href="@Url.Action("ReportMaid", "Customer", new { maidId = jobRequestTemp.Maid.MaidId, jobId = jobRequestTemp.Job.JobRequestId })">
                                                                    <button class="btn btn-success" id="btnAccept">Chấp nhận</button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <!-- /.modal-content -->
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="riDetail">
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Kinh nghiệm
                            </div>
                            <div class="rideroContent">
                                <strong>@if (jobRequestTemp.Maid.Experience == 0)
                                        {
                                    <span>< 1 năm</span>
                                        }
                                        else if (jobRequestTemp.Maid.Experience == 2)
                                        {
                                    <span>1 - 3 năm</span>
                                        }
                                        else if (jobRequestTemp.Maid.Experience == 4)
                                        {
                                    <span>> 3 năm</span>
                                        }
                                </strong>
                            </div>
                        </li>
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Quê quán
                            </div>
                            <div class="rideroContent">
                                <strong>@jobRequestTemp.Maid.Hometown
                                </strong>
                            </div>
                        </li>
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Địa chỉ
                            </div>
                            <div class="rideroContent">
                                <strong>@jobRequestTemp.Maid.Address
                                </strong>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade extendModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header chooseMaidModalTitle">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Gia hạn đơn tuyển việc</h4>
            </div>
            @using (Html.BeginForm("ExtendJobRequest", "MaidManager", FormMethod.Get, new { name = "ExtendForm" }))
            {
                <input id="extendId" type="hidden" name="jobId" value="@jobRequestTemp.Job.JobRequestId" />
                <div class="modal-body chooseMaidModalMaid">
                    <span>Thời gian gia hạn</span>
                    @if (Session["AccId"] != null)
                    {
                        <select class="form-control" name="extend">
                            @for (int i = 1; i <= (int)Session["MaxWeek"]; i++)
                            {
                                <option value="@i">@i tuần</option>
                            }
                        </select>
                    }
                    <span id="result" style="display: none;">Bạn đã nạp tiền thành công</span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" onclick="extendRecruit()" style="margin-left: 75px; margin-top: 5px; margin-bottom: 10px;">Đồng ý</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    function apply() {
        document.forms["ApplyForm"].submit();
    }

    function extendRecruit() {
        document.forms["ExtendForm"].submit();
    }

    function closeAlert() {
        document.getElementById("alertModal").setAttribute("class", "modal fade hide");
    }

    var numShowRecruit = 3;

    function nextRecruits() {
        var currPos = parseInt(document.getElementById("currPos").getAttribute("value"));
        var lastPos = parseInt(document.getElementById("lastPos").getAttribute("value"));
        var temp = 0;
        if (currPos < lastPos) {
            for (var i = 0; i <= currPos; i++) {
                if (document.getElementById(i) != null) {
                    document.getElementById(i).setAttribute("style", "display: none");
                }
            }
            for (var j = currPos + 1; j <= currPos + numShowRecruit; j++) {
                if (document.getElementById(j) != null) {
                    document.getElementById(j).setAttribute("style", "");
                    temp = j;
                }
            }
        }
        currPos = temp;
        if (currPos >= lastPos) {
            document.getElementById("next").setAttribute("style", "display: none");
        }
        document.getElementById("currPos").setAttribute("value", currPos);
        document.getElementById("back").setAttribute("style", "");
    }

    function preRecruits() {
        var currPos = parseInt(document.getElementById("currPos").getAttribute("value"));
        var temp = 0;
        if (currPos - numShowRecruit >= 0) {
            for (var i = currPos; i >= currPos - numShowRecruit; i--) {
                if (document.getElementById(i).getAttribute("style") == "") {
                    document.getElementById(i).setAttribute("style", "display: none");
                    temp = i;
                }
            }
            for (var j = temp - 1; j >= temp - numShowRecruit; j--) {
                document.getElementById(j).setAttribute("style", "");
            }
        }
        currPos = temp - 1;
        if (currPos <= numShowRecruit) {
            document.getElementById("back").setAttribute("style", "display: none");
        }
        document.getElementById("currPos").setAttribute("value", currPos);
        document.getElementById("next").setAttribute("style", "");
    }
</script>

