@{
    ViewBag.Title = "Chi tiết yêu cầu công việc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MS_Website.Models.JobRequestTemp JobRequestTemp = Model;
}

<div class="Menu">
    <div class="rows">
        <div class="hMenu">
            <div class="hFatherMenu">
                <ul class="hmeTabList">
                    <li>
                        <a href="#" class="hefaContent iscurent">Thông tin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hChildMenu">
        <ul class="hChildMenuList">
            <li class="iscurent">
                <a href="#" class="hChContent">Chi tiết yêu cầu công việc</a>
            </li>
            <li class>
                <a href="#" class="hChContent">Sửa thông tin yêu cầu công việc</a>
            </li>
        </ul>
    </div>
</div>
<div class="body">
    <div class="rows">
        <div class="row">
            <div class="col-md-8">
                <div class="leftInfo">
                    <div class="mainInfo">
                        <div class="miPic">
                            <img src="../Content/Image/jr.png" alt="Maid sercive" width="100%">
                            <div class="miButton">
                                @{
                                    if (ViewBag.RecruitmentList != null)
                                    {
                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target=".chooseMaidModel">Thuê</button>
                                        <div class="modal fade chooseMaidModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header chooseMaidModalTitle">
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                                        <h4 class="modal-title" id="mySmallModalLabel">Chọn một trong số những đơn tuyển việc mà bạn muốn bỏ</h4>
                                                    </div>
                                                    @using (Html.BeginForm("ApplyJobRequest", "Customer", FormMethod.Get, new { name = "ApplyForm" }))
                                                    {
                                                        <div class="modal-body chooseMaidModalMaid">
                                                            @foreach (var recruit in ViewBag.RecruitmentList)
                                                            {
                                                                <div class="radio">
                                                                    <label>
                                                                        <input type="radio" name="recruitId" id="optionsRadios2" value="@recruit.RecruitmentId">
                                                                        <div>
                                                                            <div class="liImage">
                                                                                <img src="~/Content/Image/rc.png" alt="Maid sercive" height="100%">
                                                                            </div>
                                                                            <div class="liMaidContent">
                                                                                <div class="licoFullName">
                                                                                    <a href="#" id="@recruit.RecruitmentId name">@recruit.Title</a>
                                                                                </div>
                                                                                <div class="licoRate">
                                                                                    <span class="glyphicon glyphicon-star"></span>
                                                                                    <span class="glyphicon glyphicon-star"></span>
                                                                                    <span class="glyphicon glyphicon-star"></span>
                                                                                    <span class="glyphicon glyphicon-star"></span>
                                                                                    <span class="glyphicon glyphicon-star"></span>
                                                                                </div>
                                                                                <div class="ricoPost">
                                                                                    Đăng/nhận
                                                                                    <span class="ricoPostApply">80</span>/<span class="ricoPostTotal">30</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </label>
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input type="hidden" name="jobRequestId" value="@Model.Job.JobRequestId"/>
                                                            <button class="btn btn-primary" data-dismiss="modal" onclick="chooseRecruit()" style="margin-left: 75px; margin-bottom: 10px;">Đồng ý</button>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    if (ViewBag.Remove == "true")
                                    {
                                        <button type="button" class="btn btn-danger">Hủy</button>
                                    }
                                }
                            </div>
                        </div>

                        <div class="mmiDetail">
                            <div class="iStatus">
                                <div class="iTitle">
                                    Tình Trạng:
                                </div>
                                @*<span class="label label-primary">Đang chờ</span>
                                <span class="label label-success">Đã tuyển</span>
                                <span class="label label-warning">Đã hoàn tất</span>
                                <span class="label label-danger">Hết hạn</span>*@
                                @{string color = "default";
                                    string status = "";
                                }
                                @if (Model.Job.Status == "Waiting")
                                {
                                    color = "primary";
                                    status = "Đang chờ được thuê";
                                }
                                @if (Model.Job.Status == "Applied")
                                {
                                    color = "success";
                                    status = "Đã được thuê";
                                }
                                @if (Model.Job.Status == "Approved")
                                {
                                    color = "warning";
                                    status = "Đã hoàn tất";
                                }
                                else if (Model.Job.Status == "Expired")
                                {
                                    color = "danger";
                                    status = "Hết hạn";
                                }

                                <span class="labelStatus label label-@color">@status</span>
                                @if (Model.Job.Status == "Applied" || Model.Job.Status == "Approved")
                                {
                                    <span class="iStatusText">Bởi</span>
                                    <div class="istatusHire">
                                        <div class="iStatusPic">
                                            <img src="@ViewBag.Customer.Avatar" height="100%">
                                        </div>
                                        <div class="iStatusName">
                                            <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = Model.Recruitment.RecruitmentId })">
                                                @ViewBag.Customer.FullName</a>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="iRating">
                                <div class="iTitle">
                                    Đánh giá:
                                </div>
                                <div class="miRate">
                                    @Html.Partial("_PartialStar", (float)ViewBag.MaidRating)
                                </div>
                            </div>
                            <div class="iSkill">
                                <div class="iTitle">
                                    Các kỹ năng:
                                </div>
                                <div class="iListKill">
                                    <div class="skill">
                                        <ul>
                                            @foreach (var skill in Model.SkillList)
                                            {
                                                <li class="childSkill">
                                                    <span class="skillText">@skill</span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (JobRequestTemp.Job.Status == "Applied" || JobRequestTemp.Job.Status == "Approved")
                    {
                        <div class="overView">
                            <div class="ovTitle">
                                Bạn có thể chấm điểm cho công việc này
                            </div>
                            <div class="ovContent">
                                @* @{ Html.RenderAction("Rate", "Evaluate", new {id = JobRequestTemp.Job.JobRequestId}); }*@
                                @*ViewBag.MaidRating*@
                                @{ ViewBag.jrid = JobRequestTemp.Job.JobRequestId; }
                                @Html.Partial("_PartialRating")
                            </div>
                        </div>
                        <div class="overView">
                            <div class="ovTitle">
                                Nhận xét của người đã thuê
                            </div>
                            <div class="ovContent">
                                @{ Html.RenderAction("Post", "Evaluate", new { id = JobRequestTemp.Job.JobRequestId}); }
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="rightInfo">
                    <ul class="riDetail">
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Đăng lúc
                            </div>
                            <div class="rideroContent">
                                <strong>@Model.Job.PostTime
                                </strong>
                            </div>
                        </li>
                    </ul>
                    <div class="riManager">
                        <div class="rimaTitle">
                            Công việc của
                        </div>
                        <ul class="rimaListSameJobRequest">
                            <li>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="jrImage">
                                            <img src="@Model.Maid.PersonalImage" alt="Maid sercive" width="100%">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="jrDetail">
                                            <div class="jrMaidFullname">
                                                <a href="@Url.Action("ManageMaidProfile", "MaidManager", new { maidId = JobRequestTemp.Maid.MaidId })">@JobRequestTemp.Maid.MaidName</a>
                                            </div>
                                            <div class="blTime">
                                               <span class="blTimeText">Người giúp việc</span>
                                            </div>
                                            <div class="jrMaidRate">
                                                <div class="rate">
                                                    @Html.Partial("_PartialStar", (float)JobRequestTemp.Maid.RateAvg)
                                                </div>
                                            </div>
                                            <div class="blTime">
                                                <span class="blTimeTitle">Giới tính: </span><span class="blTimeText">@(JobRequestTemp.Maid.Gender==true?"Nam":"Nữ")</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function chooseRecruit() {
        document.forms["ApplyForm"].submit();
    }
</script>

