@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Menu">
    <div class="rows">
        <div class="hMenu">
            <div class="hFatherMenu">
                <ul class="hmeTabList">
                    <li>
                        <a href="#" class="hefaContent iscurent">Find Work</a>
                    </li>
                    <li>
                        <a href="#" class="hefaContent">Find Work</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hChildMenu">
        <ul class="hChildMenuList">
            <li class="iscurent">
                <a href="#" class="hChContent">Job Applications</a>
            </li>
            <li class>
                <a href="#" class="hChContent">Job Applications</a>
            </li>
        </ul>
    </div>
</div>
<div class="body">
    <div class="rows">
        <div class="row">
            <div class="col-md-8">
                <div class="leftInfo">
                    <div class="mainInfo">
                        <div class="miPic">
                            <img src="@ViewBag.MaidImg" alt="Maid sercive" height="100%">
                        </div>
                        <div class="miButton">
                            @{
                                if (Model.Job.Status == "Waiting")
                                {
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target=".chooseMaidModel">Thuê</button>
                                    <div class="modal fade chooseMaidModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header chooseMaidModalTitle">
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="mySmallModalLabel">Chọn một trong số những người mà bạn đang quản
                                                        lý</h4>
                                                </div>
                                                <div class="modal-body chooseMaidModalMaid">
                                                    @foreach (var recruit in ViewBag.RecruitmentList)
                                                    {
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="@recruit.RecruitmentId">
                                                                <div>
                                                                    <div class="liImage">
                                                                        <img src="~/Content/Image/MS-Logo.png" alt="Maid sercive" height="100%">
                                                                    </div>
                                                                    <div class="liMaidContent">
                                                                        <div class="licoFullName">
                                                                            <a href="#" id="@recruit.RecruitmentId name">@recruit.Title</a>
                                                                        </div>
                                                                        <div class="licoRate">
                                                                            <span class="glyphicon glyphicon-star"></span>
                                                                            <span class="glyphicon glyphicon-star"></span>
                                                                            <span class="glyphicon glyphicon-star"></span>
                                                                            <span class="glyphicon glyphicon-star"></span>
                                                                            <span class="glyphicon glyphicon-star"></span>
                                                                        </div>
                                                                        <div class="ricoPost">
                                                                            Đăng/nhận
                                                                            <span class="ricoPostApply">80</span>/<span class="ricoPostTotal">30</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="chooseMaid()" style="margin-left: 75px; margin-bottom: 10px;">Đồng ý</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                if (ViewBag.Remove == "true")
                                {
                                    <button type="button" class="btn btn-danger">Hủy</button>
                                }
                            }
                        </div>
                        <div class="mmiDetail">
                            <div class="iStatus">
                                <div class="iTitle">
                                    Tình Trạng:
                                </div>
                                @*<span class="label label-primary">Đang chờ</span>
                                <span class="label label-success">Đã tuyển</span>
                                <span class="label label-warning">Đã hoàn tất</span>
                                <span class="label label-danger">Hết hạn</span>*@
                                @{string color = "default";
                                    string status = "";
                                  }
                                @if (Model.Job.Status == "Waiting")
                                {
                                    color = "primary";
                                    status = "Đang chờ được nhận";
                                }
                                @if (Model.Job.Status == "Applied")
                                {
                                    color = "success";
                                    status = "Đã được nhận";
                                }
                                    @if (Model.Job.Status == "Approved")
                                {
                                    color = "warning";
                                    status = "Đã hoàn tất";
                                }
                                else if (Model.Job.Status == "Expired")
                                {
                                    color = "danger";
                                    status = "Hết hạn";
                                }

                                <span class="labelStatus label label-@color">@status</span>
                                @if (Model.Job.Status == "Applied" || Model.Job.Status == "Approved")
                                {
                                    <span class="iStatusText">Bởi</span>
                                    <div class="iStatusPic">
                                        <a href="#">
                                            <img src="@ViewBag.CustImg" height="100%"></a>
                                    </div>
                                }
                            </div>
                            <div class="iRating">
                                <div class="iTitle">
                                    Đánh giá:
                                </div>
                                <div class="miRate">                     
                                   @Html.Partial("_PartialStar", (float)ViewBag.MaidRating)
                                </div>
                            </div>
                            <div class="iSkill">
                                <div class="iTitle">
                                    Các kỹ năng:
                                </div>
                                <div class="iListKill">
                                    <div class="skill">
                                        <ul>
                                            @foreach (var skill in Model.SkillList)
                                            {
                                                <li class="childSkill">
                                                    <span class="skillText">@skill</span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                   @{Html.RenderAction("Rate", "Evaluate", new { jobReqId = 1 });}

                    <div class="overView">
                        <div class="ovTitle">
                            Nhận xét của người thuê
                        </div>
                        <div class="ovContent">
                             @{Html.RenderAction("Post", "Evaluate");}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rightInfo">
                    <ul class="riDetail">
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Đăng
                            </div>
                            <div class="rideroContent">
                                <strong>30/08/2012
                                </strong>
                            </div>
                        </li>
                    </ul>
                    @*<div class="riManager">
                        <div class="rimaTitle">
                            Những yêu cầu giống
                        </div>
                        <ul class="rimaListSameJobRequest">
                            <li>
                                <div class="jrImage">
                                    <img src="../Content/Image/MS-Logo.png" alt="Maid sercive" height="100%">
                                </div>
                                <div class="jrDetail">
                                    <div class="jrMaidFullname">
                                        <a href="#">Maid name of job request</a>
                                    </div>
                                    <div class="jrMaidRate">
                                        <div class="rate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                        </div>
                                    </div>
                                    <div class="blTime">
                                        <span class="blTimeTitle">Đăng: </span><span
                                            class="blTimeText">6:00 30/08/2014</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="jrImage">
                                    <img src="../Content/Image/MS-Logo.png" alt="Maid sercive" height="100%">
                                </div>
                                <div class="jrDetail">
                                    <div class="jrMaidFullname">
                                        <a href="#">Maid name of job request</a>
                                    </div>
                                    <div class="jrMaidRate">
                                        <div class="rate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                        </div>
                                    </div>
                                    <div class="blTime">
                                        <span class="blTimeTitle">Đăng: </span><span
                                            class="blTimeText">6:00 30/08/2014</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

