@model PagedList.IPagedList<MS_Website.Models.Account>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<p>
    @Html.ActionLink("Tạo mới", "Create", "", new { @class = "btn btn-primary" })
</p>
@using (Html.BeginForm("Index", "AdminCustomer", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm" class="btn btn-primary" />
    </p>
}
<table class="table table-hover">
    <tr class="active">
        <th>@Html.ActionLink("Tên đăng nhập", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th>Họ tên
        </th>
        <th>Trạng thái
        </th>
        <th>@Html.ActionLink("Ngày đăng ký", "Index", new { sortOrder = ViewBag.DateSortParam })
        </th>
        <th>Thao tác
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @if (item.IsActive)
                {
                    <small class="label label-success">Hoạt động</small>
                }
                else
                {
                    <small class="label label-danger">Bị khóa</small>
                }
            </td>
            <td>
                @item.JoinDate.ToShortDateString()
            </td>
            <td>
                @Html.ActionLink("Cập nhật", "Edit", new { id = item.AccountId }, new { @class = "btn btn-primary" })
                @if (item.IsActive)
                {
                    @Html.ActionLink("Khóa", "Deactivate", new { id = item.AccountId }, new { @class = "btn btn-danger" })
                }
                else
                {
                    @Html.ActionLink("Kích hoạt", "Activate", new { id = item.AccountId }, new { @class = "btn btn-success" })
                }
            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<div>
    <div id></div>
</div>