<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/Content/Image/favicon.ico")"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/Scripts/jquery-1.8.2.min.js")
    @Styles.Render("~/Content/bootstrap-3.2.0/css/bootstrap.min.css")
    @Scripts.Render("~/Content/bootstrap-3.2.0/js/bootstrap.min.js")
    
    @Styles.Render("~/Content/Style/profilePage.css")
</head>
    <body>
        <div class="headerPage">
            <div class="rows">
                <div class="hFunction">
                    <div class="hLogo">
                        <img src="../Content/Image/MS-Logo-white.png" alt="Maid sercive" height="100%">
                    </div>
                    <div class="hMainFunction">
                        <div class="hUserName">
                            Bùi Tiến Tuân
                        </div>
                    </div>
                </div>

            </div>

        </div>
        @RenderBody()

        <div class="row">
            <div class="footer">
                <a class="footerLogo" href="#">
                    <img src="../Content/Image/MS-Logo-white.png" alt="Maid sercive" height="100">
                </a>
                <p class="footerLegal">© 2014 Maid Service.</p>
            </div>
        </div>

        @* @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)*@
    </body>
</html>
