@model MS_Website.Models.Account

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "AdminCustomer", FormMethod.Post, new { EncType = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Account</legend>

        @Html.HiddenFor(model => model.AccountId)
        @Html.HiddenFor(model => model.JoinDate)
        @Html.HiddenFor(model => model.IsActive)
        @Html.HiddenFor(model => model.IsWebmaster)
        @Html.HiddenFor(model => model.Role)

        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Username, new { @class = "required" })
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Password, new { @class = "required" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email, new { @class = "email" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Avatar)
        </div>
        <div class="editor-field">
           <input type="file" name="file" value="Tải ảnh" />
            @Html.ValidationMessageFor(model => model.Avatar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FullName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.FullName)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


