@model MS_Website.Models.Account
@{
    ViewBag.Title = "Tạo tài khoản nhân viện";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.AddStaff = "Add staff";
}

<div class="Menu">
    @Html.Partial("_PartialMenu")
</div>
<div class="body">
    <div class="rows">
        <div class="row">
            <div class="titlePage">THÊM NGƯỜI NHÂN VIÊN</div>
            @using (Html.BeginForm("AddStaff", "Admin", FormMethod.Post, new { name = "loginForm" }))
            {
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Tên đăng ký
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(a => a.Username, new { @id = "txtUsername", @class = "form-control input-lg text", @placeholder = "", maxlength = "50" })
                            <div id="textBlank"></div>
                            <div>
                                @if (ViewBag.Err != null)
                                {
                                    <font color="red">@ViewBag.Err</font>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Mật khẩu
                        </div>
                        <div class="col-md-8">
                            @Html.PasswordFor(a => a.Password, new { @id = "txtPassword", @class = "form-control input-lg text", @placeholder = "", maxlength = "50" })
                            <div id="passwordBlank"></div>
                        </div>
                    </div>
                </div>
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Nhập lại mật khẩu
                        </div>
                        <div class="col-md-8">
                            @Html.PasswordFor(a => a.Password, new { @id = "txtConfirmPassword", @class = "form-control input-lg text", @placeholder = "", maxlength = "50" })
                            <div id="CPErr"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <button id="btnLogin" type="submit" class="btn btn-success" name="Login" style="float: right">Thêm nhân viên</button>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $("#btnLogin").click(function () {
        var errText = "";
        if ($("#txtUsername").val().trim() == "") {
            errText = "<font color='red'>Vui lòng nhập tên đăng nhập</font>";
            document.getElementById("textBlank").innerHTML = errText;
            return false;
        } else {
            errText = "";
            document.getElementById("textBlank").innerHTML = errText;
        }
        if ($("#txtPassword").val().trim() == "") {
            errText = "<font color='red'>Vui lòng nhập mật khẩu</font>";
            document.getElementById("passwordBlank").innerHTML = errText;
            return false;
        } else {
            errText = "";
            document.getElementById("passwordBlank").innerHTML = errText;
        }
        if ($("#txtConfirmPassword").val().trim() != $("#txtPassword").val().trim()) {
            errText = "<font color='red'>Mật khẩu không trùng khớp</font>";
            document.getElementById("CPErr").innerHTML = errText;
            return false;
        } else {
            errText = "";
            document.getElementById("CPErr").innerHTML = errText;
        }
    });

</script>
