@{
    ViewBag.Title = "Quản lý cấu hình";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Config = true;
}

<div class="Menu">
    @Html.Partial("_PartialMenu")
</div>
<div class="body">
    <div class="rows">
        <div class="row">
            <div class="titlePage">QUẢN LÝ CẤU HÌNH</div>
            <div class="alert alert-success" role="alert" id="NotiSuss">
                <strong>Thông báo! </strong><span id="contentNotiSuss">Nên cân nhắc kỹ trước khi thay đổi, vì những giá trị dưới đây có thể ảnh hưởng tới hệ thống.</span><br>
            </div>
            <div class="alert alert-danger" role="alert" id="NotiFail" style="display: none">
                <strong>Thông báo! </strong><span id="contentNotiFail"></span><br>
            </div>
            @using (Html.BeginForm("RunKmean", "Admin", FormMethod.Post))
            {
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Chạy thuật toán Kmean
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4" style="margin-top: 11px;">Số K hiện tại: <span class="NumberKCurent">@ViewBag.numCluterKCurrent</span></div>
                                <div class="col-md-1"></div>
                                <div class="col-md-2 poJRTtitleSmall"><span>Gợi ý số K</span></div>
                                <div class="col-md-3">
                                    <input type="text" id="txtNumCluterK" class="form-control" name="numCluterKStr" value="@ViewBag.numCluterK">
                                    <div id="errKmean" style="color: red"></div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" id="btnRunKmean" onclick="RunKmean()" class="btn btn-success">Chạy Kmean</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @using (Html.BeginForm("ManageFeeJR", "Admin", FormMethod.Post))
            {
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Đơn giá<br />
                            (yêu cầu công việc/tuần)<br />
                            ngàn đồng
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4" style="margin-top: 11px;">Giá hiện tại: <span id="priceJR">@(Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["PriceJR"]))</span> ngàn đồng</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-2 poJRTtitleSmall"><span>Giá mới</span></div>
                                <div class="col-md-3">
                                    <input type="text" id="txtPriceJR" class="form-control" name="SpriceJR" value="@(Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["PriceJR"]))">
                                    <div id="errJR" style="color: red"></div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" id="btnEditJR" onclick="ChangePriceJR()" class="btn btn-success">Sửa giá</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @using (Html.BeginForm("ManageFeeRC", "Admin", FormMethod.Post))
            {
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Đơn giá<br />
                            (yêu cầu tìm người/tuần)<br />
                            ngàn đồng
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4" style="margin-top: 11px;">Giá hiện tại: <span id="priceRC">@(Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["PriceRC"]))</span>  ngàn đồng</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-2 poJRTtitleSmall"><span>Giá mới</span></div>
                                <div class="col-md-3">
                                    <input type="text" id="txtPriceRC" class="form-control" name="SpriceRC" value="@(Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["PriceRC"]))">
                                <div id="errRC" style="color: red"></div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" id="btnEditRC" onclick="ChangePriceRC()" class="btn btn-success">Sửa giá</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @using (Html.BeginForm("ManageFeeSPW", "Admin", FormMethod.Post))
            {
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Giảm mỗi tuần<br />
                            ngàn đồng
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4" style="margin-top: 11px;">Tiền giảm hiện tại: <span id="SPW">@(Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["SubPriceWeek"]))</span>  ngàn đồng</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-2 poJRTtitleSmall"><span>Tiền giảm mới</span></div>
                                <div class="col-md-3">
                                    <input type="text" id="txtSPW" class="form-control" name="SSPW" value="@(Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["SubPriceWeek"]))">
                                <div id="errSPW" style="color: red"></div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" id="btnEditSPW" onclick="ChangeSPW()" class="btn btn-success">Sửa giá</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @using (Html.BeginForm("ManageMaxWeek", "Admin", FormMethod.Post))
            {
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Tuần đăng tối đa
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4" style="margin-top: 11px;">Hiện tại: <span id="maxWeek">@(Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["MaxWeek"]))</span>  tuần</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-2 poJRTtitleSmall"><span>Số mới</span></div>
                                <div class="col-md-3">
                                    <input type="text" id="txtMaxWeek" class="form-control" name="sMaxWeek" value="@(Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["MaxWeek"]))">
                                <div id="errMW" style="color: red"></div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" id="btnMaxWeek" onclick="ChangeMaxWeek()" class="btn btn-success">Sửa số tuần</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script type="text/jscript">
    
    $("#btnRunKmean").click(function () {
        $("#errKmean").html("");
        var reg = new RegExp('^\s*-?[0-9]{1,10}\s*$');
        if (!reg.test($("#txtNumCluterK").val())) {
            $("#errKmean").html("Phải nhập số nguyên!");
            return false;
        }
    })
    
    function RunKmean() {
        $("#NotiSuss").fadeOut();
        $("#errJR").html("");
        var url = "/Admin/RunKmean";
        var number = $('#txtNumCluterK').val();
        var reg = new RegExp('^\s*-?[0-9]{1,10}\s*$');
        if (reg.test(number)) {
            $('#btnRunKmean').html('Đang xử lý...');
            $.post(url, { numCluterKStr: number }, function (data) {
                if (data == "fail") {
                }
                $("#NotiSuss").fadeIn();
                $("#NotiFail").fadeOut();
                $("#contentNotiSuss").html("Cập nhập số K thành công.");
                $("#NumberKCurent").html(number);
                $('#btnRunKmean').html('Chạy Kmean');
            });
        } else {
            $("#errJR").html("Phải nhập số nguyên!");
        }
    }
    
    function ChangePriceJR() {
        
        $("#NotiSuss").fadeOut();
        $("#errJR").html("");
        var url = "/Admin/ManageFeeJR";
        var price = $('#txtPriceJR').val();
        var reg = new RegExp('^\s*-?[0-9]{1,10}\s*$');
        if (reg.test(price)) {
            $('#btnEditJR').html('Đang xử lý...');
            $.post(url, { SpriceJR: price }, function (data) {
                $("#NotiSuss").fadeIn();
                $("#NotiFail").fadeOut();
                $("#contentNotiSuss").html("Cập nhập đơn giá cho yêu cầu công việc thành công.");
                $("#priceJR").html($('#txtPriceJR').val());
                $('#btnEditJR').html('Sửa giá');
            });
        } else {
            $("#errJR").html("Phải nhập số nguyên!");
        }
    }
    
    function ChangePriceRC() {
        $("#NotiSuss").fadeOut();
        $("#errRC").html("");
        var url = "/Admin/ManageFeeRC";
        var price = $('#txtPriceRC').val();
        var reg = new RegExp('^\s*-?[0-9]{1,10}\s*$');
        if (reg.test(price)) {
            $('#btnEditRC').html('Đang xử lý...');
            $.post(url, { SpriceRC: price }, function (data) {
                $("#NotiSuss").fadeIn();
                $("#NotiFail").fadeOut();
                $("#contentNotiSuss").html("Cập nhập đơn giá cho yêu cầu tìm người thành công.");
                $("#priceRC").html($('#txtPriceRC').val());
                $('#btnEditRC').html('Sửa giá');
            });
        } else {
            $("#errRC").html("Phải nhập số nguyên!");
        }
    }
    
    function ChangeSPW() {
        $("#NotiSuss").fadeOut();
        $("#errSPW").html("");
        var url = "/Admin/ManageFeeSPW";
        var price = $('#txtSPW').val();
        var reg = new RegExp('^\s*-?[0-9]{1,10}\s*$');
        if (reg.test(price)) {
            $('#btnEditSPW').html('Đang xử lý...');
            $.post(url, { SPW: price }, function (data) {
                $("#NotiSuss").fadeIn();
                $("#NotiFail").fadeOut();
                $("#contentNotiSuss").html("Cập nhập số tiền giảm hàng tuần thành công.");
                $("#SPW").html($('#txtSPW').val());
                $('#btnEditSPW').html('Sửa giá');
            });
        } else {
            $("#errSPW").html("Phải nhập số nguyên!");
        }
    }
    
    function ChangeMaxWeek() {
        $("#NotiSuss").fadeOut();
        $("#errMW").html("");
        var url = "/Admin/ManageMaxWeek";
        var sMaxWeek = $('#txtMaxWeek').val();
        var reg = new RegExp('^\s*-?[0-9]{1,10}\s*$');
        if (reg.test(sMaxWeek)) {
            $('#btnMaxWeek').html('Đang xử lý...');
            $.post(url, { sMaxWeek: sMaxWeek }, function (data) {
                $("#NotiSuss").fadeIn();
                $("#NotiFail").fadeOut();
                $("#contentNotiSuss").html("Cập nhập số tuần thành công.");
                $("#maxWeek").html($('#txtMaxWeek').val());
                $('#btnMaxWeek').html('Sửa số tuần');
            });
        } else {
            $("#errMW").html("Phải nhập số nguyên!");
        }
    }

</script>