@{
    ViewBag.Title = "Quản lý cấu hình";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Menu">
    <div class="rows">
        <div class="hMenu">
            <div class="hFatherMenu">
                <ul class="hmeTabList">
                    <li>
                        <a href="@Url.Action("BanAccount", "Admin")" class="hefaContent">Khóa tài khoản</a>
                    </li>
                    <li>
                        <a href="@Url.Action("AddStaff", "Admin")" class="hefaContent">Thêm nhân viên</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ManageComment", "Admin")" class="hefaContent">Xóa bình luận</a>
                    </li>
                    <li>
                        <a href="@Url.Action("AdminConfig", "Admin")" class="hefaContent iscurent">Kmean</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




<div class="body">
    <div class="rows">
        <div class="row">
            <div class="titlePage">XỬ LÝ THUẬT TOÁN KMEAN</div>
            @using (Html.BeginForm("RunKmean", "Admin", FormMethod.Post))
            {
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Chạy thuật toán Kmean
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-2" style="margin-top: 11px;"><span>Gợi ý số K</span></div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="numCluterKStr" value="@ViewBag.numCluterK"></div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success">Kmean</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
