@{
    List<MS_Website.Models.CommentTemp> comments = Model;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="../Content/TableJquery/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="../Content/TableJquery/js/jquery.dataTables.min.js"></script>
<div class="Menu">
    <div class="rows">
        <div class="hMenu">
            <div class="hFatherMenu">
                <ul class="hmeTabList">
                    <li>
                        <a href="@Url.Action("BanAccount", "Admin")" class="hefaContent">Khóa tài khoản</a>
                    </li>
                    <li>
                        <a href="@Url.Action("AddStaff", "Admin")" class="hefaContent">Thêm nhân viên</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ManageComment", "Admin")" class="hefaContent iscurent">Xóa bình luận</a>
                    </li>
                    <li>
                        <a href="@Url.Action("AdminConfig", "Admin")" class="hefaContent">Kmean</a>
                    </li>                   
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="body">
    <div class="rows">
        <div class="row">
            <div class="col-md-8">
                <script type="text/javascript" language="javascript" class="init">
                    $(document).ready(function () {
                        $('#JRTable').DataTable();
                    });
                </script>
                <table id="JRTable" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Người bình luận</th>
                    <th>Tiêu đề</th>
                    <th>Nội dung</th>
                    <th>Thời gian đăng</th>
                    <th>Xử lý</th>
                </tr>
                </thead>

                    <tbody>
                        @{var count=0;}
                        @foreach (var comment in comments)
                        {
                            
                            count++;
                            <tr>
                                <td>
                                    @count
                                    <input type="hidden" value="@(comment.Comment.CommentId)" id="" />
                                </td>
                                
                                <td>
                                    @comment.Account.FullName
                                </td>
                                
                                <td>
                                    @comment.Job.Title
                                </td>
                                <td>
                                    @comment.Comment.CommentContent
                                </td>
                                <td>@comment.Comment.PostTime</td>
                                <td>
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="btnActive(@comment.Comment.CommentId)">Xóa</button>
                                </td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myLargeModalLabel">Xác nhận xóa lời bình</h4>
                            </div>
                            <div class="modal-body">
                               Bạn thực sự muốn xóa lời bình này?
                            </div>
                            <div class="modal-footer">
                                @using (Html.BeginForm("DeleteComment","Admin",FormMethod.Get))
                                {
                                    <input type="hidden" name="commentId" id="jrId2" />
                                    <button type="submit" class="btn btn-success" id="btnAccept">Xóa</button>
                                }
                                
                            </div>
                        </div><!-- /.modal-content -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rightInfo">
                    <ul class="riDetail">
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Tham gia
                            </div>
                            <div class="rideroContent">
                                <strong>
                                    30/08/2014
                                </strong>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript" language="javascript">
            /*  $("#btnActive").click(function (jobRequestId)
              {
                 document.getElementById('jrId2').setAttribute("value",jobRequestId);
              })*/

            function btnActive(commentId) {
                document.getElementById('jrId2').setAttribute("value", commentId);
            }
        </script>

    </div>
</div>
