@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	a.myToolTip
    {
        outline: none;
    }

        a.myToolTip strong
        {
            line-height: 30px;
        }

        a.myToolTip:hover
        {
            text-decoration: none;
        }

        a.myToolTip span
        {
            z-index: 10;
            display: none;
            padding: 14px 20px;
            margin-top: 60px;
            margin-left: -160px;
            width: 300px;
            line-height: 16px;
        }

        a.myToolTip:hover span
        {
            display: inline;
            position: absolute;
            border: 2px solid #FFF;
            color: #EEE;
            background: #333 url(cssttp/css-tooltip-gradient-bg.png) repeat-x 0 0;
        }

    .callout
    {
        z-index: 20;
        position: absolute;
        border: 0;
        top: -14px;
        left: 120px;
    }

    a.myToolTip .maidAva2
    {
        float: right;
	    margin-right: -8px;
        width: 60px;
        height: 60px;
    }
    /*CSS3 extras*/
    a.myToolTip span
    {
        border-radius: 2px;
        box-shadow: 0px 0px 8px 4px #666;
        /*opacity: 0.8;*/
    }
</style>
<div class="Menu">
    <div class="rows">
        <div class="hMenu">
            <div class="hFatherMenu">
                <ul class="hmeTabList">
                    <li>
                        <a href="#" class="hefaContent iscurent">Find Work</a>
                    </li>
                    <li>
                        <a href="/MaidMediator/PostRequest" class="hefaContent"> Đăng yêu cầu kiếm việc</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hChildMenu">
        <ul class="hChildMenuList">
            <li class="iscurent">
                <a href="#" class="hChContent"> Job Applications</a>
            </li>
            <li class>
                <a href="#" class="hChContent"> Job Applications</a>
            </li>
        </ul>
    </div>
</div>


<div class="body">
    <div class="rows">
        <div class="row">
            <div class="col-md-8">
                <div class="leftInfo">
                    <div class="mainInfo">
                        <div class="miPic">
                            <img src="../Content/Image/MS-Logo-white.png" alt="Maid sercive" height="100%">
                        </div>
                        <div class="mmiDetail">
                            <div class="miFullName">
                                @Model.FullName
                            </div>
                            <div class="miAccount">
                                Đại diện người giúp việc
                            </div>
                        </div>
                    </div>
                    <div class="box box-danger">
                        <div class="box-header">
                            <h3 class="box-title">Thống kê</h3>
                        </div>
                        <div class="box-body chart-responsive">
                            <div class="chart" id="sales-chart" style="height: 300px; position: relative;">
                                <svg height="300" version="1.1" width="506" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;">
                                    <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#3c8dbc" d="M253,243.33333333333331A93.33333333333333,93.33333333333333,0,0,0,341.227755194977,180.44625304313004" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#3c8dbc" stroke="#ffffff" d="M253,246.33333333333331A96.33333333333333,96.33333333333333,0,0,0,344.0636473262441,181.42488260523066L380.6151459070203,194.03833029452738A135,135,0,0,1,253,285Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#f56954" d="M341.227755194977,180.44625304313004A93.33333333333333,93.33333333333333,0,0,0,169.28484627831415,108.73398312817665" stroke-width="2" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path><path fill="#f56954" stroke="#ffffff" d="M344.0636473262441,181.42488260523066A96.33333333333333,96.33333333333333,0,0,0,166.5940020515457,107.4075754430109L127.42726941747124,88.10097469226497A140,140,0,0,1,385.3416327924655,195.66937956469508Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#00a65a" d="M169.28484627831415,108.73398312817665A93.33333333333333,93.33333333333333,0,0,0,252.97067846904883,243.33332872751785" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#00a65a" stroke="#ffffff" d="M166.5940020515457,107.4075754430109A96.33333333333333,96.33333333333333,0,0,0,252.96973599126824,246.3333285794738L252.9575884998742,284.9999933380169A135,135,0,0,1,131.91200979541867,90.3116541675412Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="253" y="140" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: 800; font-size: 15px; line-height: normal; font-family: Arial;" font-size="15px" font-weight="800" transform="matrix(1.679,0,0,1.679,-171.7745,-100.8242)" stroke-width="0.5956101190476191"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">In-Store Sales</tspan>
                                    </text><text x="253" y="160" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-family: Arial;" font-size="14px" transform="matrix(1.9444,0,0,1.9444,-238.9444,-143.5556)" stroke-width="0.5142857142857143"><tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30</tspan>
                                    </text></svg>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="rightInfo">
                    <ul class="riDetail">
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Tham gia
                            </div>
                            <div class="rideroContent">
                                <strong>@Model.JoinDate
                                </strong>
                            </div>
                        </li>
                    </ul>
                    <div class="riManager">
                        <div class="rimaTitle">
                            Đại diện cho:
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Thêm người đại diện</button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                                        </div>
                                        @using (Html.BeginForm("AddMaid", "MaidMediator", FormMethod.Get, new { name = "addMaidModal" }))
                                        {
                                            <div class="modal-body">
                                                <table border="0">
                                                    <tr>
                                                        <td>Ảnh đại diên:</td>
                                                        <td>
                                                            <img id="maidAvatar" src="../Content/Image/maid_avatar.jpg" /><input id="maidAva" type="file" onchange="uploadMaidAva()">
                                                        <td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tên đầy đủ:</td>
                                                        <td>
                                                            <input id="fullname" type="text" class="form-control" name="fullname">
                                                        <td>
                                                    </tr>
                                                    <tr>
                                                        <td>Thông tin:</td>
                                                        <td>
                                                            <input id="desc" type="text" class="form-control" name="desc">
                                                        <td>
                                                    </tr>
                                                    <tr>
                                                        <td>Địa chỉ:</td>
                                                        <td>
                                                            <input id="address" type="text" class="form-control" name="address">
                                                        <td>
                                                    </tr>
                                                    <tr>
                                                        <td>Số điện thoại:</td>
                                                        <td>
                                                            <input id="phone" type="text" class="form-control" name="phone">
                                                        <td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                                <button type="submit" class="btn btn-primary" onclick="addMaid()" data-dismiss="modal">Lưu</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rimaContent">
                            <ul class="rimaMaidList">
                                @foreach (var maid in ViewBag.MaidList)
                                {                      
                                    <li>
                                        <div class="liImage">
                                            <img src="@maid.PersonalImage" height="100%">
                                        </div>
                                        <div class="liMaidContent">
                                            <div class="licoFullName">
                                                <a href="@Url.Action("ManageMaidProfile", "MaidMediator", new { maidId = maid.MaidId })" class="myToolTip">
                                                    @maid.MaidName
                                                    <span>
                                                        <img class="callout" src="../Content/Image/callout_black.gif" /><img class="maidAva2" src="@maid.PersonalImage" /><strong>Tên đầy đủ: </strong>@maid.MaidName<br />
                                                        <strong>Số điện thoại: </strong>
                                                        <br/>
                                                    </span>
                                                </a>
                                                <div class="licoRate">
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="ricoPost">
                                                    Đăng/nhận
                                                    <span class="ricoPostApply">80</span>/<span class="ricoPostTotal">30</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="rimaMore">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function addMaid() {
        document.forms["addMaidModal"].submit();
    }

    function uploadAva() { //calls the function named uploadAva()
        var preview = document.querySelector('img[class=avatar]'); //selects the query named img
        var file = document.querySelector('input[type=file]').files[0]; //sames as here
        var reader = new window.FileReader();
        reader.onloadend = function () {
            preview.src = reader.result;
            var ava = document.getElementById("ava").src;
            document.getElementById("avaIcon").setAttribute("src", ava);
        };
        if (file) {
            reader.readAsDataURL(file); //reads the data as a URL
        } else {
            preview.src = "";
        }
    }

    function uploadMaidAva() { //calls the function named uploadAva()
        var preview = document.querySelector('img[id=maidAvatar]'); //selects the query named img
        var file = document.querySelector('input[id=maidAva]').files[0]; //sames as here
        var reader = new FileReader();
        reader.onloadend = function () {
            preview.src = reader.result;
            var ava = document.getElementById("ava").src;
            document.getElementById("avaIcon").setAttribute("src", ava);
        };
        if (file) {
            reader.readAsDataURL(file); //reads the data as a URL
        } else {
            preview.src = "";
        }
    }
</script>
