@{
    ViewBag.Title = "Maid Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MS_Website.Models.Maid maid = Model;
}



<div class="Menu">
    <div class="rows">
        <div class="hMenu">
            <div class="hFatherMenu">
                <ul class="hmeTabList">
                    <li>
                        <a href="#" class="hefaContent iscurent">Thông tin</a>
                    </li>
                    <li>
                        <a href="#" class="hefaContent">Đăng yêu cầu công việc</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hChildMenu">
        <ul class="hChildMenuList">
            <li class="iscurent">
                <a href="#" class="hChContent">Các thông tin</a>
            </li>
            <li class>
                <a href="#" class="hChContent">Sửa thông tin</a>
            </li>
        </ul>
    </div>
</div>

<div class="body">
    <div class="rows">
        <div class="row">
            <div class="col-md-8">
                <div class="leftInfo">
                    <div class="mainInfo">
                        <div class="miPic">
                            <img src="@Model.PersonalImage" alt="Maid sercive" height="100%">
                        </div>
                        <div class="mmiDetail">
                            <div class="miFullName">
                                @Model.MaidName
                            </div>
                            <div class="miAccount">
                                Người giúp việc
                            </div>
                            <div class="miRate">
                                @Html.Partial("_PartialStar",(float)maid.RateAvg)
                            </div>
                        </div>
                    </div>
                    <div class="overView">
                        <div class="ovTitle">
                            Tự bạch
                        </div>
                        <div class="ovContent">
                            @Model.Description
                        </div>
                    </div>
                    <div class="boxListWork">
                        <ul class="nav nav-tabs" role="tablist" id="myTab">
                            <li class="active"><a href="#free" role="tab" data-toggle="tab">Chưa được nhận</a></li>
                            <li class><a href="#applied" role="tab" data-toggle="tab">Đã được nhận</a></li>
                            <li class><a href="#approved" role="tab" data-toggle="tab">Đã hoàn tất</a></li>
                            <li class><a href="#expired" role="tab" data-toggle="tab">Hết hạn</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade in active bFree" id="free">
                                <ul class="bFreeListWork">
                                    @foreach (var job in ViewBag.NotApplList)
                                    {
                                        <li id="@job.Job.JobRequestId" onclick="chooseJob(@job.Job.JobRequestId, 2)">
                                            <div class="blImage">
                                                <img src="~/Content/Image/MS-Logo.png" alt="Maid service" height="100%">
                                            </div>
                                            <div class="blDetail">
                                                <div class="blName">
                                                    <a href="@Url.Action("GetJobRequest", "Post", new { jobId = job.Job.JobRequestId })">@job.Job.Title</a>
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Đăng: </span><span
                                                        class="blTimeText">@job.Job.PostTime</span>
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Tới: </span><span
                                                        class="blTimeText">@job.Job.ExpiredTime</span>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <div class="blFooter">
                                    <div class="blfNumber">
                                        <ul class="pagination pagination-sm">
                                            <li><a href="#">&laquo;</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>
                                    </div>
                                    @using (Html.BeginForm("RemoveJob", "MaidMediator"))
                                    {
                                        <input id="hidden" type="hidden" value="" name="jobId" />
                                        <div id="NotAppliedList" style="display: none;" class="blfbutton">
                                            <button type="submit" class="btn btn-danger">Hủy</button>
                                            <button type="button" class="btn btn-info">Gia hạn</button>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade bApplied" id="applied">
                                <div class="bTitle">
                                    <div class="btWork">
                                        Công việc
                                    </div>
                                    <div class="btApply">
                                        Người nhận
                                    </div>
                                </div>
                                <ul class="bApplyListWork">
                                    @foreach (var job in ViewBag.ApplList)
                                    {
                                        <li>
                                            <div class="bAWork">
                                                <div class="blImage">
                                                    <img src="~/Content/Image/MS-Logo.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="#">@job.Job.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Đăng: </span><span
                                                            class="blTimeText">@job.Job.PostTime</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bACus">
                                                <div class="blImage">
                                                    <img src="~/Content/Image/MS-Logo.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="#">@job.Recruitment.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Nhận: </span><span
                                                            class="blTimeText">@job.Job.ApplyTimes</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <div class="blFooter">
                                    <div class="blfNumber">
                                        <ul class="pagination pagination-sm">
                                            <li><a href="#">&laquo;</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade bApplied" id="approved">
                                <div class="bTitle">
                                    <div class="btWork">
                                        Công việc
                                    </div>
                                    <div class="btApply">
                                        Người nhận
                                    </div>
                                </div>
                                <ul class="bApplyListWork">
                                    @foreach (var job in ViewBag.ApprList)
                                    {
                                        <li>
                                            <div class="bAWork">
                                                <div class="blImage">
                                                    <img src="~/Content/Image/MS-Logo.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="#">@job.Job.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Đăng: </span><span
                                                            class="blTimeText">@job.Job.PostTime</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bACus">
                                                <div class="blImage">
                                                    <img src="~/Content/Image/MS-Logo.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="#">@job.Recruitment.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Nhận: </span><span
                                                            class="blTimeText">@job.Job.ApplyTimes</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <div class="blFooter">
                                    <div class="blfNumber">
                                        <ul class="pagination pagination-sm">
                                            <li><a href="#">&laquo;</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade bExprred" id="expired">
                                <ul class="bexpiredListWork">
                                    @foreach (var job in ViewBag.ExpiredList)
                                    {
                                        <li id="@job.Job.JobRequestId" onclick="chooseJob(@job.Job.JobRequestId, 3)">
                                            <div class="blImage">
                                                <img src="~/Content/Image/MS-Logo.png" alt="Maid service" height="100%">
                                            </div>
                                            <div class="blDetail">
                                                <div class="blName">
                                                    <a href="@Url.Action("GetJobRequest", "Post", new { jobId = job.Job.JobRequestId })">@job.Job.Title</a>
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Đăng: </span><span
                                                        class="blTimeText">@job.Job.PostTime</span>
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Tới: </span><span
                                                        class="blTimeText">@job.Job.ExpiredTime</span>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <div class="blFooter">
                                    <div class="blfNumber">
                                        <ul class="pagination pagination-sm">
                                            <li><a href="#">&laquo;</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>
                                    </div>
                                    @using (Html.BeginForm("RemoveJob", "MaidMediator", FormMethod.Get, new { name = "RemoveJobForm" }))
                                    {
                                        <input id="jobId" type="hidden" value="" name="jobId" />
                                        <div id="ExpiredButton" style="display: none;" class="blfbutton">
                                            <button type="button" class="btn btn-danger" onclick="removeJob()">Xóa</button>
                                            <button type="button" class="btn btn-info">Gia hạn</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <script>
                            $(function () {
                                $('#myTab a:selected').tab('show');
                            })
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rightInfo">
                    <ul class="riDetail">
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Điện thoại
                            </div>
                            <div class="rideroContent">
                                <strong>@Model.Phone
                                </strong>
                            </div>
                        </li>
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Kinh nghiệm
                            </div>
                            <div class="rideroContent">
                                <strong>@Model.Experience năm
                                </strong>
                            </div>
                        </li>
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Đánh giá
                            </div>
                            <div class="rideroContent">
                                <strong>@Model.RateAvg điểm
                                </strong>
                            </div>
                        </li>
                    </ul>
                    <div class="riManager">
                        <div class="rimaTitle">
                            Quản lý bởi
                        </div>
                        <div class="rimaContent">
                            <div class="rimacoImage">
                                <img src="@ViewBag.MaidManager.Avatar" alt="Maid sercive" height="100%">
                            </div>
                            <div class="rimacoFullname">
                                <a href="#">@ViewBag.MaidManager.Fullname</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var chosenId = 0;
    function chooseJob(jobId, type) {
        if (chosenId != 0) {
            document.getElementById(chosenId).setAttribute("class", "");
        }
        if (jobId != chosenId) {
            document.getElementById(jobId).setAttribute("class", "isCurent");
            chosenId = jobId;
            document.getElementById("jobId").setAttribute("value", jobId);
        } else {
            document.getElementById(jobId).setAttribute("class", "");
            chosenId = 0;
            type = 0;
        }
        if (type == 2) {
            document.getElementById("ExpiredButton").setAttribute("style", "display: none;");
            document.getElementById("NotAppliedList").setAttribute("style", "");
        } else if (type == 3) {
            document.getElementById("ExpiredButton").setAttribute("style", "");
            document.getElementById("NotAppliedList").setAttribute("style", "display: none;");
        } else if (type == 0) {
            document.getElementById("ExpiredButton").setAttribute("style", "display: none;");
            document.getElementById("NotAppliedList").setAttribute("style", "display: none;");
        }
    }

    function removeJob() {
        document.forms["RemoveJobForm"].submit();
    }
</script>

