<style>
    .detailBox {
        /* width:320px;
    border:1px solid #bbb;
    margin:50px;*/
    }

    .titleBox {
        background-color: #fdfdfd;
        padding: 10px;
    }

        .titleBox label {
            color: #444;
            margin: 0;
            display: inline-block;
        }

    .commentBox {
        padding: 10px;
        border-top: 1px dotted #bbb;
    }

        .commentBox .form-group:first-child, .actionBox .form-group:first-child {
            width: 80%;
        }

        .commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
            width: 18%;
        }

    .actionBox .form-group * {
        width: 100%;
    }

    .taskDescription {
        margin-top: 10px 0;
    }

    .commentList {
        padding: 0;
        list-style: none;
        max-height: 200px;
        overflow: auto;
    }

        .commentList li {
            margin: 0;
            margin-top: 10px;
        }

            .commentList li > div {
                display: table-cell;
            }

    .commenterImage {
        width: 30px;
        margin-right: 5px;
        height: 100%;
        float: left;
    }

        .commenterImage img {
            width: 100%;
            border-radius: 50%;
        }

    .commentText p {
        margin: 0;
    }

    .sub-text {
        color: #aaa;
        font-family: verdana;
        font-size: 11px;
    }

    .actionBox {
        /*  border-top:1px dotted #bbb;
    padding:10px;*/
    }

    .form-inline {
        margin-top: 10px;
    }
</style>

@{
    var comments = (List<MS_Website.Models.Comment>)ViewBag.Comment;
}

<div class="detailBox">
    <div class="actionBox">
        <ul class="commentList">
            @if (comments != null)
            {
                foreach (var comment in comments)
                {
                <li>
                    <div class="commenterImage">
                        <img src="@ViewBag.Customer.Avatar">
                    </div>
                    <div class="commentText">
                        <p class="">@comment.CommentContent</p>
                        <span class="date sub-text">Đăng: @String.Format("{0:d/M/yyyy}", comment.PostTime)</span>
                    </div>
                </li>
                }
            }
        </ul>
        @if (ViewBag.CusId != null)
        {
            if (Session["AccId"] != null)
            {
                if ((int)Session["AccId"] == (int)ViewBag.CusId)
                {
                    using (Html.BeginForm("CommentJobRequest", "Post", FormMethod.Post, new {@class = "form-inline"}))
                    {
                        <input name="cusId" type="hidden" value="@ViewBag.CusId"/>
                        <input name="jrId" type="hidden" value="@ViewBag.jrid"/>

                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Nhận xét của bạn" name="content">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Đăng</button>
                        </div>
                    }
                }
            }
        }
    </div>
</div>




