@{
    ViewBag.Title = "Index";
    Layout = "";
    MS_Website.Controllers.JreRcr JreRcr = ViewBag.JreRcr;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/Content/Image/favicon.ico")"/>
    @Scripts.Render("~/Scripts/jquery-1.8.2.min.js")
    @Styles.Render("~/Content/bootstrap-3.2.0/css/bootstrap.min.css")
    @Scripts.Render("~/Content/bootstrap-3.2.0/js/bootstrap.min.js")

    <link href="~/Content/Style/Home.css" rel="stylesheet">
    @Styles.Render("~/Content/Style/profilePage.css")
</head>
<body>
    <div class="header">
        <div class="rows">
            <div class="logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="../Content/Image/MS-Logo-white.png" alt="Maid service"
                        style="margin-top: -18px; margin-bottom: -14px; width: 80px;"></a>
            </div>
            <div class="search">
                @Html.Partial("_PartialSearch")
            </div>
            <div class="siteLinks">
                <li>
                    <a href="#"></a>

                </li>
            </div>
            <div>
                @Html.Partial("_PartialAccount")
            </div>
        </div>
    </div>

    <div class="banner">
        <div class="rows">
            <div class="heading">
                <span class="firstHeading">Cuộc sống hiệu quả...</span>
                <br />
                <span class="secondHeading">khi sử dụng dịch vụ người giúp việc</span>
            </div>
        </div>
        <div class="rows">
            <div class="welcom">
                <p class="textWelcom">Chào mừng tới trang web <strong>dịch vụ người giúp việc</strong>, hiện có <strong>hơn 100</strong> người giúp việc và công việc yêu cầu hằng ngày.</p>
            </div>
        </div>
        <div class="rows">
            <div class="shotcutButton">
                <a href="@Url.Action("PostRecruitRedirect", "Home")" class="sb sb1 btn btn-default">Yêu cầu người giúp việc</a>
                <a href="@Url.Action("PostJobRedirect", "Home")" class="sb sb2 btn btn-default">Làm sao để có việc</a>
            </div>
        </div>
        <div class="background">
            <img class="w1" src="../Content/Image/Home/men.png">
            <img class="w2" src="../Content/Image/Home/women.png">
            <!--<img class="bg" src="../Content/Image/background_blur.jpg">-->
        </div>
    </div>

    <div id="body">
        <div style="margin: 0 auto; width: 820px">
            <div class="row">
                <div class="col-md-3">
                    <div id="bodyLeft">
                        <div class="advertising">
                        </div>
                        <div class="shortCutLink">
                            <div class="scContentBox">
                                <div class="scTitle">
                                    Bạn muốn có việc làm?
                                </div>
                                <div class="scContent">
                                    <img src="../Content/Image/Home/background_blur.jpg" style="width: 100%;">
                                    <a href="@Url.Action("PostJobRedirect", "Home")"><button type="button" class="btn btn-info">Đăng</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="shortCutLink">
                            <div class="scContentBox">
                                <div class="scTitle">
                                    Bạn muốn tìm người giúp việc?
                                </div>
                                <div class="scContent">
                                    <img src="../Content/Image/Home/background_blur.jpg" style="width: 100%;">
                                    <a href="@Url.Action("PostRecruitRedirect", "Home")"><button type="button" class="btn btn-info">Đăng</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="shortCutLink">
                            <div class="scContentBox">
                                <div class="scTitle">
                                    Thông báo
                                </div>
                                <div class="scContent">
                                    <span>
                                        <strong>MS - Tuyển dụng lưu ý:</strong><br />
                                        Tài khoản tuyển dụng không đăng quá 05 tin cho cùng một chuyên mục.
Bạn không phải trả bất kỳ khoản phí nào hay phải mất tiền tổng đài, tin nhắn, đào tạo kỹ năng... <a href="#">Xem thêm</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="bodyCenter">
                        <div class="tab-content">
                            @{
                                string cssActiveTabMaid = "";
                                string cssActiveTabCus = "";
                                string pagingMaid = "none";
                                string pagingCus = "none";
                                if (ViewBag.flagRec)
                                {
                                    cssActiveTabCus = "in active";
                                    cssActiveTabMaid = "";
                                    pagingMaid = "none";
                                    pagingCus = "block";
                                }
                                if (ViewBag.flagJob)
                                {
                                    cssActiveTabCus = "";
                                    cssActiveTabMaid = "in active";
                                    pagingMaid = "block";
                                    pagingCus = "none";
                                }
                                if (!ViewBag.flagRec && !ViewBag.flagJob)
                                {
                                    cssActiveTabMaid = "in active";
                                    pagingMaid = "block";
                                }
                                int pageJob = (int)ViewBag.pageJob;
                                int pageRec = (int)ViewBag.pageRec;
                            }
                            <ul class="pagination pagination-sm pagingIndex" id="pagingTabMaid" style="display: @pagingMaid">
                                @{
                                    for (int i = 1; i <= (int) ViewBag.NumPageRec; i++)
                                    {
                                        <li class="@(pageJob == i ? "active" : "")"><a href="@Url.Action("Index", "Home", new { pageJob = i, job = true, rec = false })">@i</a></li>
                                    }
                                }
                            </ul>
                            <ul class="pagination pagination-sm pagingIndex" id="pagingtabCustomer" style="display: @pagingCus">
                                @{
                                    for (int i = 1; i <= (int)ViewBag.NumPageJob; i++)
                                    {
                                     <li class="@(pageRec == i ? "active" : "")"><a href="@Url.Action("Index", "Home", new { pageRec = i, job = false, rec = true })">@i</a></li>
                                    }
                                }
                               </ul>
                            <ul class="nav nav-tabs listTitle" role="tablist" id="myTab">
                                <li class="@cssActiveTabMaid" id="tabMaidsLi"><a href="#tabMaids" role="tab" data-toggle="tab">Việc tìm người</a></li>
                                <li class="@cssActiveTabCus" id="tabCustomerLi"><a href="#tabCustomer" role="tab" data-toggle="tab">Người tìm việc</a></li>
                            </ul>

                            <div class="tab-pane fade @cssActiveTabMaid" id="tabMaids">
                                <div class="listWork">
                                    <div class="mainContent">
                                        <ul>
                                            @foreach (var jobRequestTemp in JreRcr.jobRequestTemps)
                                            {
                                                <li class="childContent">
                                                    <div class="function">
                                                        <div class="image">
                                                            <img src="@jobRequestTemp.Maid.PersonalImage" alt="Maid service" style="width: 100%;">
                                                        </div>
                                                    </div>
                                                    <div class="info">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="name">
                                                                    <a href="@Url.Action("GetJobRequest","Post",new {jobId=jobRequestTemp.Job.JobRequestId})">@jobRequestTemp.Job.Title</a>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="love">
                                                                    <span class="glyphicon glyphicon-heart"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="rate">
                                                            @(jobRequestTemp.Maid.RateAvg != null ? Html.Partial("_PartialStar", (float)jobRequestTemp.Maid.RateAvg) : Html.Partial("_PartialStar", 0))

                                                        </div>
                                                        <div class="detailInfo">
                                                            <strong>Đăng lúc: </strong><span>@jobRequestTemp.Job.PostTime</span>
                                                        </div>
                                                        <div class="description">
                                                            @jobRequestTemp.Maid.Description
                                                        </div>
                                                        <div class="skill">
                                                            <ul>
                                                                @foreach (var skill in jobRequestTemp.SkillList)
                                                                {
                                                                    <li class="childSkill">
                                                                        <span class="skillText">@skill</span>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade @cssActiveTabCus" id="tabCustomer">
                                <div class="listWork">
                                    <div class="mainContent">
                                        <ul>
                                            @foreach (var recruitmentTemp in JreRcr.recruitmentTemps)
                                            {
                                                <li class="childContent">
                                                    <div class="function">
                                                        <div class="image">
                                                            <img src="../Content/Image/rc.png" alt="Maid service" style="width: 100%;">
                                                        </div>
                                                    </div>
                                                    <div class="info">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="name">
                                                                    <a href="@Url.Action("GetRecruitment","Post",new {jobId=recruitmentTemp.Recruitment.RecruitmentId})">@recruitmentTemp.Recruitment.Title</a>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="love">
                                                                    <span class="glyphicon glyphicon-heart"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="detailInfo">
                                                            <strong>Đăng lúc: </strong><span>@recruitmentTemp.Recruitment.PostTime</span>
                                                        </div>
                                                        <div class="skill">
                                                            <ul>
                                                                @foreach (var skill in recruitmentTemp.SkillList)
                                                                {
                                                                    <li class="childSkill">
                                                                        <span class="skillText">@skill</span>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            }

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_PartialFooter")
</body>
</html>



<script>
    $(function () {
        $('#myTab a:selected').tab('show');

    });
    $('#tabMaidsLi').click(function () {
        $('#pagingTabMaid').css({ display: "block" });
        $('#pagingtabCustomer').css({ display: "none" });
    });
    $('#tabCustomerLi').click(function () {
        $('#pagingTabMaid').css({ display: "none" });
        $('#pagingtabCustomer').css({ display: "block" });
    });

</script>
