@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Style/Home.css" rel="stylesheet">

<div class="Menu">
    <div class="rows">
        <div class="searchOnPage">
            @Html.Partial("_PartialSearch")
        </div>
        <div class="hMenu">
            <div class="hFatherMenu">
                <ul class="hmeTabList">
                    <li>
                        <a href="#" class="hefaContent iscurent">Find Work</a>
                    </li>
                    <li>
                        <a href="#" class="hefaContent">Find Work</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hChildMenu">
        <ul class="hChildMenuList">
            <li class="iscurent">
                <a href="#" class="hChContent">Job Applications</a>
            </li>
            <li class>
                <a href="#" class="hChContent">Job Applications</a>
            </li>
        </ul>
    </div>
</div>

<div id="body">
    <div style="margin: 0 auto; width: 820px">
        <div class="row">
            <div class="col-md-3">
                <div id="bodyLeft">
                    <div class="advertising">
                    </div>
                    @using (Html.BeginForm("AdvancedSearch", "Search", FormMethod.Get, new { name = "searchForm" }))
                    {
                        <div class="shortCutLink">
                            <div class="scContentBox">
                                <div class="scTitle">
                                    Giới tính
                                </div>
                                <div class="scContent">
                                    <input type="radio" name="gender" value="Nam" onclick="search()" @(ViewBag.Gender != null && ViewBag.Gender.Equals("Nam") ? "checked" : "")/>Nam<br />
                                    <input type="radio" name="gender" value="Nữ" onclick="search()" @(ViewBag.Gender != null && ViewBag.Gender.Equals("Nữ") ? "checked" : "")/>Nữ<br />
                                    <input type="radio" name="gender" value="all" onclick="search()" @(ViewBag.Gender != null && ViewBag.Gender.Equals("all") ? "checked" : "")/>Tất cả
                                </div>
                            </div>
                        </div>
                        <div class="shortCutLink">
                            <div class="scContentBox">
                                <div class="scTitle">
                                    Tuổi
                                </div>
                                <div class="scContent">
                                    <input type="radio" name="age" value="15-20" onclick="search()" @(ViewBag.Age != null && ViewBag.Age.Equals("15-20") ? "checked" : "")/>15-20<br />
                                    <input type="radio" name="age" value="21-30" onclick="search()" @(ViewBag.Age != null && ViewBag.Age.Equals("21-30") ? "checked" : "")/>21-30<br />
                                    <input type="radio" name="age" value="31-40" onclick="search()" @(ViewBag.Age != null && ViewBag.Age.Equals("31-40") ? "checked" : "")/>31-40<br />
                                    <input type="radio" name="age" value="all" onclick="search()" @(ViewBag.Age != null && ViewBag.Age.Equals("all") ? "checked" : "")/>Tất cả
                                </div>
                            </div>
                        </div>
                        <div class="shortCutLink">
                            <div class="scContentBox">
                                <div class="scTitle">
                                    Lương
                                </div>
                                <div class="scContent">
                                    <input type="radio" name="salary" value="low" onclick="search()" @(ViewBag.Salary != null && ViewBag.Salary.Equals("low") ? "checked" : "")/>Dưới 3 triệu<br />
                                    <input type="radio" name="salary" value="average" onclick="search()" @(ViewBag.Salary != null && ViewBag.Salary.Equals("average") ? "checked" : "")/>3-5 triệu<br />
                                    <input type="radio" name="salary" value="high" onclick="search()" @(ViewBag.Salary != null && ViewBag.Salary.Equals("high") ? "checked" : "")/>Trên 5 triệu<br />
                                    <input type="radio" name="salary" value="all" onclick="search()" @(ViewBag.Salary != null && ViewBag.Salary.Equals("all") ? "checked" : "")/>Tất cả
                                </div>
                            </div>
                        </div>
                        <div class="shortCutLink">
                            <div class="scContentBox">
                                <div class="scTitle">
                                    Loại công việc
                                </div>
                                <div class="scContent">
                                    @foreach (var skill in ViewBag.SkillList)
                                        {
                                            var isChecked = false;
                                            if (ViewBag.CheckedList != null)
                                            {
                                                foreach (var check in ViewBag.CheckedList)
                                                {
                                                    if (!check.Equals(skill.SkillNameVietnam))
                                                    {
                                                        continue;
                                                    }
                                                    isChecked = true;
                                                    break;
                                                }
                                            }
                                            <input type="checkbox" name="@skill.SkillName" value="@skill.SkillNameVietnam" onclick="search()" @(isChecked ? "checked" : "")/>
                                    @skill.SkillNameVietnam<br />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="shortCutLink">
                            <div class="scContentBox">
                                <div class="scTitle">
                                    Thời gian đăng bài
                                </div>
                                <div class="scContent">
                                    <input type="radio" name="time" value="1" onclick="search()" @(ViewBag.Time != null && ViewBag.Time.Equals("1") ? "checked" : "")/>Cách đây 1 ngày<br />
                                    <input type="radio" name="time" value="3" onclick="search()" @(ViewBag.Time != null && ViewBag.Time.Equals("3") ? "checked" : "")/>Cách đây 3 ngày<br />
                                    <input type="radio" name="time" value="7" onclick="search()" @(ViewBag.Time != null && ViewBag.Time.Equals("7") ? "checked" : "")/>Cách đây 7 ngày<br />
                                    <input type="radio" name="time" value="14" onclick="search()" @(ViewBag.Time != null && ViewBag.Time.Equals("14") ? "checked" : "")/>Cách đây 14 ngày<br />
                                    <input type="radio" name="time" value="30" onclick="search()" @(ViewBag.Time != null && ViewBag.Time.Equals("30") ? "checked" : "")/>Cách đây 30 ngày<br />
                                    <input type="radio" name="time" value="all" onclick="search()" @(ViewBag.Time != null && ViewBag.Time.Equals("all") ? "checked" : "")/>Tất cả
                                </div>
                            </div>
                        </div>
                    }
                    <div class="shortCutLink">
                        <div class="scContentBox">
                            <div class="scTitle">
                                Thông báo
                            </div>
                            <div class="scContent">
                                <span>
                                    <strong>MS - Tuyển dụng lưu ý:</strong><br />
                                    Tài khoản tuyển dụng không đăng quá 05 tin cho cùng một chuyên mục. 
                            Bạn không phải trả bất kỳ khoản phí nào hay phải mất tiền tổng đài, tin nhắn, đào tạo kỹ năng... <a href="#">Xem thêm</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div id="bodyCenter">
                    <div class="tab-content">
                        <ul class="nav nav-tabs listTitle" role="tablist" id="myTab">
                            @if (ViewBag.JobRequest != null)
                            {
                                <li class="active"><a href="#tabMaids" role="tab" data-toggle="tab">Việc tìm người thuê</a></li>
                            }
                            @if (ViewBag.Recruitment != null)
                            {
                                <li class="@(ViewBag.JobRequest == null ? "active" : "")" ><a href="#tabCustomer" role="tab" data-toggle="tab">Công việc cần người</a></li>
                            }
                        </ul>
                        @if (ViewBag.JobRequest != null)
                        {
                            <div class="tab-pane fade in active" id="tabMaids">
                                <div class="listWork">
                                    @*<div class="listHeader">
                                    <div class="listRow">
                                        <div class="listTitle">
                                            Việc tìm người thuê
                                        </div>
                                        <div class="listPage">
                                            <ul class="pagination">
                                                <li class="disabled"><a href="#">&laquo;</a></li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">&raquo;</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>*@
                                    <div class="mainContent">
                                        <ul>
                                            @foreach (var job in ViewBag.JobRequest)
                                            {
                                                <li class="childContent">
                                                    <div class="function">
                                                        <div class="image">
                                                            <img src="@job.MaidImg" alt="Maid service" style="width: 100%;">
                                                        </div>
                                                        <div class="button">
                                                            <button type="button" class="btn btn-success btn-xs">Thuê <span class="glyphicon glyphicon-ok"></span></button>
                                                            <button type="button" style="display: none" class="btn btn-warning btn-xs">Bỏ thuê <span class="glyphicon glyphicon-remove"></span></button>
                                                        </div>
                                                    </div>
                                                    <div class="info">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="name">
                                                                    <a href="@Url.Action("Index", "Post", new { jobId = job.JobRequestId })">@job.MaidName</a>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="love">
                                                                    <span class="glyphicon glyphicon-heart"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="rate">
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                        </div>
                                                        <div class="detailInfo">
                                                            <strong>Đăng lúc: </strong><span>6:00 20/08/1991</span><span> | </span><strong>Bình luận: </strong><span>3</span>
                                                        </div>

                                                        <div class="description">
                                                            @job.MaidDesc
                                                        </div>
                                                        <div class="skill">
                                                            <ul>
                                                                @foreach (var skill in job.SkillList)
                                                                {
                                                                    <li class="childSkill"><span class="skillText">@skill</span></li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (ViewBag.Recruitment != null)
                        {
                            <div class="@(ViewBag.JobRequest == null ? "tab-pane fade in active" : "tab-pane fade")" id="tabCustomer">
                                <div class="listWork">
                                    @*<div class="listHeader">
                                    <div class="listRow">
                                        <div class="listTitle">
                                            Công việc cần người
                                        </div>
                                        <div class="listPage">
                                            <ul class="pagination">
                                                <li class="disabled"><a href="#">&laquo;</a></li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">&raquo;</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>*@
                                    <div class="mainContent">
                                        <ul>
                                            @foreach (var recruit in ViewBag.Recruitment)
                                            {
                                                <li class="childContent">
                                                    <div class="function">
                                                        <div class="image">
                                                            <img src="@recruit.CustImg" alt="Maid service" style="width: 100%;">
                                                        </div>
                                                        <div class="button">
                                                            <button type="button" class="btn btn-success btn-xs">Nhận việc <span class="glyphicon glyphicon-ok"></span></button>
                                                            <button type="button" style="display: none" class="btn btn-success btn-xs">Hủy việc <span class="glyphicon glyphicon-remove"></span></button>
                                                        </div>

                                                    </div>
                                                    <div class="info">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="name">
                                                                    <a href="#">@recruit.CustomerName</a>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="love">
                                                                    <span class="glyphicon glyphicon-heart"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="detailInfo">
                                                            <strong>Đăng lúc: </strong><span>6:00 20/08/1991</span>
                                                        </div>
                                                        <div class="description">
                                                        </div>
                                                        <div class="skill">
                                                            <ul>
                                                                @foreach (var skill in recruit.SkillList)
                                                                {
                                                                    <li class="childSkill"><span class="skillText">@skill</span></li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#myTab a:selected').tab('show');
    });

    function search() {
        document.forms["searchForm"].submit();
    }
</script>
