@model MS_Website.Models.Account

@{
    ViewBag.Title = "Đăng ký";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Đăng kí</title>
    <link href="~/Content/Style/Signup/create-account.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Style/Signup/globals.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Style/Signup/signup.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
</head>
<body>
    <div id="main" role="main" class="oPageCentered oContentContainer">


        <div class="oLayout oLayoutSearch oWidget ">
            <div class="oSignup">

                <div class="oTitleWrapper">
                    <h1 class="txtCenter">Tạo tài khoản</h1>
                    <div id="Div1" class="oHidden">
                        <h1 class="oHidden">Tài khoản tồn tại</h1>
                        <p>
                            Tài khoản đã tồn tại ("<span id="Span1"></span>")<a href="#">Đăng nhập</a>
                        </p>
                        <div class="txtCenter">
                            <button id="Button1" class="oBtn oBtnSecondary">OK</button>
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("AddAccount", "Home", FormMethod.Post, new { @class = "oSignupForm", @name = "registerForm", @id="registerForm"}))
                {
                    <div class="oSignupHelp "></div>
                    <div class="oSignupFields">
                        <article class="oSignupHelp oSignupHelpContractor "></article>
                        <div class="oFormField">
                            @Html.TextBoxFor(m => m.FullName, new { @class = "oInputText oFormMed", @id = "txtFullName", @placeholder = "Họ và tên",@maxlength="50"})
                        </div>
                        <div class="oFormField">
                            @Html.TextBoxFor(m => m.Email, new { @class = "oInputText oFormMed", @placeholder = "Email", @id = "txtEmail",@name="email" })
                            <div id="ExpErr"></div>
                        </div>
                        <div class="oFormField">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "oInputText oFormMed", @placeholder = "Điện thoại" , @id="txtPhone"})
                            <div id="PhoneErr"></div>
                            
                        </div>
                        <div class="oFormField">
                            <select name="Role" class="oInputText oFormMed">
                                <option value="Customer">Khách hàng</option>
                                <option value="MaidMediator">Đại diện người giúp việc</option>
                            </select>
                        </div>
                        <div class="oFormField">
                            @Html.TextBoxFor(m => m.Username, new { @class = "oInputText oFormMed", @placeholder = "Tên đăng nhập", @id = "txtUsername",@name="username" })
                            <div id="textBlank"></div>
                        </div>

                        <div class="oFormField">
                            @Html.PasswordFor(m => m.Password, new { @class = "oInputText oFormMed", @placeholder = "Mật khẩu", @id = "txtPassword",@name="password" })
                            <div id="passwordBlank"></div>
                        </div>
                        <div class="oFormField">
                            @Html.PasswordFor(m => m.Password, new { @class = "oInputText oFormMed", @placeholder = "Nhập lại mật khẩu", @id = "txtConfirmPassword" })
                           <div id="CPErr"></div>
                        </div>
                        @if (ViewBag.Err != null)
                        {
                            <font color="red">@ViewBag.Err</font>
                        }
                        <div class="oFormField oSupportInfo txtCenter oFieldValue-terms">
                            Với việc tạo tài khoản Bạn đồng ý với các quy định và bảo mật của Maid Service.       
                        </div>
                        <div class="oFormField">
                            <div id="submit-element">
                                <input type="submit" name="submit" id="validate" value="Đăng kí" class="oBtn oBtnVisitorPrimary oBtnLarge w100 oSignupSubmit">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" language="javascript">
    $("#validate").click(function () {
        console.debug("sdf");
        var errText = "";
        var phone = new RegExp('^[0-9]+$');
        var email = new RegExp('^[_a-z0-9-]+(\.[_a-z0-9-]+)*@@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$');
        if (phone.test($("#txtPhone").val()) == false) {
            errText = "<font color='red'>Vui lòng nhập số</font>";
            document.getElementById("PhoneErr").innerHTML = errText;
            return false;
        } else {
            errText = "";
            document.getElementById("PhoneErr").innerHTML = errText;
        }
        if (email.test($("#txtEmail").val()) == false) {
            errText = "<font color='red'>Vui lòng nhập đúng định dạng abc@abc.abc</font>";
            document.getElementById("ExpErr").innerHTML = errText;
            return false;
        } else {
            errText = "";
            document.getElementById("ExpErr").innerHTML = errText;
        }
        if ($("#txtUsername").val().trim() == "") {
            errText = "<font color='red'>Vui lòng nhập tên đăng nhập</font>";
            document.getElementById("textBlank").innerHTML = errText;
            return false;
        } else {
            errText = "";
            document.getElementById("textBlank").innerHTML = errText;
        }
        if ($("#txtPassword").val().trim() == "") {
            errText = "<font color='red'>Vui lòng nhập mật khẩu</font>";
            document.getElementById("passwordBlank").innerHTML = errText;
            return false;
        } else {
            errText = "";
            document.getElementById("passwordBlank").innerHTML = errText;
        }
        if ($("#txtConfirmPassword").val().trim() != $("#txtPassword").val()) {
            errText = "<font color='red'>Mật khẩu không trùng khớp</font>";
            document.getElementById("CPErr").innerHTML = errText;
            return false;
        } else {
            errText = "";
            document.getElementById("CPErr").innerHTML = errText;
        }
    });
    </script>
</html>
