@using MS_Website.Models
@{
    ViewBag.Title = "Đăng yêu cầu kiếm việc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.AddJob = true;
}

<div class="Menu">
    @Html.Partial("_PartialMenu")
</div>


<div class="body">
    <div class="rows">
        <div class="row">
            <div class="titlePage">Đăng yêu cầu công việc</div>
            @using (Html.BeginForm("AddRequest", "MaidManager", FormMethod.Post))
            {
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Đăng cho
                        </div>
                        <div class="col-md-8">
                            <div class="boxPostJRUser">
                                <div class="postOpenButton">
                                    <button class="btn btn-primary" data-toggle="modal" data-target=".chooseMaidModel" onclick="return cancel()">
                                        Chọn người
                                    </button>
                                </div>
                                <div>
                                    <div class="liImage">
                                        <img id="maidImg" src="../Content/Image/MS-Logo.png" alt="Maid sercive" height="100%">
                                    </div>
                                    <div class="liMaidContent">
                                        <div class="licoFullName">
                                            <a href="#" id="maidName">Tên người giúp việc</a>
                                        </div>
                                        <div class="licoRate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                        </div>
                                        <div class="ricoPost">
                                            Đăng/nhận
                                            <span class="ricoPostApply">80</span>/<span class="ricoPostTotal">30</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade chooseMaidModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header chooseMaidModalTitle">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span><span
                                            class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="mySmallModalLabel">Chọn một trong số những người mà bạn đang quản
                                        lý</h4>
                                </div>
                                <div class="modal-body chooseMaidModalMaid">
                                    @foreach (var maid in ViewBag.MaidList)
                                    {
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="@maid.MaidId">
                                                <div>
                                                    <div class="liImage">
                                                        <img id="@maid.MaidId img" src="@maid.PersonalImage" alt="Maid sercive" height="100%">
                                                    </div>
                                                    <div class="liMaidContent">
                                                        <div class="licoFullName">
                                                            <a href="#" id="@maid.MaidId name">@maid.MaidName</a>
                                                        </div>
                                                        <div class="licoRate">
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                        </div>
                                                        <div class="ricoPost">
                                                            Đăng/nhận
                                                            <span class="ricoPostApply">80</span>/<span class="ricoPostTotal">30</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="chooseMaid()" style="margin-left: 75px; margin-bottom: 10px;">Đồng ý</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Tiêu đề 
                        </div>
                        <div class="col-md-8">
                            <input class="form-control input-lg text" maxlength="1000" name="title" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Các kỹ năng
                        </div>
                        <div class="col-md-8">
                            <div class="boxPostJRSkill">
                                <div class="skillPost">
                                    <div class="postOpenButton">
                                        <button class="btn btn-primary" data-toggle="modal" data-target=".chooseSkillModel" onclick="return cancel()">
                                            Thêm kỹ năng
                                        </button>
                                    </div>
                                    <ul id="chosenSkills">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade chooseSkillModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header chooseMaidModalTitle">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span><span
                                            class="sr-only">Close</span></button>
                                    <h4 class="modal-title">Chọn các kỹ năng cho công việc</h4>
                                </div>
                                <div class="modal-body chooseMaidModalSkill">
                                    <div class="moskCategory">
                                        <div class="moskCategoryName">
                                            Yêu cầu về công việc
                                        </div>
                                        <div class="moskCategoryContent">
                                            <div class="moskSkill">
                                                <div class="moskSkillName">
                                                    Lưu trú
                                                </div>
                                                <div class="moskSkillContent">
                                                    <select class="form-control" id="stay" name="stay">
                                                        <option id="stay_null" value="null">--</option>
                                                        @foreach (var item in ViewBag.StayList)
                                                        {
                                                            <option value="@item.SkillString">@item.SkillString</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="moskSkill">
                                                <div class="moskSkillName">
                                                    Mức lương
                                                </div>
                                                <div class="moskSkillContent">
                                                    <select class="form-control" id="salary" name="salary">
                                                        <option id="salary_null" value="null">--</option>
                                                        @foreach (var item in ViewBag.SalaryList)
                                                        {
                                                            <option value="@item.SkillString">@item.SkillString</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="moskSkill">
                                                <div class="moskSkillName">
                                                    Kiểu công việc
                                                </div>
                                                <div class="moskSkillContent">
                                                    <select class="form-control" id="work" name="work">
                                                        <option id="work_null" value="null">--</option>
                                                        @foreach (var item in ViewBag.WorkList)
                                                        {
                                                            <option value="@item.SkillString">@item.SkillString</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="moskCategory">
                                        <div class="moskCategoryName">
                                            Chọn các công việc muốn làm
                                        </div>
                                        <div class="moskCategoryContent">
                                            @foreach (var item in ViewBag.SkillList)
                                            {
                                                <div class="moskSkill">
                                                    <div class="moskSkillName">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input id="@item.SkillNameVietnam" class="skill" type="checkbox" value="@item.SkillNameVietnam" name="@item.SkillName"/>
                                                                @item.SkillNameVietnam
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" style="margin-left: 400px; margin-bottom: 10px;" onclick="addSkill()">Đồng ý</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Thời hạn đăng
                        </div>
                        <div class="col-md-8">
                            <select id="time" class="form-control" name="time">
                                <option value="1">1 tuần</option>
                                <option value="2">2 tuần</option>
                                <option value="3">3 tuần</option>
                                <option value="4">4 tuần</option>
                                <option value="5">5 tuần</option>
                            </select>
                            <span class="postJRTimeTotal">Tổng <span>1</span> * <span
                                class="postJRTimePrice">25.000</span> = <span class="postJRTimePriceTotal">25.000</span> đồng</span>
                            <span class="postJRTimeDetail">Đơn giá hiện tại <span
                                class="postJRTimePrice">25.000</span> đồng/Tuần</span>
                        </div>
                    </div>
                </div>                
                <div>
                    <input id="chosenMaid" type="hidden" name="maidId" />
                    <button class="btn btn-success btn-lg">Đăng yêu cầu</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    var chosenList = new Array();
    var chosenSkills = "";

    function addSkill() {
        chosenList = new Array();
        chosenSkills = "";
        var stayDr = document.getElementById("stay");
        var stay = "Ngủ lại - " + stayDr.options[stayDr.selectedIndex].value;
        var salaryDr = document.getElementById("salary");
        var salary = "Mức lương - " + salaryDr.options[salaryDr.selectedIndex].value;
        var workDr = document.getElementById("work");
        var work = "Công việc - " + workDr.options[workDr.selectedIndex].value;
        var skillList = new Array();
        var skillCount = 0;
        var skillElements = document.getElementsByClassName("skill");
        for (var i = 0; i < skillElements.length; i++) {
            if (skillElements[i].checked) {
                skillList[skillCount++] = skillElements[i].value;
            }
        }
        var chosenCount = 0;
        if (stay != "Ngủ lại - null") {
            chosenList[chosenCount++] = stay;
        }
        if (salary != "Mức lương - null") {
            chosenList[chosenCount++] = salary;
        }
        if (work != "Công việc - null") {
            chosenList[chosenCount++] = work;
        }
        if (skillList.length > 0) {
            for (var i = 0; i < skillList.length; i++) {
                chosenList[chosenCount++] = skillList[i];
            }
        }
        for (var i = 0; i < chosenList.length; i++) {
            chosenSkills += "<li class='childSkill'><span class='skillText'>" + chosenList[i] + "<span class='glyphicon glyphicon-remove' onclick='removeSkill(" + i + ")'></span></span></li>";
        }
        document.getElementById("chosenSkills").innerHTML = chosenSkills;
    }

    function removeSkill(skillNo) {
        if (chosenList[skillNo].search("Ngủ lại") != -1) {
            document.getElementById("stay_null").setAttribute("selected", "");
        } else if (chosenList[skillNo].search("Mức lương") != -1) {
            document.getElementById("salary_null").setAttribute("selected", "");
        } else if (chosenList[skillNo].search("Công việc") != -1) {
            document.getElementById("work_null").setAttribute("selected", "");
        } else {
            document.getElementById(chosenList[skillNo]).checked = false;;
        }
        if (chosenList.length > 0) {
            chosenList.splice(skillNo, 1);
            chosenSkills = "";
            for (var i = 0; i < chosenList.length; i++) {
                chosenSkills += "<li class='childSkill'><span class='skillText'>" + chosenList[i] + "<span class='glyphicon glyphicon-remove' onclick='removeSkill(" + i + ")'></span></span></li>";
            }
            document.getElementById("chosenSkills").innerHTML = chosenSkills;
        }
    }

    function chooseMaid() {
        var maidId;
        var radio = document.getElementsByName("optionsRadios");
        for (var i = 0; i < radio.length; i++) {
            if (radio[i].checked) {
                maidId = radio[i].value;
                break;
            }
        }
        var maidImg = document.getElementById(maidId + " img").getAttribute("src");
        var maidName = document.getElementById(maidId + " name").innerHTML;
        document.getElementById("maidImg").setAttribute("src", maidImg);
        document.getElementById("maidName").innerHTML = maidName;
        document.getElementById("chosenMaid").setAttribute("value", maidId);
    }

    function cancel() {
        return false;
    }
</script>

