@{
    ViewBag.Title = "Thông tin người giúp việc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MS_Website.Models.Maid maid = Model;
    var MaidManager = (MS_Website.Models.MaidManager)ViewBag.MaidManager;
}

<div class="Menu">
    <div class="rows">
        <div class="hMenu">
            <div class="hFatherMenu">
                <ul class="hmeTabList">
                    <li>
                        <a href="@Url.Action("MaidEdit", "MaidManager", new { maidId = Model.MaidId })" class="hefaContent iscurent">Thông tin</a>
                    </li>
                    <li>
                        <a href="#" class="hefaContent">Thống kê</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="hChildMenu">
        <ul class="hChildMenuList">
            <li class="iscurent">
                <a class="hChContent iscurent">Cá nhân</a>
            </li>
            @if (Session["AccId"] != null)
            {
                if (maid.MaidMediatorId == (int)Session["AccId"] || maid.StaffId == (int)Session["AccId"])
                {
                <li>
                    <a href="@Url.Action("MaidEdit", "MaidManager", new { maidId = Model.MaidId })" class="hChContent">Sửa thông tin</a>
                </li>
                }
            }
        </ul>
    </div>
</div>

<div class="body">
    <div class="rows">
        <div class="row">
            <div class="col-md-8">
                <div class="leftInfo">
                    <div class="mainInfo">
                        <div class="miPic">
                            <img src="@maid.PersonalImage" alt="Maid sercive" height="100%">
                        </div>
                        <div class="mmiDetail">
                            <div class="miFullName">
                                @maid.MaidName
                            </div>
                            <div class="miAccount">
                                Người giúp việc
                            </div>
                            <div class="miRate">
                                @Html.Partial("_PartialStar", (float)maid.RateAvg)
                            </div>
                        </div>
                    </div>
                    <div class="overView">
                        <div class="ovTitle">
                            Tự bạch
                        </div>
                        <div class="ovContent">
                            @maid.Description
                        </div>
                    </div>
                    <div class="boxListWork">
                        <ul class="nav nav-tabs" role="tablist" id="myTab">
                            <li class="active"><a href="#free" role="tab" data-toggle="tab">Chưa được nhận</a></li>
                            <li class><a href="#applied" role="tab" data-toggle="tab">Đã được nhận</a></li>
                            <li class><a href="#approved" role="tab" data-toggle="tab">Đã hoàn tất</a></li>
                            <li class><a href="#expired" role="tab" data-toggle="tab">Hết hạn</a></li>
                            @if (ViewBag.Manage == "true")
                            {
                                <li class><a href="#hide" role="tab" data-toggle="tab">Không công khai</a></li>
                            }
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade in active bFree" id="free">
                                <ul class="bFreeListWork">
                                    @foreach (var job in ViewBag.NotApplList)
                                    {
                                        <li id="@job.Job.JobRequestId" onclick="chooseJob(@job.Job.JobRequestId, 1)">
                                            <div class="blImage">
                                                <img src="~/Content/Image/jr.png" alt="Maid service" height="100%">
                                            </div>
                                            <div class="blDetail">
                                                <div class="blName">
                                                    <a href="@Url.Action("GetJobRequest", "Post", new { jobId = job.Job.JobRequestId })">@job.Job.Title</a>
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Đăng: </span><span
                                                        class="blTimeText">@job.Job.PostTime</span>
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Tới: </span><span
                                                        class="blTimeText">@job.Job.ExpiredTime</span>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <div class="blFooter">
                                    <div class="blfNumber">
                                        <ul class="pagination pagination-sm">
                                            <li><a href="#">&laquo;</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>
                                    </div>
                                    @if (ViewBag.Manage == "true")
                                    {
                                        using (Html.BeginForm("HideJobRequest", "MaidManager"))
                                        {
                                        <input id="hideId" type="hidden" name="jobId" />
                                        <div id="button_1" style="display: none;" class="blfbutton">
                                            <button type="submit" class="btn btn-danger">Tạm ẩn</button>
                                            @if (Session["Role"].Equals("Staff"))
                                            {
                                                <button type="button" class="btn btn-info" onclick="return false">Gia hạn</button>
                                            }
                                        </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade bApplied" id="applied">
                                <div class="bTitle">
                                    <div class="btWork">
                                        Công việc
                                    </div>
                                    <div class="btApply">
                                        Người nhận
                                    </div>
                                </div>
                                <ul class="bApplyListWork">
                                    @foreach (var job in ViewBag.ApplList)
                                    {
                                        <li>
                                            <div class="bAWork">
                                                <div class="blImage">
                                                    <img src="~/Content/Image/jr.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="@Url.Action("GetJobRequest", "Post", new { jobId = job.Job.JobRequestId })">@job.Job.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Đăng: </span><span
                                                            class="blTimeText">@job.Job.PostTime</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bACus">
                                                <div class="blImage">
                                                    <img src="~/Content/Image/rc.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = job.Recruitment.RecruitmentId })">@job.Recruitment.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Nhận: </span><span
                                                            class="blTimeText">@job.Job.ApplyTimes</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <div class="blFooter">
                                    <div class="blfNumber">
                                        <ul class="pagination pagination-sm">
                                            <li><a href="#">&laquo;</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade bApplied" id="approved">
                                <div class="bTitle">
                                    <div class="btWork">
                                        Công việc
                                    </div>
                                    <div class="btApply">
                                        Người nhận
                                    </div>
                                </div>
                                <ul class="bApplyListWork">
                                    @foreach (var job in ViewBag.ApprList)
                                    {
                                        <li>
                                            <div class="bAWork">
                                                <div class="blImage">
                                                    <img src="~/Content/Image/jr.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="@Url.Action("GetJobRequest", "Post", new { jobId = job.Job.JobRequestId })">@job.Job.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Đăng: </span><span
                                                            class="blTimeText">@job.Job.PostTime</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bACus">
                                                <div class="blImage">
                                                    <img src="~/Content/Image/rc.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = job.Recruitment.RecruitmentId })">@job.Recruitment.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Nhận: </span><span
                                                            class="blTimeText">@job.Job.ApplyTimes</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <div class="blFooter">
                                    <div class="blfNumber">
                                        <ul class="pagination pagination-sm">
                                            <li><a href="#">&laquo;</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade bExprred" id="expired">
                                <ul class="bexpiredListWork">
                                    @foreach (var job in ViewBag.ExpiredList)
                                    {
                                        <li id="@job.Job.JobRequestId" onclick="chooseJob(@job.Job.JobRequestId, 4)">
                                            <div class="blImage">
                                                <img src="~/Content/Image/jr.png" alt="Maid service" height="100%">
                                            </div>
                                            <div class="blDetail">
                                                <div class="blName">
                                                    <a href="@Url.Action("GetJobRequest", "Post", new { jobId = job.Job.JobRequestId })">@job.Job.Title</a>
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Đăng: </span><span
                                                        class="blTimeText">@job.Job.PostTime</span>
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Tới: </span><span
                                                        class="blTimeText">@job.Job.ExpiredTime</span>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <div class="blFooter">
                                    <div class="blfNumber">
                                        <ul class="pagination pagination-sm">
                                            <li><a href="#">&laquo;</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>
                                    </div>
                                    @if (ViewBag.Manage == "true")
                                    {
                                        <div id="button_4" style="display: none;" class="blfbutton">
                                            @if (Session["Role"].Equals("Staff"))
                                            {
                                                <button class="btn btn-info" data-toggle="modal" data-target=".extendModel" onclick="return false">Gia hạn</button>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade bExprred" id="hide">
                                <ul class="bexpiredListWork">
                                    @foreach (var job in ViewBag.HideList)
                                    {
                                        <li id="@job.Job.JobRequestId" onclick="chooseJob(@job.Job.JobRequestId, 5)">
                                            <div class="blImage">
                                                <img src="~/Content/Image/jr.png" alt="Maid service" height="100%">
                                            </div>
                                            <div class="blDetail">
                                                <div class="blName">
                                                    <a href="@Url.Action("GetJobRequest", "Post", new { jobId = job.Job.JobRequestId })">@job.Job.Title</a>
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Đăng: </span><span
                                                        class="blTimeText">@job.Job.PostTime</span>
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Tới: </span><span
                                                        class="blTimeText">@job.Job.ExpiredTime</span>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <div class="blFooter">
                                    <div class="blfNumber">
                                        <ul class="pagination pagination-sm">
                                            <li><a href="#">&laquo;</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>
                                    </div>
                                    @if (ViewBag.Manage == "true")
                                    {
                                        using (Html.BeginForm("PublicJobRequest", "MaidManager"))
                                        {
                                        <input id="publicId" type="hidden" name="jobId" />
                                        <div id="button_5" style="display: none;" class="blfbutton">
                                            <button type="submit" class="btn btn-danger">Công khai</button>
                                            @if (Session["Role"].Equals("Staff"))
                                            {
                                                <button class="btn btn-info" data-toggle="modal" data-target=".extendModel" onclick="return false">Gia hạn</button>
                                            }
                                        </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        <script>
                            $(function () {
                                $('#myTab a:selected').tab('show');
                            })
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rightInfo">
                    <ul class="riDetail">
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Điện thoại
                            </div>
                            <div class="rideroContent">
                                <strong>@Model.Phone
                                </strong>
                            </div>
                        </li>
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Kinh nghiệm
                            </div>
                            <div class="rideroContent">
                                <strong>@Model.Experience năm
                                </strong>
                            </div>
                        </li>
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Đánh giá
                            </div>
                            <div class="rideroContent">
                                <strong>@Model.RateAvg điểm
                                </strong>
                            </div>
                        </li>
                    </ul>
                    <div class="riManager">
                        <div class="rimaTitle">
                            Quản lý bởi
                        </div>
                        <ul class="rimaListSameJobRequest">
                            <li>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="jrImage">
                                            <img src="@MaidManager.Avatar" alt="Maid sercive" width="100%">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="jrDetail">
                                            <div class="jrMaidFullname">
                                                <a href="@Url.Action("GetMaidManager", "MaidManager", new { accId = MaidManager.AccId, role = MaidManager.Role })">@MaidManager.Fullname</a>
                                            </div>
                                            <div class="blTime">
                                                <span class="blTimeText">
                                                    @{
                                                        string role = "";
                                                        if (MaidManager.Role == "MaidMediator")
                                                        {
                                                            role = "Đại diện người giúp việc";
                                                        }
                                                        else if (MaidManager.Role == "Staff")
                                                        {
                                                            role = "Nhân viên";
                                                        }
                                                    }
                                                    @role
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade extendModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header chooseMaidModalTitle">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Gia hạn đơn tuyển việc</h4>
            </div>
            @using (Html.BeginForm("ExtendJobRequest", "MaidManager", FormMethod.Get, new { name = "ExtendForm" }))
            {
                <input id="extendId" type="hidden" name="jobId" />
                <div class="modal-body chooseMaidModalMaid">
                    <span>Thời gian gia hạn</span>
                    <select class="form-control" name="extend">
                        <option value="1">1 tuần</option>
                        <option value="2">2 tuần</option>
                        <option value="3">3 tuần</option>
                        <option value="4">4 tuần</option>
                        <option value="5">5 tuần</option>
                    </select>
                    <span id="result" style="display: none;">Bạn đã nạp tiền thành công</span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" onclick="extendRecruit()" style="margin-left: 75px; margin-top: 5px; margin-bottom: 10px;">Đồng ý</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    var chosenId = 0;
    function chooseJob(jobId, type) {
        if (chosenId != 0) {
            document.getElementById(chosenId).setAttribute("class", "");
        }
        if (jobId != chosenId) {
            document.getElementById(jobId).setAttribute("class", "isCurent");
            chosenId = jobId;
        } else {
            document.getElementById(jobId).setAttribute("class", "");
            chosenId = 0;
            type = 0;
        }
        if (type == 1) {
            document.getElementById("hideId").setAttribute("value", jobId);
            document.getElementById("button_1").setAttribute("style", "");
            document.getElementById("button_4").setAttribute("style", "display: none;");
            document.getElementById("button_5").setAttribute("style", "display: none;");
        } else if (type == 4) {
            document.getElementById("extendId").setAttribute("value", jobId);
            document.getElementById("button_1").setAttribute("style", "display: none;");
            document.getElementById("button_4").setAttribute("style", "");
            document.getElementById("button_5").setAttribute("style", "display: none;");
        } else if (type == 5) {
            document.getElementById("publicId").setAttribute("value", jobId);
            document.getElementById("button_1").setAttribute("style", "display: none;");
            document.getElementById("button_4").setAttribute("style", "display: none;");
            document.getElementById("button_5").setAttribute("style", "");
        }
        else if (type == 0) {
            document.getElementById("button_1").setAttribute("style", "display: none;");
            document.getElementById("button_4").setAttribute("style", "display: none;");
            document.getElementById("button_5").setAttribute("style", "display: none;");
        }
    }

    function removeJob() {
        document.forms["RemoveJobForm"].submit();
    }

    function extendRecruit() {
        document.forms["ExtendForm"].submit();
    }
</script>

