@{
    ViewBag.Title = "Thông tin người giúp việc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MS_Website.Models.Maid maid = Model;
    var MaidManager = (MS_Website.Models.MaidManager)ViewBag.MaidManager;
    List<MS_Website.Models.JobRequestTemp> notApplList = ViewBag.NotApplList;
    List<MS_Website.Models.JobRequestTemp> applList = ViewBag.ApplList;
    List<MS_Website.Models.JobRequestTemp> apprList = ViewBag.ApprList;
    List<MS_Website.Models.JobRequestTemp> expiredList = ViewBag.ExpiredList;
    List<MS_Website.Models.JobRequestTemp> hideList = ViewBag.HideList;
    List<MS_Website.Models.JobRequestTemp> notActiveList = ViewBag.NotActiveList;
}

<div class="Menu">
    @Html.Partial("_PartialMenu")
    <div class="hChildMenu">
        <ul class="hChildMenuList">
            <li class="iscurent">
                <a class="hChContent">Thông tin người giúp việc</a>
            </li>
            @if (Session["AccId"] != null)
            {
                if ((int)Session["AccId"] == MaidManager.AccId)
                {
                <li class>
                    <a href="@Url.Action("MaidEdit", "MaidManager", new { maidId = maid.MaidId })" class="hChContent">Sửa thông tin người giúp việc</a>
                </li>
                }
            }
        </ul>
    </div>
</div>

<div class="body">
    <div class="rows">
        <div class="row">
            <div class="col-md-8">
                <div class="leftInfo">
                    <div class="mainInfo">
                        <div class="miPic">
                            <img src="@maid.PersonalImage" alt="Maid sercive" height="100%">
                        </div>
                        <div class="mmiDetail">
                            <div class="miFullName">
                                <font color="@(maid.ReportDate != null ? "red":"")">@maid.MaidName</font>
                            </div>
                            <div class="miAccount">
                                Người giúp việc
                            </div>
                            @*<div class="miRate">
                                @Html.Partial("_PartialStar", (float)maid.RateAvg)
                            </div>*@
                        </div>
                    </div>
                    <div class="overView">
                        <div class="ovTitle">
                            Tự bạch
                        </div>
                        <div class="ovContent">
                            @maid.Description
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="rightInfo">
                    @if (Session["AccId"] != null)
                    {
                        if ((int)Session["AccId"] == MaidManager.AccId)
                        {
                        <div class="editRightInfo">
                            <a href="@Url.Action("MaidEdit", "MaidManager", new { maidId = maid.MaidId })" title="Sửa thông tin"><span class="glyphicon glyphicon-edit"></span></a>
                        </div> 
                        }
                    }
                    <ul class="riDetail">
                        @if (Session["Acc"] != null)
                        {
                            if (Session["Role"].Equals("Staff") || Session["Role"].Equals("Admin") || ViewBag.Manage != null)
                            {
                            <li class="rideRow">
                                <div class="rideroTitle">
                                    Điện thoại
                                </div>
                                <div class="rideroContent">
                                    <strong>@Model.Phone
                                    </strong>
                                </div>
                            </li>
                            }
                        }
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Giới tính
                            </div>
                            <div class="rideroContent">
                                <strong>@(Model.Gender ? "Nam" : "Nữ")
                                </strong>
                            </div>
                        </li>
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Ngày sinh
                            </div>
                            <div class="rideroContent">
                                <strong>@Model.BirthDate.ToString("dd/MM/yyyy")
                                </strong>
                            </div>
                        </li>
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Kinh nghiệm
                            </div>
                            <div class="rideroContent">
                                <strong>@if (Model.Experience == 0)
                                        {
                                    <span>< 1 năm</span>
                                        }
                                        else if (Model.Experience == 2)
                                        {
                                    <span>1 - 3 năm</span>
                                        }
                                        else if (Model.Experience == 4)
                                        {
                                    <span>> 3 năm</span>
                                        }
                                </strong>
                            </div>
                        </li>
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Quê quán
                            </div>
                            <div class="rideroContent">
                                <strong>@Model.Hometown
                                </strong>
                            </div>
                        </li>
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Địa chỉ
                            </div>
                            <div class="rideroContent">
                                <strong>@Model.Address
                                </strong>
                            </div>
                        </li>
                    </ul>
                    <div class="riManager">
                        <div class="rimaTitle">
                            Quản lý bởi
                        </div>
                        <ul class="rimaListSameJobRequest">
                            <li>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="jrImage">
                                            <img src="@MaidManager.Avatar" alt="Maid sercive" width="100%">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="jrDetail">
                                            <div class="jrMaidFullname">
                                                <a href="@Url.Action("GetMaidManager", "MaidManager", new { accId = MaidManager.AccId, role = MaidManager.Role })">@MaidManager.Fullname</a>
                                            </div>
                                            <div class="blTime">
                                                <span class="blTimeText">
                                                    @{
                                                        string role = "";
                                                        if (MaidManager.Role == "MaidMediator")
                                                        {
                                                            role = "Đại diện người giúp việc";
                                                        }
                                                        else if (MaidManager.Role == "Staff")
                                                        {
                                                            role = "Nhân viên";
                                                        }
                                                    }
                                                    @role
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="boxListWork">
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                    <li class="active"><a href="#free" role="tab" data-toggle="tab">Chờ nhận</a></li>
                    <li class><a href="#applied" role="tab" data-toggle="tab">Được nhận</a></li>
                    <li class><a href="#approved" role="tab" data-toggle="tab">Hoàn tất</a></li>
                    <li class><a href="#expired" role="tab" data-toggle="tab">Hết hạn</a></li>
                    @if (ViewBag.Manage == "true")
                    {
                        <li class><a href="#hide" role="tab" data-toggle="tab">Tạm ẩn</a></li>
                        <li class><a href="#notActive" role="tab" data-toggle="tab">Chưa kích hoạt</a></li>
                    }
                </ul>
                @{
                    var counter = 0;
                    var total = 0;
                }
                <div class="tab-content">
                    <div class="tab-pane fade in active bFree" id="free">
                        <div class="btnsFunction">
                            @if (ViewBag.Manage == "true")
                            {
                                using (Html.BeginForm("HideJobRequest", "MaidManager"))
                                {
                                    <input id="hideId" type="hidden" name="jobId" />
                                    <div id="button_1" style="display: none;" class="blfbutton">
                                        <button type="submit" class="btn btn-danger">Tạm ẩn</button>
                                        @if (Session["Role"].Equals("Staff"))
                                        {
                                            <button class="btn btn-info" data-toggle="modal" data-target=".extendModel" onclick="return false">Gia hạn</button>
                                        }
                                    </div>
                                }
                            }
                        </div>
                        <ul class="bFreeListWork">
                            <input id="currPos1" type="hidden" value="4" />
                            @foreach (var job in notApplList)
                            {           
                                <li id="@(counter + 1)1" onclick="chooseJob(@(counter + 1), @job.Job.JobRequestId, 1)" style="display: @(counter > 3 ? "none" : "")">
                                    <div class="blImage">
                                        <img src="~/Content/Image/jr.png" alt="Maid service" height="100%">
                                    </div>
                                    <div class="blDetail">
                                        <div class="blName">
                                            <a href="@Url.Action("GetJobRequest", "Post", new { jobId = job.Job.JobRequestId })">@job.Job.Title</a>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Đăng: </span><span
                                                                                       class="blTimeText">@job.Job.PostTime.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Tới&nbsp;&nbsp;&nbsp;&nbsp;: </span><span
                                                                                                              class="blTimeText">@job.Job.ExpiredTime.ToString("dd/MM/yyyy")</span>
                                        </div>
                                    </div>
                                </li>
                                if (counter < notApplList.Count)
                                {
                                    counter++;
                                }
                            }
                            @{
                                total += notApplList.Count;
                            }
                            <input id="lastPos1" type="hidden" value="@counter" />
                        </ul>
                        <div class="blFooter">
                            <div class="blfNumber">
                                <ul class="pagination pagination-sm">
                                    <div class="suNumber">
                                        <span class="glyphicon glyphicon-chevron-left" onclick="loadBack(1, 4)"></span>
                                        @if (notApplList.Any())
                                        {
                                            <span id="currPage1">1/</span>@(Math.Ceiling((double)notApplList.Count / 4))
                                        }
                                        else
                                        {
                                            <span>Không có kết quả</span>
                                        }
                                        <span class="glyphicon glyphicon-chevron-right" onclick="loadNext(1, 4)"></span>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade bApplied" id="applied">
                        <div class="btnsFunction">
                            
                        </div>
                        <ul class="bApplyListWork">
                            <input id="currPos2" type="hidden" value="@(counter + 2)" />
                            @foreach (var job in applList)
                            {
                                <li id="@(counter + 1)2" style="display: @(counter - total > 1 ? "none" : "")">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="bAWork">
                                                <div class="blImage">
                                                    <img src="~/Content/Image/jr.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="@Url.Action("GetJobRequest", "Post", new { jobId = job.Job.JobRequestId })">@job.Job.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Đăng: </span><span
                                                            class="blTimeText">@job.Job.PostTime.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="bACus">
                                                <div class="blImage">
                                                    <img src="~/Content/Image/rc.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = job.Recruitment.RecruitmentId })">@job.Recruitment.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Nhận: </span><span
                                                            class="blTimeText">@job.Job.ApplyTimes.Value.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                if (counter - total < applList.Count)
                                {
                                    counter++;
                                }
                            }
                            @{
                                total += applList.Count;
                            }
                            <input id="lastPos2" type="hidden" value="@counter" />
                        </ul>
                        <div class="blFooter">
                            <div class="blfNumber">
                                <ul class="pagination pagination-sm">
                                    <div class="suNumber">
                                        <span class="glyphicon glyphicon-chevron-left" onclick="loadBack(2, 2)"></span>
                                        @if (applList.Any())
                                        {
                                            <span id="currPage2">1/</span>@(Math.Ceiling((double)applList.Count / 2))
                                        }
                                        else
                                        {
                                            <span>Không có kết quả</span>
                                        }
                                        <span class="glyphicon glyphicon-chevron-right" onclick="loadNext(2, 2)"></span>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade bApplied" id="approved">
                       <div class="btnsFunction">
                            
                        </div>
                        <ul class="bApplyListWork">
                            <input id="currPos3" type="hidden" value="@(counter + 2)" />
                            @foreach (var job in apprList)
                            {
                                <li id="@(counter + 1)3" style="display: @(counter - total > 1 ? "none" : "")">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="bAWork">
                                                <div class="blImage">
                                                    <img src="~/Content/Image/jr.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="@Url.Action("GetJobRequest", "Post", new { jobId = job.Job.JobRequestId })">@job.Job.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Đăng: </span><span
                                                            class="blTimeText">@job.Job.PostTime.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="bACus">
                                                <div class="blImage">
                                                    <img src="~/Content/Image/rc.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = job.Recruitment.RecruitmentId })">@job.Recruitment.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Nhận: </span><span
                                                            class="blTimeText">@job.Job.ApplyTimes.Value.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                if (counter - total < apprList.Count)
                                {
                                    counter++;
                                }
                            }
                            @{
                                total += apprList.Count;
                            }
                            <input id="lastPos3" type="hidden" value="@counter" />
                        </ul>
                        <div class="blFooter">
                            <div class="blfNumber">
                                <ul class="pagination pagination-sm">
                                    <div class="suNumber">
                                        <span class="glyphicon glyphicon-chevron-left" onclick="loadBack(3, 2)"></span>
                                        @if (apprList.Any())
                                        {
                                            <span id="currPage3">1/</span>@(Math.Ceiling((double)apprList.Count / 2))
                                        }
                                        else
                                        {
                                            <span>Không có kết quả</span>
                                        }
                                        <span class="glyphicon glyphicon-chevron-right" onclick="loadNext(3, 2)"></span>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade bExprred" id="expired">
                        <div class="btnsFunction">
                            @if (ViewBag.Manage == "true")
                            {
                                <div id="button_4" style="display: none;" class="blfbutton">
                                    @if (Session["Role"].Equals("Staff"))
                                    {
                                        <button class="btn btn-info" data-toggle="modal" data-target=".extendModel" onclick="return false">Gia hạn</button>
                                    }
                                </div>
                            }
                        </div>
                        <ul class="bexpiredListWork">
                            <input id="currPos4" type="hidden" value="@(counter + 4)" />
                            @foreach (var job in expiredList)
                            {
                                <li id="@(counter + 1)4" onclick="chooseJob(@(counter + 1), @job.Job.JobRequestId, 4)" style="display: @(counter - total > 3 ? "none" : "")">
                                    <div class="blImage">
                                        <img src="~/Content/Image/jr.png" alt="Maid service" height="100%">
                                    </div>
                                    <div class="blDetail">
                                        <div class="blName">
                                            <a href="@Url.Action("GetJobRequest", "Post", new { jobId = job.Job.JobRequestId })">@job.Job.Title</a>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Đăng: </span><span
                                                                                       class="blTimeText">@job.Job.PostTime.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Tới&nbsp;&nbsp;&nbsp;&nbsp;: </span><span
                                                                                                              class="blTimeText">@job.Job.ExpiredTime.ToString("dd/MM/yyyy")</span>
                                        </div>
                                    </div>
                                </li>
                                if (counter - total < expiredList.Count)
                                {
                                    counter++;
                                }
                            }
                            @{
                                total += expiredList.Count;
                            }
                            <input id="lastPos4" type="hidden" value="@counter" />
                        </ul>
                        <div class="blFooter">
                            <div class="blfNumber">
                                <ul class="pagination pagination-sm">
                                    <div class="suNumber">
                                        <span class="glyphicon glyphicon-chevron-left" onclick="loadBack(4, 4)"></span>
                                        @if (expiredList.Any())
                                        {
                                            <span id="currPage4">1/</span>@(Math.Ceiling((double)expiredList.Count / 4))
                                        }
                                        else
                                        {
                                            <span>Không có kết quả</span>
                                        }
                                        <span class="glyphicon glyphicon-chevron-right" onclick="loadNext(4, 4)"></span>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade bExprred" id="hide">
                        <div class="btnsFunction">
                            @if (ViewBag.Manage == "true")
                            {
                                using (Html.BeginForm("PublicJobRequest", "MaidManager"))
                                {
                                    <input id="publicId" type="hidden" name="jobId" />
                                    <div id="button_5" style="display: none;" class="blfbutton">
                                        <button type="submit" class="btn btn-danger">Công khai</button>
                                        @if (Session["Role"].Equals("Staff"))
                                        {
                                            <button class="btn btn-info" data-toggle="modal" data-target=".extendModel" onclick="return false">Gia hạn</button>
                                        }
                                    </div>
                                }
                            }
                        </div>
                        <ul class="bexpiredListWork">
                            <input id="currPos5" type="hidden" value="@(counter + 4)" />
                            @foreach (var job in hideList)
                            {
                                <li id="@(counter + 1)5" onclick="chooseJob(@(counter + 1), @job.Job.JobRequestId, 5)" style="display: @(counter - total > 3 ? "none" : "")">
                                    <div class="blImage">
                                        <img src="~/Content/Image/jr.png" alt="Maid service" height="100%">
                                    </div>
                                    <div class="blDetail">
                                        <div class="blName">
                                            <a href="@Url.Action("GetJobRequest", "Post", new { jobId = job.Job.JobRequestId })">@job.Job.Title</a>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Đăng: </span><span
                                                                                       class="blTimeText">@job.Job.PostTime.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Tới&nbsp;&nbsp;&nbsp;&nbsp;: </span><span
                                                                                                              class="blTimeText">@job.Job.ExpiredTime.ToString("dd/MM/yyyy")</span>
                                        </div>
                                    </div>
                                </li>
                                if (counter - total < hideList.Count)
                                {
                                    counter++;
                                }
                            }
                            @{
                                total += hideList.Count;
                            }
                            <input id="lastPos5" type="hidden" value="@counter" />
                        </ul>
                        <div class="blFooter">
                            <div class="blfNumber">
                                <ul class="pagination pagination-sm">
                                    <div class="suNumber">
                                        <span class="glyphicon glyphicon-chevron-left" onclick="loadBack(5, 4)"></span>
                                        @if (hideList.Any())
                                        {
                                            <span id="currPage5">1/</span>@(Math.Ceiling((double)hideList.Count / 4))
                                        }
                                        else
                                        {
                                            <span>Không có kết quả</span>
                                        }
                                        <span class="glyphicon glyphicon-chevron-right" onclick="loadNext(5, 4)"></span>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade bExprred" id="notActive">
                        <div class="btnsFunction">
                            
                        </div>
                        <ul class="bexpiredListWork">
                            <input id="currPos6" type="hidden" value="@(counter + 4)" />
                            @foreach (var job in notActiveList)
                            {
                                <li id="@(counter + 1)6" style="display: @(counter - total > 3 ? "none" : "")">
                                    <div class="blImage">
                                        <img src="~/Content/Image/jr.png" alt="Maid service" height="100%">
                                    </div>
                                    <div class="blDetail">
                                        <div class="blName">
                                            <a href="@Url.Action("GetJobRequest", "Post", new { jobId = job.Job.JobRequestId })">@job.Job.Title</a>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Đăng: </span><span
                                                                                       class="blTimeText">@job.Job.PostTime.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Tới&nbsp;&nbsp;&nbsp;&nbsp;: </span><span
                                                                                                              class="blTimeText">@job.Job.ExpiredTime.ToString("dd/MM/yyyy")</span>
                                        </div>
                                    </div>
                                </li>
                                if (counter - total < notActiveList.Count)
                                {
                                    counter++;
                                }
                            }
                            @{
                                total += notActiveList.Count;
                            }
                            <input id="lastPos6" type="hidden" value="@counter" />
                        </ul>
                        <div class="blFooter">
                            <div class="blfNumber">
                                <ul class="pagination pagination-sm">
                                    <div class="suNumber">
                                        <span class="glyphicon glyphicon-chevron-left" onclick="loadBack(6, 4)"></span>
                                        @if (notActiveList.Any())
                                        {
                                            <span id="currPage6">1/</span>@(Math.Ceiling((double)notActiveList.Count / 4))
                                        }
                                        else
                                        {
                                            <span>Không có kết quả</span>
                                        }
                                        <span class="glyphicon glyphicon-chevron-right" onclick="loadNext(6, 4)"></span>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    $(function () {
                        $('#myTab a:selected').tab('show');
                    })
                </script>
            </div>
        </div>
    </div>
</div>
<div class="modal fade extendModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header chooseMaidModalTitle">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Gia hạn đơn tuyển việc</h4>
            </div>
            @using (Html.BeginForm("ExtendJobRequest", "MaidManager", FormMethod.Get, new { name = "ExtendForm" }))
            {
                <input id="extendId" type="hidden" name="jobId" />
                <div class="modal-body chooseMaidModalMaid">
                    <span>Thời gian gia hạn</span>
                    <select class="form-control" name="extend">
                        @for (int i = 1; i <= (int)Session["MaxWeek"]; i++)
                        {
                            <option value="@i">@i tuần</option>
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" onclick="extendRecruit()" style="margin-left: 75px; margin-top: 5px; margin-bottom: 10px;">Đồng ý</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    var chosenCount = 0;
    var chosenType = 0;
    function chooseJob(counter, jobId, type) {
        if (chosenCount != 0) {
            document.getElementById(chosenCount + "" + chosenType).setAttribute("class", "");
        }
        if (counter != chosenCount) {
            document.getElementById(counter + "" + type).setAttribute("class", "isCurent");
            chosenCount = counter;
            chosenType = type;
        } else {
            document.getElementById(counter + "" + type).setAttribute("class", "");
            chosenCount = 0;
            type = 0;
            chosenType = 0;
        }
        if (type == 1) {
            document.getElementById("hideId").setAttribute("value", jobId);
            document.getElementById("extendId").setAttribute("value", jobId);
            document.getElementById("button_1").setAttribute("style", "");
            document.getElementById("button_4").setAttribute("style", "display: none;");
            document.getElementById("button_5").setAttribute("style", "display: none;");
        } else if (type == 4) {
            document.getElementById("extendId").setAttribute("value", jobId);
            document.getElementById("button_1").setAttribute("style", "display: none;");
            document.getElementById("button_4").setAttribute("style", "");
            document.getElementById("button_5").setAttribute("style", "display: none;");
        } else if (type == 5) {
            document.getElementById("publicId").setAttribute("value", jobId);
            document.getElementById("extendId").setAttribute("value", jobId);
            document.getElementById("button_1").setAttribute("style", "display: none;");
            document.getElementById("button_4").setAttribute("style", "display: none;");
            document.getElementById("button_5").setAttribute("style", "");
        } else if (type == 0) {
            document.getElementById("button_1").setAttribute("style", "display: none;");
            document.getElementById("button_4").setAttribute("style", "display: none;");
            document.getElementById("button_5").setAttribute("style", "display: none;");
        }
    }

    function extendRecruit() {
        document.forms["ExtendForm"].submit();
    }

    function loadNext(type, amount) {
        var currPos = parseInt(document.getElementById("currPos" + type).getAttribute("value"));
        var lastPos = parseInt(document.getElementById("lastPos" + type).getAttribute("value"));
        if (currPos < lastPos) {
            var currPage = parseInt(document.getElementById("currPage" + type).innerHTML) + 1;
            document.getElementById("currPage" + type).innerHTML = currPage + "/";
            for (var i = currPos - amount + 1; i <= currPos; i++) {
                if (document.getElementById(i + "" + type) != null) {
                    document.getElementById(i + "" + type).setAttribute("style", "display: none");
                }
            }
            for (var j = currPos + 1; j <= currPos + amount; j++) {
                if (document.getElementById(j + "" + type) != null) {
                    document.getElementById(j + "" + type).setAttribute("style", "");
                }
            }
            document.getElementById("currPos" + type).setAttribute("value", currPos + amount);
        }
    }

    function loadBack(type, amount) {
        var currPos = parseInt(document.getElementById("currPos" + type).getAttribute("value"));
        var lastPos = 0;
        if (parseInt(type) - 1 > 0) {
            lastPos = parseInt(document.getElementById("lastPos" + (parseInt(type) - 1)).getAttribute("value"));
        }
        if (currPos - amount > lastPos) {
            var currPage = parseInt(document.getElementById("currPage" + type).innerHTML) - 1;
            document.getElementById("currPage" + type).innerHTML = currPage + "/";
            for (var i = currPos; i > currPos - amount; i--) {
                if (document.getElementById(i + "" + type) != null) {
                    document.getElementById(i + "" + type).setAttribute("style", "display: none");
                }
            }
            for (var j = currPos - amount; j > currPos - 2 * amount; j--) {
                if (document.getElementById(j + "" + type) != null) {
                    document.getElementById(j + "" + type).setAttribute("style", "");
                }
            }
            document.getElementById("currPos" + type).setAttribute("value", currPos - amount);
        }
    }
</script>

