@using MS_Website.Models
@{
    ViewBag.Title = "Đăng yêu cầu kiếm việc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.AddJob = true;
    int numShowMaid = 3;
    List<Maid> maidList = ViewBag.MaidList;
}

<div class="Menu">
    @Html.Partial("_PartialMenu")
</div>

<div class="body">
    <div class="rows">
        <div class="row">
            <div class="titlePage">ĐĂNG YÊU CẦU CÔNG VIỆC</div>
            @using (Html.BeginForm("AddRequest", "MaidManager", FormMethod.Post))
            {
                <div class="postRCAlertMoney">
                    <div class="alert alert-info" role="alert">
                        <strong>Thông báo!</strong> Người giúp việc sẽ nhận lại 20% số tiền nếu quay lại xác nhận đã hoàn thành công việc tới nhân viên của chúng tôi.<br />
                    </div>
                </div>
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Đăng cho
                        </div>
                        <div class="col-md-8">
                            <div class="boxPostJRUser" onclick="return cancel()" data-toggle="modal" data-target=".chooseMaidModel">
                                <div class="postOpenButton">
                                    <span class="glyphicon glyphicon-user"></span>
                                    @* <button class="btn btn-primary" data-toggle="modal" data-target=".chooseMaidModel" onclick="return cancel()">
                                        Chọn người
                                    </button>*@
                                </div>
                                <div id="maidBoxChoosed"></div>
                            </div>
                            <div id="MaidErr"></div>
                        </div>
                    </div>
                    <div class="modal fade chooseMaidModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header chooseMaidModalTitle">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span><span
                                            class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="mySmallModalLabel">Chọn một trong số những người mà bạn đang quản
                                        lý</h4>
                                </div>
                                @if (maidList.Any())
                                {
                                    <div class="modal-body chooseMaidModalMaid">
                                        <div id="back" class="rimaMore" style="display: none;" onclick="preMaids()">
                                            <span class="glyphicon glyphicon-chevron-up"></span>
                                        </div>
                                        <input id="currPos" type="hidden" value="@(numShowMaid - 1)" />
                                        @{ int counter = -1; }
                                        @foreach (var maid in maidList)
                                        {
                                            counter++;
                                            <div id="@counter" class="radio" style="display: @(counter > (numShowMaid - 1) ? "none" : "");">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="@maid.MaidId" onclick="chooseMaid()">
                                                    <div class="chooseMaid@(counter)">
                                                        <div class="liImage">
                                                            <img id="@maid.MaidId img" src="@maid.PersonalImage" alt="Maid sercive" height="100%">
                                                        </div>
                                                        <div class="liMaidContent">
                                                            <div class="licoFullName">
                                                                <a href="@Url.Action("ManageMaidProfile", "MaidManager", new { maidId = maid.MaidId })" target="_blank" id="@maid.MaidId name"><font color="@(maid.ReportDate != null ? "red":"")">@maid.MaidName</font></a>
                                                            </div>
                                                            @*<div class="licoRate">
                                                                @Html.Partial("_PartialStar", (float) maid.RateAvg)
                                                            </div>*@
                                                            <div class="blTime">
                                                                <span class="blTimeTitle">Giới tính: </span><span class="blTimeText">@(maid.Gender == true ? "Nam" : "Nữ")</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        }
                                        <input id="lastPos" type="hidden" value="@counter"/>
                                        @if (counter >= numShowMaid)
                                        {
                                            <div id="next" class="rimaMore" onclick="nextMaids()">
                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                            </div>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="chooseMaid()" style="margin-left: 75px; margin-bottom: 10px;">Đồng ý</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Tiêu đề 
                        </div>
                        <div class="col-md-6">
                            <input class="form-control input-lg text" maxlength="50" name="title" type="text" value="" placeholder="Tối đa 50 kí tự" id="txtTitle">
                            <div id="textBlank"></div>
                        </div>
                    </div>
                </div>
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Các kỹ năng
                        </div>
                        <div class="col-md-8">
                            <div class="boxPostJRSkill" onclick="return cancel()" data-toggle="modal" data-target=".chooseSkillModel">
                                <div class="skillPost">
                                    <div class="postOpenButton">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                        @*<button class="btn btn-primary" data-toggle="modal" data-target=".chooseSkillModel" onclick="return cancel()">
                                            Thêm kỹ năng
                                        </button>*@
                                    </div>
                                    <ul id="chosenSkills"></ul>
                                </div>
                            </div>
                            <div id="SkillErr"></div>
                        </div>
                    </div>
                    <div class="modal fade chooseSkillModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header chooseMaidModalTitle">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span><span
                                            class="sr-only">Close</span></button>
                                    <h4 class="modal-title">Chọn các kỹ năng cho công việc</h4>
                                </div>
                                <div class="modal-body chooseMaidModalSkill">
                                    <div class="moskCategory">
                                        <div class="moskCategoryName">
                                            Yêu cầu về công việc
                                        </div>
                                        <div class="moskCategoryContent">
                                            <div class="moskSkill">
                                                <div class="moskSkillName">
                                                    Lưu trú
                                                </div>
                                                <div class="moskSkillContent">
                                                    <select class="form-control" id="stay" name="stay" onchange="addSkill()">
                                                        <option id="stay_null" value="null">--</option>
                                                        @foreach (var item in ViewBag.StayList)
                                                        {
                                                            <option value="@item.SkillString">@item.SkillString</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="moskSkill">
                                                <div class="moskSkillName">
                                                    Mức lương
                                                </div>
                                                <div class="moskSkillContent">
                                                    <select class="form-control" id="salary" name="salary" onchange="addSkill()">
                                                        <option id="salary_null" value="null">--</option>
                                                        @foreach (var item in ViewBag.SalaryList)
                                                        {
                                                            <option value="@item.SkillString">@item.SkillString</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="moskSkill">
                                                <div class="moskSkillName">
                                                    Kiểu công việc
                                                </div>
                                                <div class="moskSkillContent">
                                                    <select class="form-control" id="work" name="work" onchange="addSkill()">
                                                        <option id="work_null" value="null">--</option>
                                                        @foreach (var item in ViewBag.WorkList)
                                                        {
                                                            <option value="@item.SkillString">@item.SkillString</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="moskCategory">
                                        <div class="moskCategoryName">
                                            Chọn các công việc muốn làm
                                        </div>
                                        <div class="moskCategoryContent">
                                            @foreach (var item in ViewBag.SkillList)
                                            {
                                                <div class="moskSkill">
                                                    <div class="moskSkillName">
                                                        <div class="checkbox" onchange="addSkill()">
                                                            <label>
                                                                <input id="@item.SkillNameVietnam" class="skill" type="checkbox" value="@item.SkillNameVietnam" name="@item.SkillName"/>
                                                                @item.SkillNameVietnam
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" style="margin-left: 400px; margin-bottom: 10px;" onclick="addSkill()">Đồng ý</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Thời hạn đăng
                            <span class="postJRTimeDetail">Đơn giá <span
                                class="postJRTimePrice"><span class="prices">@Session["PriceJR"]</span>.000</span> đồng/Tuần</span>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" id="time" name="time" onchange="chooseTime(@Session["PriceJR"])">
                                @for (int i = 1; i <= (int)Session["MaxWeek"]; i++)
                                {
                                    <option value="@i">@i tuần</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <span class="postJRTimeTotal">Tổng <span id="WeekChoose">1</span> * <span
                                class="postJRTimePrice"><span class="prices">@Session["PriceJR"]</span>.000</span> = <span class="postJRTimePriceTotal"><span id="pricesTotal">@Session["PriceJR"]</span>.000</span> đồng</span>
                        </div>
                    </div>
                </div>               
                <div class="footerButton">
                    <input id="chosenMaid" type="hidden" name="maidId" />
                    <button class="btn btn-success btn-lg" id="btnEdit">Đăng yêu cầu</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    var chosenList = new Array();
    var chosenSkills = "";

    function addSkill() {
        chosenList = new Array();
        chosenSkills = "";
        var stayDr = document.getElementById("stay");
        var stay = "Lưu trú - " + stayDr.options[stayDr.selectedIndex].value;
        var salaryDr = document.getElementById("salary");
        var salary = "Mức lương - " + salaryDr.options[salaryDr.selectedIndex].value;
        var workDr = document.getElementById("work");
        var work = "Kiểu công việc - " + workDr.options[workDr.selectedIndex].value;
        var skillList = new Array();
        var skillCount = 0;
        var skillElements = document.getElementsByClassName("skill");
        for (var i = 0; i < skillElements.length; i++) {
            if (skillElements[i].checked) {
                skillList[skillCount++] = skillElements[i].value;
            }
        }
        var chosenCount = 0;
        if (stay != "Lưu trú - null") {
            chosenList[chosenCount++] = stay;
        }
        if (salary != "Mức lương - null") {
            chosenList[chosenCount++] = salary;
        }
        if (work != "Kiểu công việc - null") {
            chosenList[chosenCount++] = work;
        }
        if (skillList.length > 0) {
            for (var i = 0; i < skillList.length; i++) {
                chosenList[chosenCount++] = skillList[i];
            }
        }
        for (var i = 0; i < chosenList.length; i++) {
            chosenSkills += "<li id='" + i + "' class='childSkill'><span class='skillText'>" + chosenList[i] + "<span class='glyphicon glyphicon-remove' onclick='removeSkill(" + i + ")'></span></span></li>";
        }
        document.getElementById("chosenSkills").innerHTML = chosenSkills;
    }

    function removeSkill(skillNo) {
        if (chosenList.length > 0) {
            if (chosenList[skillNo].search("Lưu trú") != -1) {
                document.getElementById("stay_null").setAttribute("selected", "");
            } else if (chosenList[skillNo].search("Mức lương") != -1) {
                document.getElementById("salary_null").setAttribute("selected", "");
            } else if (chosenList[skillNo].search("Kiểu công việc") != -1) {
                document.getElementById("work_null").setAttribute("selected", "");
            } else {
                document.getElementById(chosenList[skillNo]).checked = false;
            }
            chosenList.splice(skillNo, 1);
            chosenSkills = "";
            for (var i = 0; i < chosenList.length; i++) {
                chosenSkills += "<li id='" + i + "' class='childSkill'><span class='skillText'>" + chosenList[i] + "<span class='glyphicon glyphicon-remove' onclick='removeSkill(" + i + ")'></span></span></li>";
            }
            document.getElementById("chosenSkills").innerHTML = chosenSkills;
        }
    }

    function chooseMaid() {
        var maidId;
        var numChoose;
        var radio = document.getElementsByName("optionsRadios");
        for (var i = 0; i < radio.length; i++) {
            if (radio[i].checked) {
                maidId = radio[i].value;
                numChoose = i;
                break;
            }
        }
        div = new $(".chooseMaid" + numChoose).clone();
        if (div.size() == 1) {
            $("#maidBoxChoosed").html(div);
        }
        /*var maidImg = document.getElementById(maidId + " img").getAttribute("src");
         var maidName = document.getElementById(maidId + " name").innerHTML;
         document.getElementById("maidImg").setAttribute("src", maidImg);
         document.getElementById("maidName").innerHTML = maidName;*/
        document.getElementById("chosenMaid").setAttribute("value", maidId);
    }

    function chooseTime(prices) {
        var price = parseInt(prices);
        var week = parseInt($("#time").val());
        var total = price * week;
        $("#WeekChoose").html(week);
        $(".prices").html(price);
        $("#pricesTotal").html(total);
    }

    function cancel() {
        return false;
    }

    var numShowMaid = 3;

    function nextMaids() {
        var currPos = parseInt(document.getElementById("currPos").getAttribute("value"));
        var lastPos = parseInt(document.getElementById("lastPos").getAttribute("value"));
        var temp = 0;
        if (currPos < lastPos) {
            for (var i = 0; i <= currPos; i++) {
                if (document.getElementById(i) != null) {
                    document.getElementById(i).setAttribute("style", "display: none");
                }
            }
            for (var j = currPos + 1; j <= currPos + numShowMaid; j++) {
                if (document.getElementById(j) != null) {
                    document.getElementById(j).setAttribute("style", "");
                    temp = j;
                }
            }
        }
        currPos = temp;
        if (currPos >= lastPos) {
            document.getElementById("next").setAttribute("style", "display: none");
        }
        document.getElementById("currPos").setAttribute("value", currPos);
        document.getElementById("back").setAttribute("style", "");
    }

    function preMaids() {
        var currPos = parseInt(document.getElementById("currPos").getAttribute("value"));
        var temp = 0;
        if (currPos - numShowMaid >= 0) {
            for (var i = currPos; i >= currPos - numShowMaid; i--) {
                if (document.getElementById(i).getAttribute("style") == "") {
                    document.getElementById(i).setAttribute("style", "display: none");
                    temp = i;
                }
            }
            for (var j = temp - 1; j >= temp - numShowMaid; j--) {
                document.getElementById(j).setAttribute("style", "");
            }
        }
        currPos = temp - 1;
        if (currPos <= numShowMaid) {
            document.getElementById("back").setAttribute("style", "display: none");
        }
        document.getElementById("currPos").setAttribute("value", currPos);
        document.getElementById("next").setAttribute("style", "");
    }
</script>
<script type="text/javascript" language="javascript">
    $("#btnEdit").click(function () {
        console.debug("sdf");
        var errText = "";

        if ($("#maidBoxChoosed").html() == "") {
            errText = "<font color='red'>Vui lòng chọn người giúp việc</font>";
            document.getElementById("MaidErr").innerHTML = errText;
            return false;
        }
        else {
            errText = "";
            document.getElementById("MaidErr").innerHTML = errText;
        }
        if ($("#txtTitle").val().trim() == "") {
            errText = "<font color='red'>Vui lòng nhập tiêu đề</font>";
            document.getElementById("textBlank").innerHTML = errText;
            return false;
        } else {
            errText = "";
            document.getElementById("textBlank").innerHTML = errText;
        }
        if ($("#chosenSkills").html() == "") {
            errText = "<font color='red'>Vui lòng chọn kĩ năng</font>";
            document.getElementById("SkillErr").innerHTML = errText;
            return false;
        }
        else {
            errText = "";
            document.getElementById("SkillErr").innerHTML = errText;
        }
    });
</script>
