@{
    ViewBag.Title = "Nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MS_Website.Models.Account account = Model;
    ViewBag.Info = true;
    List<MS_Website.Models.Maid> Maid = ViewBag.MaidList;
}

<style>
    a.myToolTip
    {
        outline: none;
    }

        a.myToolTip strong
        {
            line-height: 30px;
        }

        a.myToolTip:hover
        {
            text-decoration: none;
        }

        a.myToolTip span
        {
            z-index: 10;
            display: none;
            padding: 14px 20px;
            margin-top: 60px;
            margin-left: -160px;
            width: 300px;
            line-height: 16px;
        }

        a.myToolTip:hover span
        {
            display: inline;
            position: absolute;
            border: 2px solid #FFF;
            color: #EEE;
            background: #333 url(cssttp/css-tooltip-gradient-bg.png) repeat-x 0 0;
        }

    .callout
    {
        z-index: 20;
        position: absolute;
        border: 0;
        top: -14px;
        left: 120px;
    }

    a.myToolTip .maidAva2
    {
        float: right;
        margin-right: -8px;
        width: 60px;
        height: 60px;
    }
    /*CSS3 extras*/
    a.myToolTip span
    {
        border-radius: 2px;
        box-shadow: 0px 0px 8px 4px #666;
        /*opacity: 0.8;*/
    }
</style>
<div class="Menu">
    @Html.Partial("_PartialMenu")
    <div class="hChildMenu">
        <ul class="hChildMenuList">
            <li class="iscurent">
                <a class="hChContent">Cá nhân</a>
            </li>
            <li class>
                <a href="@Url.Action("MaidManagerEdit", "MaidManager")" class="hChContent">Sửa thông tin người quản lý</a>
            </li>
        </ul>
    </div>
</div>
<div class="body">
    <div class="rows">
        <div class="row">
            <div class="col-md-8">
                <div class="leftInfo">
                    <div class="mainInfo">
                        <div class="miPic">
                            <img src="@account.Avatar" alt="Maid sercive">
                        </div>
                        <div class="mmiDetail">
                            <div class="miFullName">
                                @account.FullName
                            </div>
                            <div class="miAccount">
                                Nhân viên
                            </div>
                        </div>
                    </div>
                    <div class="overView">
                        <div class="ovTitle">
                            Thống kê các yêu cầu
                        </div>
                        <div class="ovContent">
                            @{
                                //watting,expired,approved,applied
                                int[] numStatus = ViewBag.StaffStatusStatistic;
                                var numberStatistic = new int[5] { numStatus[0], numStatus[1], numStatus[2], numStatus[3], numStatus[4] };
                            }
                            @Html.Partial("_PartialStatisticPie", numberStatistic)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rightInfo">
                    <ul class="riDetail">
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Tham gia
                            </div>
                            <div class="rideroContent">
                                <strong>@account.JoinDate.ToString("dd/MM/yyyy")
                                </strong>
                            </div>
                        </li>
                    </ul>
                    <div class="riManager">
                        <div class="rimaTitle">
                            Đại diện cho:
                        </div>
                        <div id="back" class="rimaMore" style="display: none;" onclick="preMaids()">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                        <div class="rimaContent">
                            <input id="currPos" type="hidden" value="4" />
                            <ul class="rimaMaidList">
                                @{
                                    var counter = 0;
                                }
                                @foreach (var maid in Maid)
                                {                      
                                    <li id="@counter" style="display: @(counter > 4 ? "none" : "");">
                                        <div class="liImage">
                                            <img src="@maid.PersonalImage">
                                        </div>
                                        <div class="liMaidContent">
                                            <div class="licoFullName">
                                                <a href="@Url.Action("ManageMaidProfile", "MaidManager", new { maidId = maid.MaidId })" class="myToolTip">
                                                    @maid.MaidName
                                                    @*<span>
                                                        <img class="callout" src="../Content/Image/callout_black.gif" /><img class="maidAva2" src="@maid.PersonalImage" /><strong>Tên đầy đủ: </strong>@maid.MaidName<br />
                                                        <strong>Số điện thoại: </strong>
                                                        <br/>
                                                    </span>*@
                                                </a>
                                                <div class="licoRate">
                                                    @Html.Partial("_PartialStar", (float)maid.RateAvg)
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Giới tính: </span><span class="blTimeText">@(maid.Gender == true ? "Nam" : "Nữ")</span>
                                                </div>
                                                @*<div class="ricoPost">
                                                    Đăng/nhận <span class="ricoPostApply">80</span>/<span class="ricoPostTotal">30</span>
                                                </div>*@
                                            </div>
                                        </div>
                                    </li>
                                    counter++;
                                }
                            </ul>
                            <input id="lastPos" type="hidden" value="@(counter - 1)"/>
                        </div>
                        @if (counter > 5)
                        {
                            <div id="next" class="rimaMore" onclick="nextMaids()">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </div>
                        }
                        <a href="@Url.Action("LoadAddMaid", "MaidManager")">
                                <button type="button" class="btn btn-info">Thêm người giúp việc</button>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function addMaid() {
        document.forms["addMaidModal"].submit();
    }

    function uploadAva() { //calls the function named uploadAva()
        var preview = document.querySelector('img[class=avatar]'); //selects the query named img
        var file = document.querySelector('input[type=file]').files[0]; //sames as here
        var reader = new window.FileReader();
        reader.onloadend = function () {
            preview.src = reader.result;
            var ava = document.getElementById("ava").src;
            document.getElementById("avaIcon").setAttribute("src", ava);
        };
        if (file) {
            reader.readAsDataURL(file); //reads the data as a URL
        } else {
            preview.src = "";
        }
    }

    function uploadMaidAva() { //calls the function named uploadAva()
        var preview = document.querySelector('img[id=maidAvatar]'); //selects the query named img
        var file = document.querySelector('input[id=maidAva]').files[0]; //sames as here
        var reader = new FileReader();
        reader.onloadend = function () {
            preview.src = reader.result;
            var ava = document.getElementById("ava").src;
            document.getElementById("avaIcon").setAttribute("src", ava);
        };
        if (file) {
            reader.readAsDataURL(file); //reads the data as a URL
        } else {
            preview.src = "";
        }
    }

    function nextMaids() {
        var currPos = parseInt(document.getElementById("currPos").getAttribute("value"));
        var lastPos = parseInt(document.getElementById("lastPos").getAttribute("value"));
        var temp = 0;
        if (currPos < lastPos) {
            for (var i = 0; i <= currPos; i++) {
                if (document.getElementById(i) != null) {
                    document.getElementById(i).setAttribute("style", "display: none");
                }
            }
            for (var j = currPos + 1; j <= currPos + 5; j++) {
                if (document.getElementById(j) != null) {
                    document.getElementById(j).setAttribute("style", "");
                    temp = j;
                }
            }
        }
        currPos = temp;
        if (currPos >= lastPos) {
            document.getElementById("next").setAttribute("style", "display: none");
        }
        document.getElementById("currPos").setAttribute("value", currPos);
        document.getElementById("back").setAttribute("style", "");
    }

    function preMaids() {
        var currPos = parseInt(document.getElementById("currPos").getAttribute("value"));
        var temp = 0;
        if (currPos - 9 >= 0) {
            for (var i = currPos; i > currPos - 5; i--) {
                if (document.getElementById(i).getAttribute("style") == "") {
                    document.getElementById(i).setAttribute("style", "display: none");
                    temp = i;
                }
            }
            for (var j = temp - 1; j > temp - 6; j--) {
                document.getElementById(j).setAttribute("style", "");
            }
        }
        currPos = temp - 1;
        if (currPos <= 4) {
            document.getElementById("back").setAttribute("style", "display: none");
        }
        document.getElementById("currPos").setAttribute("value", currPos);
        document.getElementById("next").setAttribute("style", "");
    }
</script>
