@{
    ViewBag.Title = "CustomerProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MS_Website.Models.Account account = Model;
    ViewBag.Info = true;
}

@*@{MS_Website.Models.JobRequestTemp NotApplList = ViewBag.NotApplList};
@NotApplList.*@
<div class="Menu">
    @Html.Partial("_PartialMenu")
    <div class="hChildMenu">
        <ul class="hChildMenuList">
            <li class="iscurent">
                <a class="hChContent">Cá nhân</a>
            </li>
            <li>
                <a href="@Url.Action("CustomerEdit", "Customer", new { custId = account.AccountId })" class="hChContent">Sửa thông tin</a>
            </li>
        </ul>
    </div>
</div>
<div class="body">
    <div class="rows">
        <div class="row">
            <div class="col-md-8">
                <div class="leftInfo">
                    <div class="mainInfo">
                        <div class="miPic">
                            <img src="@account.Avatar" alt="Maid service" height="100%">
                        </div>
                        <div class="mmiDetail">
                            <div class="miFullName">
                                @account.FullName
                            </div>
                            <div class="miAccount">
                                Người tuyển việc
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="rightInfo">
                    <ul class="riDetail">
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Tham gia
                            </div>
                            <div class="rideroContent">
                                <strong>@account.JoinDate.ToShortDateString()
                                </strong>
                            </div>
                        </li>
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Đã đăng
                            </div>
                            <div class="rideroContent">
                                <strong>80
                                </strong>
                            </div>
                        </li>
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Đã chấp nhận
                            </div>
                            <div class="rideroContent">
                                <strong>20
                                </strong>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="boxListWork">
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                    <li class="active"><a href="#free" role="tab" data-toggle="tab">Chưa tuyển được người</a></li>
                    <li class><a href="#applied" role="tab" data-toggle="tab">Đã tuyển</a></li>
                    <li class><a href="#expired" role="tab" data-toggle="tab">Hết hạn</a></li>
                    @if (ViewBag.Manage == "true")
                    {
                        <li class><a href="#hide" role="tab" data-toggle="tab">Không công khai</a></li>
                        <li class><a href="#paid" role="tab" data-toggle="tab">Đã thanh toán</a></li>
                        <li class><a href="#notActive" role="tab" data-toggle="tab">Chưa kích hoạt</a></li>
                    }
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active  bFree" id="free">
                        <ul class="bFreeListWork">
                            @foreach (var recruit in ViewBag.NotApplList)
                            {
                                <li id="@recruit.Recruitment.RecruitmentId" onclick="chooseRecruit(@recruit.Recruitment.RecruitmentId, 1)">
                                    <div class="blImage">
                                        <img src="../Content/Image/rc.png" alt="Maid service" height="100%">
                                    </div>
                                    <div class="blDetail">
                                        <div class="blName">
                                            <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = recruit.Recruitment.RecruitmentId })">@recruit.Recruitment.Title</a>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Đăng: </span><span
                                                class="blTimeText">@recruit.Recruitment.PostTime.ToShortDateString()</span>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Tới: </span><span
                                                class="blTimeText">@recruit.Recruitment.ExpiredTime.ToShortDateString()</span>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                        <div class="blFooter">
                            <div class="blfNumber">
                                <ul class="pagination pagination-sm">
                                    <li><a href="#">&laquo;</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>
                            </div>
                            @if (ViewBag.Manage == "true")
                            {
                                using (Html.BeginForm("HideRecruitment", "Customer"))
                                {
                                <input id="hideId" type="hidden" name="recruitId" />
                                <div id="button_1" style="display: none;" class="blfbutton">
                                    <button type="submit" class="btn btn-danger">Tạm ẩn</button>
                                    <button class="btn btn-info" data-toggle="modal" data-target=".extendModel" onclick="return false">Gia hạn</button>
                                </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade bApplied" id="applied">
                        @*<div class="bTitle">
                                    <div class="btWork">
                                        Công việc
                                    </div>
                                    <div class="btApply">
                                        Người nhận việc
                                    </div>
                                </div>*@
                        <ul class="bApplyListWork">
                            @foreach (var recruit in ViewBag.ApplList)
                            {
                                <li>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="bAWork">
                                                <div class="blImage">
                                                    <img src="../Content/Image/rc.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = recruit.Recruitment.RecruitmentId })">@recruit.Recruitment.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Đăng: </span><span
                                                            class="blTimeText">@recruit.Recruitment.PostTime.ToShortDateString()</span>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Tới: </span><span
                                                            class="blTimeText">@recruit.Recruitment.ExpiredTime.ToShortDateString()</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="bACus">
                                                <div class="blImage">
                                                    <img src="../Content/Image/jr.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="@Url.Action("GetJobRequest", "Post", new { jobId = recruit.JobRequest.JobRequestId })">@recruit.JobRequest.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Đăng: </span><span
                                                            class="blTimeText">@recruit.JobRequest.PostTime.ToShortDateString()</span>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Tới: </span><span
                                                            class="blTimeText">@recruit.JobRequest.ExpiredTime.ToShortDateString()</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                        <div class="blFooter">
                            <div class="blfNumber">
                                <ul class="pagination pagination-sm">
                                    <li><a href="#">&laquo;</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade bExprred" id="expired">
                        <ul class="bexpiredListWork">
                            @foreach (var recruit in ViewBag.ExpiredList)
                            {
                                <li id="@recruit.Recruitment.RecruitmentId" onclick="chooseRecruit(@recruit.Recruitment.RecruitmentId, 3)">
                                    <div class="blImage">
                                        <img src="../Content/Image/rc.png" alt="Maid sercive" height="100%">
                                    </div>
                                    <div class="blDetail">
                                        <div class="blName">
                                            <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = recruit.Recruitment.RecruitmentId })">@recruit.Recruitment.Title</a>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Đăng: </span><span
                                                class="blTimeText">@recruit.Recruitment.PostTime.ToShortDateString()</span>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Tới: </span><span
                                                class="blTimeText">@recruit.Recruitment.ExpiredTime.ToShortDateString()</span>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                        <div class="blFooter">
                            <div class="blfNumber">
                                <ul class="pagination pagination-sm">
                                    <li><a href="#">&laquo;</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>
                            </div>
                            <input id="removeId" type="hidden" name="recruitId" />
                            <div id="button_3" style="display: none;" class="blfbutton">
                                @if (ViewBag.Manage == "true")
                                {
                                    <button class="btn btn-info" data-toggle="modal" data-target=".extendModel">Gia hạn</button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade bExprred" id="hide">
                        <ul class="bexpiredListWork">
                            @foreach (var recruit in ViewBag.UnpublicList)
                            {
                                <li id="@recruit.Recruitment.RecruitmentId" onclick="chooseRecruit(@recruit.Recruitment.RecruitmentId, 4)">
                                    <div class="blImage">
                                        <img src="../Content/Image/rc.png" alt="Maid sercive" height="100%">
                                    </div>
                                    <div class="blDetail">
                                        <div class="blName">
                                            <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = recruit.Recruitment.RecruitmentId })">@recruit.Recruitment.Title</a>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Đăng: </span><span
                                                class="blTimeText">@recruit.Recruitment.PostTime.ToShortDateString()</span>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Tới: </span><span
                                                class="blTimeText">@recruit.Recruitment.ExpiredTime.ToShortDateString()</span>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                        <div class="blFooter">
                            <div class="blfNumber">
                                <ul class="pagination pagination-sm">
                                    <li><a href="#">&laquo;</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>
                            </div>
                            @if (ViewBag.Manage == "true")
                            {
                                using (Html.BeginForm("PublicRecruitment", "Customer"))
                                {
                                <input id="publicId" type="hidden" name="recruitId" />
                                <div id="button_4" style="display: none;" class="blfbutton">
                                    <button type="submit" class="btn btn-danger">Công khai</button>
                                    <button class="btn btn-info" data-toggle="modal" data-target=".extendModel" onclick="return false">Gia hạn</button>
                                </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade bExprred" id="paid">
                        <ul class="bexpiredListWork">
                            @foreach (var recruit in ViewBag.PaidList)
                            {
                                <li id="@recruit.Recruitment.RecruitmentId">
                                    <div class="blImage">
                                        <img src="../Content/Image/rc.png" alt="Maid sercive" height="100%">
                                    </div>
                                    <div class="blDetail">
                                        <div class="blName">
                                            <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = recruit.Recruitment.RecruitmentId })">@recruit.Recruitment.Title</a>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Đăng: </span><span
                                                class="blTimeText">@recruit.Recruitment.PostTime.ToShortDateString()</span>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Tới: </span><span
                                                class="blTimeText">@recruit.Recruitment.ExpiredTime.ToShortDateString()</span>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                        <div class="blFooter">
                            <div class="blfNumber">
                                <ul class="pagination pagination-sm">
                                    <li><a href="#">&laquo;</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade bExprred" id="notActive">
                        <ul class="bexpiredListWork">
                            @foreach (var recruit in ViewBag.NotActiveList)
                            {
                                <li id="@recruit.Recruitment.RecruitmentId">
                                    <div class="blImage">
                                        <img src="../Content/Image/rc.png" alt="Maid sercive" height="100%">
                                    </div>
                                    <div class="blDetail">
                                        <div class="blName">
                                            <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = recruit.Recruitment.RecruitmentId })">@recruit.Recruitment.Title</a>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Đăng: </span><span
                                                class="blTimeText">@recruit.Recruitment.PostTime.ToShortDateString()</span>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Tới: </span><span
                                                class="blTimeText">@recruit.Recruitment.ExpiredTime.ToShortDateString()</span>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                        <div class="blFooter">
                            <div class="blfNumber">
                                <ul class="pagination pagination-sm">
                                    <li><a href="#">&laquo;</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    $(function () {
                        $('#myTab a:selected').tab('show');
                    })
                </script>
            </div>
        </div>
    </div>
</div>
<div class="modal fade extendModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header chooseMaidModalTitle">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Gia hạn đơn tuyển việc</h4>
            </div>
            <input id="extendId" type="hidden" name="recruitId" />
            <div class="modal-body chooseMaidModalMaid">
                <span>Thời gian gia hạn</span>
                <select id="week" class="form-control" name="extend" onchange="chooseWeek()">
                    <option value="1">1 tuần</option>
                    <option value="2">2 tuần</option>
                    <option value="3">3 tuần</option>
                    <option value="4">4 tuần</option>
                    <option value="5">5 tuần</option>
                </select>
                <span id="result" style="display: none;">Bạn đã nạp tiền thành công</span>
            </div>
            <div class="modal-footer">
                @Html.Partial("_PartialExtend")
            </div>
        </div>
    </div>
</div>
<script>
    var chosenId = 0;
    function chooseRecruit(recruitId, type) {
        if (chosenId != 0) {
            document.getElementById(chosenId).setAttribute("class", "");
        }
        if (recruitId != chosenId) {
            document.getElementById(recruitId).setAttribute("class", "isCurent");
            chosenId = recruitId;
        } else {
            document.getElementById(recruitId).setAttribute("class", "");
            chosenId = 0;
            type = 0;
        }
        if (type == 1) {
            document.getElementById("hideId").setAttribute("value", recruitId);
            document.getElementById("extendId").setAttribute("value", recruitId);
            document.getElementById("button_1").setAttribute("style", "");
            document.getElementById("button_3").setAttribute("style", "display: none;");
            document.getElementById("button_4").setAttribute("style", "display: none;");
        } else if (type == 3) {
            document.getElementById("extendId").setAttribute("value", recruitId);
            document.getElementById("button_1").setAttribute("style", "display: none;");
            document.getElementById("button_3").setAttribute("style", "");
            document.getElementById("button_4").setAttribute("style", "display: none;");
        } else if (type == 4) {
            document.getElementById("extendId").setAttribute("value", recruitId);
            document.getElementById("publicId").setAttribute("value", recruitId);
            document.getElementById("button_1").setAttribute("style", "display: none;");
            document.getElementById("button_3").setAttribute("style", "display: none;");
            document.getElementById("button_4").setAttribute("style", "");
        } else if (type == 0) {
            document.getElementById("button_1").setAttribute("style", "display: none;");
            document.getElementById("button_3").setAttribute("style", "display: none;");
            document.getElementById("button_4").setAttribute("style", "display: none;");
        }
    }

    function extendRecruit() {
        document.forms["ExtendForm"].submit();
    }

    function chooseWeek() {
        var recruitId = document.getElementById("extendId").getAttribute("value");
        var weekDr = document.getElementById("week");
        var week = weekDr.options[weekDr.selectedIndex].value;
        document.getElementById("recruitId").setAttribute("value", recruitId);
        document.getElementById("amount").setAttribute("value", week * 1);
        document.getElementById("return").setAttribute("value", "http://localhost:7197/Customer/ExtendRecruitment?recruitId=" + recruitId + "&extend=" + week);
    }
</script>

