@{
    ViewBag.Title = "Thông tin khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MS_Website.Models.Account account = Model;
    ViewBag.Info = true;
    List<MS_Website.Models.RecruitmentTemp> notApplList = ViewBag.NotApplList;
    List<MS_Website.Models.RecruitmentTemp> applList = ViewBag.ApplList;
    List<MS_Website.Models.RecruitmentTemp> apprList = ViewBag.ApprList;
    List<MS_Website.Models.RecruitmentTemp> expiredList = ViewBag.ExpiredList;
    List<MS_Website.Models.RecruitmentTemp> hideList = ViewBag.HideList;
    List<MS_Website.Models.RecruitmentTemp> notActiveList = ViewBag.NotActiveList;
}

@*@{MS_Website.Models.JobRequestTemp NotApplList = ViewBag.NotApplList};
@NotApplList.*@
<div class="Menu">
    @Html.Partial("_PartialMenu")
    <div class="hChildMenu">
        <ul class="hChildMenuList">
            <li class="iscurent">
                <a class="hChContent">Cá nhân</a>
            </li>
            @if(Session["AccId"] != null)
            {
                if((int)Session["AccId"] == account.AccountId)
                {
                    <li>
                        <a href="@Url.Action("CustomerEdit", "Customer", new {custId = account.AccountId})" class="hChContent">Sửa thông tin</a>
                    </li>
                }
            }
        </ul>
    </div>
</div>
<div class="body">
    <div class="rows">
        <div class="row">
            <div class="col-md-8">
                <div class="leftInfo">
                    <div class="mainInfo">
                        <div class="miPic">
                            <img src="@account.Avatar" alt="Maid service" height="100%">
                        </div>
                        <div class="mmiDetail">
                            <div class="miFullName">
                                @account.FullName
                            </div>
                            <div class="miAccount">
                                Người tuyển việc
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="rightInfo">
                    <ul class="riDetail">
                        @if (Session["Acc"]!=null)
                        {
                            if (Session["Role"].Equals("Staff") || Session["Role"].Equals("Admin") || ViewBag.Manage != null)
                             {
                                 <li class="rideRow">
                                     <div class="rideroTitle">
                                         Điện thoại
                                     </div>
                                     <div class="rideroContent">
                                         <strong>@account.Phone
                                         </strong>
                                     </div>
                                 </li>
                                 <li class="rideRow">
                                     <div class="rideroTitle">
                                         Email
                                     </div>
                                     <div class="rideroContent">
                                         <strong>@account.Email
                                         </strong>
                                     </div>
                                 </li>
                                 <li class="rideRow">
                                     <div class="rideroTitle">
                                         Địa chỉ
                                     </div>
                                     <div class="rideroContent">
                                         <strong>@account.Customer.Address
                                         </strong>
                                     </div>
                                 </li>
                             }
                        }
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Tham gia
                            </div>
                            <div class="rideroContent">
                                <strong>@account.JoinDate.ToString("dd/MM/yyyy")
                                </strong>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="boxListWork">
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                    <li class="active"><a href="#free" role="tab" data-toggle="tab">Chờ thuê</a></li>
                    <li class><a href="#applied" role="tab" data-toggle="tab">Đã nhận</a></li>
                    <li class><a href="#approved" role="tab" data-toggle="tab">Hoàn tất</a></li>
                    <li class><a href="#expired" role="tab" data-toggle="tab">Hết hạn</a></li>
                    @if (ViewBag.Manage == "true")
                    {
                        <li class><a href="#hide" role="tab" data-toggle="tab">Tạm ẩn</a></li>
                        <li class><a href="#notActive" role="tab" data-toggle="tab">Chưa kích hoạt</a></li>
                    }
                </ul>
                @{
                    var counter = 0;
                    var total = 0;
                }
                <div class="tab-content">
                    <div class="tab-pane fade in active bFree" id="free">
                        <div class="btnsFunction">
                            @if (ViewBag.Manage == "true")
                            {
                                using (Html.BeginForm("HideRecruitment", "Customer"))
                                {
                                    <input id="hideId" type="hidden" name="recruitId" />
                                    <div id="button_1" style="display: none;" class="blfbutton">
                                        <button type="submit" class="btn btn-danger">Tạm ẩn</button>
                                        <button class="btn btn-info" data-toggle="modal" data-target=".extendModel" onclick="return false">Gia hạn</button>
                                    </div>
                                }
                            }
                        </div>
                        <ul class="bFreeListWork">
                            <input id="currPos1" type="hidden" value="4" />
                            @foreach (var recruitment in notApplList)
                            {
                                <li id="@(counter + 1)1" onclick="chooseRecruit(@(counter + 1), @recruitment.Recruitment.RecruitmentId, 1)" style="display: @(counter > 3 ? "none" : "")">
                                    <div class="blImage">
                                        <img src="~/Content/Image/rc.png" alt="Maid service" height="100%">
                                    </div>
                                    <div class="blDetail">
                                        <div class="blName">
                                            <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = recruitment.Recruitment.RecruitmentId })">@recruitment.Recruitment.Title</a>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Đăng: </span><span
                                                                                       class="blTimeText">@recruitment.Recruitment.PostTime.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Tới&nbsp;&nbsp;&nbsp;&nbsp;: </span><span
                                                                                                              class="blTimeText">@recruitment.Recruitment.ExpiredTime.ToString("dd/MM/yyyy")</span>
                                        </div>
                                    </div>
                                </li>
                                if (counter < notApplList.Count)
                                {
                                    counter++;
                                }
                            }
                            @{
                                total += notApplList.Count;
                            }
                            <input id="lastPos1" type="hidden" value="@counter" />
                        </ul>
                        <div class="blFooter">
                            <div class="blfNumber">
                                <ul class="pagination pagination-sm">
                                    <div class="suNumber">
                                        <span class="glyphicon glyphicon-chevron-left" onclick="loadBack(1, 4)"></span>
                                        @if (notApplList.Any())
                                        {
                                            <span id="currPage1">1/</span>@(Math.Ceiling((double)notApplList.Count / 4))
                                        }
                                        else
                                        {
                                            <span>Không có kết quả</span>
                                        }
                                        <span class="glyphicon glyphicon-chevron-right" onclick="loadNext(1, 4)"></span>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade bApplied" id="applied">
                        <div class="btnsFunction">
                            
                        </div>
                        <ul class="bApplyListWork">
                            <input id="currPos2" type="hidden" value="@(counter + 2)" />
                            @foreach (var recruitment in applList)
                            {
                                <li id="@(counter + 1)2" style="display: @(counter - total > 1 ? "none" : "")">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="bAWork">
                                                <div class="blImage">
                                                    <img src="~/Content/Image/rc.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = recruitment.Recruitment.RecruitmentId })">@recruitment.Recruitment.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Đăng: </span><span
                                                                                                   class="blTimeText">@recruitment.Recruitment.PostTime.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="bACus">
                                                <div class="blImage">
                                                    <img src="~/Content/Image/jr.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="@Url.Action("GetJobRequest", "Post", new { jobId = recruitment.JobRequest.JobRequestId })">@recruitment.JobRequest.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Nhận: </span><span
                                                                                                   class="blTimeText">@recruitment.JobRequest.ApplyTimes.Value.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                if (counter - total < applList.Count)
                                {
                                    counter++;
                                }
                            }
                            @{
                                total += applList.Count;
                            }
                            <input id="lastPos2" type="hidden" value="@counter" />
                        </ul>
                        <div class="blFooter">
                            <div class="blfNumber">
                                <ul class="pagination pagination-sm">
                                    <div class="suNumber">
                                        <span class="glyphicon glyphicon-chevron-left" onclick="loadBack(2, 2)"></span>
                                        @if (applList.Any())
                                        {
                                            <span id="currPage2">1/</span>@(Math.Ceiling((double)applList.Count / 2))
                                        }
                                        else
                                        {
                                            <span>Không có kết quả</span>
                                        }
                                        <span class="glyphicon glyphicon-chevron-right" onclick="loadNext(2, 2)"></span>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade bApplied" id="approved">
                        <div class="btnsFunction">
                            
                        </div>
                        <ul class="bApplyListWork">
                            <input id="currPos3" type="hidden" value="@(counter + 2)" />
                            @foreach (var recruitment in apprList)
                            {
                                <li id="@(counter + 1)3" style="display: @(counter - total > 1 ? "none" : "")">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="bAWork">
                                                <div class="blImage">
                                                    <img src="~/Content/Image/rc.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = recruitment.Recruitment.RecruitmentId })">@recruitment.Recruitment.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Đăng: </span><span
                                                            class="blTimeText">@recruitment.Recruitment.PostTime.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="bACus">
                                                <div class="blImage">
                                                    <img src="~/Content/Image/jr.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="@Url.Action("GetJobRequest", "Post", new { jobId = recruitment.JobRequest.JobRequestId })">@recruitment.JobRequest.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Nhận: </span><span
                                                            class="blTimeText">@recruitment.JobRequest.ApplyTimes.Value.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                if (counter - total < apprList.Count)
                                {
                                    counter++;
                                }
                            }
                            @{
                                total += apprList.Count;
                            }
                            <input id="lastPos3" type="hidden" value="@counter" />
                        </ul>
                        <div class="blFooter">
                            <div class="blfNumber">
                                <ul class="pagination pagination-sm">
                                    <div class="suNumber">
                                        <span class="glyphicon glyphicon-chevron-left" onclick="loadBack(3, 2)"></span>
                                        @if (apprList.Any())
                                        {
                                            <span id="currPage3">1/</span>@(Math.Ceiling((double)apprList.Count / 2))
                                        }
                                        else
                                        {
                                            <span>Không có kết quả</span>
                                        }
                                        <span class="glyphicon glyphicon-chevron-right" onclick="loadNext(3, 2)"></span>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade bExprred" id="expired">
                        <div class="btnsFunction">
                            @if (ViewBag.Manage == "true")
                            {
                                <div id="button_4" style="display: none;" class="blfbutton">
                                    <button class="btn btn-info" data-toggle="modal" data-target=".extendModel" onclick="return false">Gia hạn</button>
                                </div>
                            }
                        </div>
                        <ul class="bexpiredListWork">
                            <input id="currPos4" type="hidden" value="@(counter + 4)" />
                            @foreach (var recruitment in expiredList)
                            {
                                <li id="@(counter + 1)4" onclick="chooseRecruit(@(counter + 1), @recruitment.Recruitment.RecruitmentId, 4)" style="display: @(counter - total > 3 ? "none" : "")">
                                    <div class="blImage">
                                        <img src="~/Content/Image/rc.png" alt="Maid service" height="100%">
                                    </div>
                                    <div class="blDetail">
                                        <div class="blName">
                                            <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = recruitment.Recruitment.RecruitmentId })">@recruitment.Recruitment.Title</a>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Đăng: </span><span
                                                                                       class="blTimeText">@recruitment.Recruitment.PostTime.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Tới&nbsp;&nbsp;&nbsp;&nbsp;: </span><span
                                                                                                              class="blTimeText">@recruitment.Recruitment.ExpiredTime.ToString("dd/MM/yyyy")</span>
                                        </div>
                                    </div>
                                </li>
                                if (counter - total < expiredList.Count)
                                {
                                    counter++;
                                }
                            }
                            @{
                                total += expiredList.Count;
                            }
                            <input id="lastPos4" type="hidden" value="@counter" />
                        </ul>
                        <div class="blFooter">
                            <div class="blfNumber">
                                <ul class="pagination pagination-sm">
                                    <div class="suNumber">
                                        <span class="glyphicon glyphicon-chevron-left" onclick="loadBack(4, 4)"></span>
                                        @if (expiredList.Any())
                                        {
                                            <span id="currPage4">1/</span>@(Math.Ceiling((double)expiredList.Count / 4))
                                        }
                                        else
                                        {
                                            <span>Không có kết quả</span>
                                        }
                                        <span class="glyphicon glyphicon-chevron-right" onclick="loadNext(4, 4)"></span>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade bExprred" id="hide">
                        <div class="btnsFunction">
                            @if (ViewBag.Manage == "true")
                            {
                                using (Html.BeginForm("PublicRecruitment", "Customer"))
                                {
                                    <input id="publicId" type="hidden" name="recruitId" />
                                    <div id="button_5" style="display: none;" class="blfbutton">
                                        <button type="submit" class="btn btn-danger">Công khai</button>
                                        <button class="btn btn-info" data-toggle="modal" data-target=".extendModel" onclick="return false">Gia hạn</button>
                                    </div>
                                }
                            }
                        </div>
                        <ul class="bexpiredListWork">
                            <input id="currPos5" type="hidden" value="@(counter + 4)" />
                            @foreach (var recruitment in hideList)
                            {
                                <li id="@(counter + 1)5" onclick="chooseRecruit(@(counter + 1), @recruitment.Recruitment.RecruitmentId, 5)" style="display: @(counter - total > 3 ? "none" : "")">
                                    <div class="blImage">
                                        <img src="~/Content/Image/rc.png" alt="Maid service" height="100%">
                                    </div>
                                    <div class="blDetail">
                                        <div class="blName">
                                            <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = recruitment.Recruitment.RecruitmentId })">@recruitment.Recruitment.Title</a>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Đăng: </span><span
                                                                                       class="blTimeText">@recruitment.Recruitment.PostTime.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Tới&nbsp;&nbsp;&nbsp;&nbsp;: </span><span
                                                                                                              class="blTimeText">@recruitment.Recruitment.ExpiredTime.ToString("dd/MM/yyyy")</span>
                                        </div>
                                    </div>
                                </li>
                                if (counter - total < hideList.Count)
                                {
                                    counter++;
                                }
                            }
                            @{
                                total += hideList.Count;
                            }
                            <input id="lastPos5" type="hidden" value="@counter" />
                        </ul>
                        <div class="blFooter">
                            <div class="blfNumber">
                                <ul class="pagination pagination-sm">
                                    <div class="suNumber">
                                        <span class="glyphicon glyphicon-chevron-left" onclick="loadBack(5, 4)"></span>
                                        @if (hideList.Any())
                                        {
                                            <span id="currPage5">1/</span>@(Math.Ceiling((double)hideList.Count / 4))
                                        }
                                        else
                                        {
                                            <span>Không có kết quả</span>
                                        }
                                        <span class="glyphicon glyphicon-chevron-right" onclick="loadNext(5, 4)"></span>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade bExprred" id="notActive">
                        <div class="btnsFunction">
                            
                        </div>
                        <ul class="bexpiredListWork">
                            <input id="currPos6" type="hidden" value="@(counter + 4)" />
                            @foreach (var recruitment in notActiveList)
                            {
                                <li id="@(counter + 1)6" style="display: @(counter - total > 3 ? "none" : "")">
                                    <div class="blImage">
                                        <img src="~/Content/Image/rc.png" alt="Maid service" height="100%">
                                    </div>
                                    <div class="blDetail">
                                        <div class="blName">
                                            <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = recruitment.Recruitment.RecruitmentId })">@recruitment.Recruitment.Title</a>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Đăng: </span><span
                                                                                       class="blTimeText">@recruitment.Recruitment.PostTime.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        <div class="blTime">
                                            <span class="blTimeTitle">Tới&nbsp;&nbsp;&nbsp;&nbsp;: </span><span
                                                                                                              class="blTimeText">@recruitment.Recruitment.ExpiredTime.ToString("dd/MM/yyyy")</span>
                                        </div>
                                    </div>
                                </li>
                                if (counter - total < notActiveList.Count)
                                {
                                    counter++;
                                }
                            }
                            @{
                                total += notActiveList.Count;
                            }
                            <input id="lastPos6" type="hidden" value="@counter" />
                        </ul>
                        <div class="blFooter">
                            <div class="blfNumber">
                                <ul class="pagination pagination-sm">
                                    <div class="suNumber">
                                        <span class="glyphicon glyphicon-chevron-left" onclick="loadBack(6, 4)"></span>
                                        @if (notActiveList.Any())
                                        {
                                            <span id="currPage5">1/</span>@(Math.Ceiling((double)notActiveList.Count / 4))
                                        }
                                        else
                                        {
                                            <span>Không có kết quả</span>
                                        }
                                        <span class="glyphicon glyphicon-chevron-right" onclick="loadNext(6, 4)"></span>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    $(function () {
                        $('#myTab a:selected').tab('show');
                    })
                </script>
            </div>
        </div>
    </div>
</div>
<div class="modal fade extendModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header chooseMaidModalTitle">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Gia hạn đơn tuyển việc</h4>
            </div>
            <input id="extendId" type="hidden" name="recruitId" />
            <div class="modal-body chooseMaidModalMaid">
                <span>Thời gian gia hạn</span>
                <select id="week" class="form-control" name="extend" onchange="chooseWeek()">
                    @for (int i = 1; i <= (int)Session["MaxWeek"];i++ )
                                {
                                    <option value="@i">@i tuần</option>
                                }
                </select>
                <span id="result" style="display: none;">Bạn đã nạp tiền thành công</span>
            </div>
            <div class="modal-footer">
                @Html.Partial("_PartialExtend")
                <input type="hidden" id="PriceRC" value="@((int)Session["PriceRC"]/20)"/>
            </div>
        </div>
    </div>
</div>

<script>
    var chosenCount = 0;
    var chosenType = 0;
    function chooseRecruit(counter, recruitId, type) {
        if (chosenCount != 0) {
            document.getElementById(chosenCount + "" + chosenType).setAttribute("class", "");
        }
        if (counter != chosenCount) {
            document.getElementById(counter + "" + type).setAttribute("class", "isCurent");
            chosenCount = counter;
            chosenType = type;
        } else {
            document.getElementById(counter + "" + type).setAttribute("class", "");
            chosenCount = 0;
            chosenType = 0;
            type = 0;
        }
        if (type == 1) {
            document.getElementById("hideId").setAttribute("value", recruitId);
            document.getElementById("extendId").setAttribute("value", recruitId);
            document.getElementById("recruitId").setAttribute("value", recruitId);
            document.getElementById("button_1").setAttribute("style", "");
            document.getElementById("button_4").setAttribute("style", "display: none;");
            document.getElementById("button_5").setAttribute("style", "display: none;");
        } else if (type == 4) {
            document.getElementById("extendId").setAttribute("value", recruitId);
            document.getElementById("recruitId").setAttribute("value", recruitId);
            document.getElementById("button_1").setAttribute("style", "display: none;");
            document.getElementById("button_4").setAttribute("style", "");
            document.getElementById("button_5").setAttribute("style", "display: none;");
        } else if (type == 5) {
            document.getElementById("extendId").setAttribute("value", recruitId);
            document.getElementById("recruitId").setAttribute("value", recruitId);
            document.getElementById("publicId").setAttribute("value", recruitId);
            document.getElementById("button_1").setAttribute("style", "display: none;");
            document.getElementById("button_4").setAttribute("style", "display: none;");
            document.getElementById("button_5").setAttribute("style", "");
        } else if (type == 0) {
            document.getElementById("button_1").setAttribute("style", "display: none;");
            document.getElementById("button_4").setAttribute("style", "display: none;");
            document.getElementById("button_5").setAttribute("style", "display: none;");
        }
        document.getElementById("return").setAttribute("value", "http://localhost:7197/Customer/ExtendRecruitment?recruitId=" + recruitId + "&extend=1");
    }

    function extendRecruit() {
        document.forms["ExtendForm"].submit();
    }

    function chooseWeek() {
        var recruitId = document.getElementById("extendId").getAttribute("value");
        var weekDr = document.getElementById("week");
        var week = weekDr.options[weekDr.selectedIndex].value;
        document.getElementById("amount").setAttribute("value", parseInt(week) * parseInt($("#PriceRC").val()));
        document.getElementById("return").setAttribute("value", "http://localhost:7197/Customer/ExtendRecruitment?recruitId=" + recruitId + "&extend=" + week);
    }

    function loadNext(type, amount) {
        var currPos = parseInt(document.getElementById("currPos" + type).getAttribute("value"));
        var lastPos = parseInt(document.getElementById("lastPos" + type).getAttribute("value"));
        if (currPos < lastPos) {
            var currPage = parseInt(document.getElementById("currPage" + type).innerHTML) + 1;
            document.getElementById("currPage" + type).innerHTML = currPage + "/";
            for (var i = currPos - amount + 1; i <= currPos; i++) {
                if (document.getElementById(i + "" + type) != null) {
                    document.getElementById(i + "" + type).setAttribute("style", "display: none");
                }
            }
            for (var j = currPos + 1; j <= currPos + amount; j++) {
                if (document.getElementById(j + "" + type) != null) {
                    document.getElementById(j + "" + type).setAttribute("style", "");
                }
            }
            document.getElementById("currPos" + type).setAttribute("value", currPos + amount);
        }
    }

    function loadBack(type, amount) {
        var currPos = parseInt(document.getElementById("currPos" + type).getAttribute("value"));
        var lastPos = 0;
        if (parseInt(type) - 1 > 0) {
            lastPos = parseInt(document.getElementById("lastPos" + (parseInt(type) - 1)).getAttribute("value"));
        }
        if (currPos - amount > lastPos) {
            var currPage = parseInt(document.getElementById("currPage" + type).innerHTML) - 1;
            document.getElementById("currPage" + type).innerHTML = currPage + "/";
            for (var i = currPos; i > currPos - amount; i--) {
                if (document.getElementById(i + "" + type) != null) {
                    document.getElementById(i + "" + type).setAttribute("style", "display: none");
                }
            }
            for (var j = currPos - amount; j > currPos - 2 * amount; j--) {
                if (document.getElementById(j + "" + type) != null) {
                    document.getElementById(j + "" + type).setAttribute("style", "");
                }
            }
            document.getElementById("currPos" + type).setAttribute("value", currPos - amount);
        }
    }
</script>

