@{
    ViewBag.Title = "CustomerProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@{MS_Website.Models.JobRequestTemp NotApplList = ViewBag.NotApplList};
@NotApplList.*@
<div class="Menu">
    <div class="rows">
        <div class="hMenu">
            <div class="hFatherMenu">
                <ul class="hmeTabList">
                    <li>
                        <a href="#" class="hefaContent iscurent">Find Work</a>
                    </li>
                    <li>
                        <a href="/Customer/PostRecruitment" class="hefaContent">Đăng yêu cầu tuyển việc</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hChildMenu">
        <ul class="hChildMenuList">
            <li class="iscurent">
                <a href="#" class="hChContent">Job Applications</a>
            </li>
            <li class>
                <a href="#" class="hChContent">Job Applications</a>
            </li>
        </ul>
    </div>
</div>
<div class="body">
    <div class="rows">
        <div class="row">
            <div class="col-md-8">
                <div class="leftInfo">
                    <div class="mainInfo">
                        <div class="miPic">
                            <img src="@ViewBag.CustImg" alt="Maid service" height="100%">
                        </div>
                        <div class="mmiDetail">
                            <div class="miFullName">
                                @Model.FullName
                            </div>
                            <div class="miAccount">
                                Người thuê việc
                            </div>
                        </div>
                    </div>
                    <div class="boxListWork">
                        <ul class="nav nav-tabs" role="tablist" id="myTab">
                            <li class="active"><a href="#free" role="tab" data-toggle="tab">Chưa tuyển được người</a></li>
                            <li class><a href="#applied" role="tab" data-toggle="tab">Đã tuyển</a></li>
                            <li class><a href="#expired" role="tab" data-toggle="tab">Hết hạn</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active  bFree" id="free">
                                <ul class="bFreeListWork">
                                    @foreach (var recruit in ViewBag.NotApplList)
                                    {
                                        <li id="@recruit.Recruitment.RecruitmentId" onclick="chooseJob(@recruit.Recruitment.RecruitmentId, 2)">
                                            <div class="blImage">
                                                <img src="../Content/Image/MS-Logo.png" alt="Maid service" height="100%">
                                            </div>
                                            <div class="blDetail">
                                                <div class="blName">
                                                    <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = recruit.Recruitment.RecruitmentId })">@recruit.Recruitment.Title</a>
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Đăng: </span><span
                                                        class="blTimeText">@recruit.Recruitment.PostTime</span>
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Tới: </span><span
                                                        class="blTimeText">@recruit.Recruitment.ExpiredTime</span>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <div class="blFooter">
                                    <div class="blfNumber">
                                        <ul class="pagination pagination-sm">
                                            <li><a href="#">&laquo;</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>
                                    </div>
                                    @using (Html.BeginForm("RemoveRecruitment", "Customer"))
                                    {
                                        <input id="hidden" type="hidden" value="" name="jobId" />
                                        <div id="NotAppliedList" style="display: none;" class="blfbutton">
                                            <button type="submit" class="btn btn-danger">Hủy</button>
                                            <button type="button" class="btn btn-info">Gia hạn</button>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade bApplied" id="applied">
                                <div class="bTitle">
                                    <div class="btWork">
                                        Công việc
                                    </div>
                                    <div class="btApply">
                                        Người nhận việc
                                    </div>
                                </div>
                                <ul class="bApplyListWork">
                                    @foreach (var recruit in ViewBag.ApplList)
                                    {
                                        <li>
                                            <div class="bAWork">
                                                <div class="blImage">
                                                    <img src="../Content/Image/MS-Logo.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = recruit.Recruitment.RecruitmentId })">@recruit.Recruitment.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Đăng: </span><span
                                                                                                   class="blTimeText">@recruit.Recruitment.PostTime</span>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Tới: </span><span
                                                                                                  class="blTimeText">@recruit.Recruitment.ExpiredTime</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bACus">
                                                <div class="blImage">
                                                    <img src="../Content/Image/MS-Logo.png" alt="Maid sercive" height="100%">
                                                </div>
                                                <div class="blDetail">
                                                    <div class="blName">
                                                        <a href="@Url.Action("GetJobRequest", "Post", new { jobId = recruit.JobRequest.JobRequestId })">@recruit.JobRequest.Title</a>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Đăng: </span><span
                                                                                                   class="blTimeText">@recruit.JobRequest.PostTime</span>
                                                    </div>
                                                    <div class="blTime">
                                                        <span class="blTimeTitle">Tới: </span><span
                                                                                                  class="blTimeText">@recruit.JobRequest.ExpiredTime</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <div class="blFooter">
                                    <div class="blfNumber">
                                        <ul class="pagination pagination-sm">
                                            <li><a href="#">&laquo;</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade bExprred" id="expired">
                                <ul class="bexpiredListWork">
                                    @foreach (var recruit in ViewBag.ExpiredList)
                                    {
                                        <li id="@recruit.Recruitment.RecruitmentId" onclick="chooseJob(@recruit.Recruitment.RecruitmentId, 2)">
                                            <div class="blImage">
                                                <img src="../Content/Image/MS-Logo.png" alt="Maid sercive" height="100%">
                                            </div>
                                            <div class="blDetail">
                                                <div class="blName">
                                                    <a href="@Url.Action("GetRecruitment", "Post", new { recruitmentId = recruit.Recruitment.RecruitmentId })">@recruit.Recruitment.Title</a>
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Đăng: </span><span
                                                        class="blTimeText">@recruit.Recruitment.PostTime</span>
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Tới: </span><span
                                                        class="blTimeText">@recruit.Recruitment.ExpiredTime</span>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <div class="blFooter">
                                    <div class="blfNumber">
                                        <ul class="pagination pagination-sm">
                                            <li><a href="#">&laquo;</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>
                                    </div>
                                    @using (Html.BeginForm("RemoveRecruitment", "Customer", FormMethod.Get, new { name = "RemoveRecruitForm"}))
                                    {
                                        <input id="recruitId" type="hidden" value="" name="recruitmentId" />
                                        <div id="ExpiredButton" style="display: none;" class="blfbutton">
                                            <button type="submit" class="btn btn-danger" onclick="removeRecruit()">Hủy</button>
                                            <button type="button" class="btn btn-info">Gia hạn</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <script>
                            $(function () {
                                $('#myTab a:selected').tab('show')
                            })
                        </script>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="rightInfo">
                    <ul class="riDetail">
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Tham gia
                            </div>
                            <div class="rideroContent">
                                <strong>@ViewBag.JoinDate
                                </strong>
                            </div>
                        </li>
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Đã đăng
                            </div>
                            <div class="rideroContent">
                                <strong>80
                                </strong>
                            </div>
                        </li>
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Đã chấp nhận
                            </div>
                            <div class="rideroContent">
                                <strong>20
                                </strong>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var chosenId = 0;
    function chooseJob(recruitId, type) {
        if (chosenId != 0) {
            document.getElementById(chosenId).setAttribute("class", "");
        }
        if (recruitId != chosenId) {
            document.getElementById(recruitId).setAttribute("class", "isCurent");
            chosenId = recruitId;
            document.getElementById("recruitId").setAttribute("value", recruitId);
        } else {
            document.getElementById(recruitId).setAttribute("class", "");
            chosenId = 0;
            type = 0;
        }
        if (type == 2) {
            document.getElementById("ExpiredButton").setAttribute("style", "display: none;");
            document.getElementById("NotAppliedList").setAttribute("style", "");
        } else if (type == 3) {
            document.getElementById("ExpiredButton").setAttribute("style", "");
            document.getElementById("NotAppliedList").setAttribute("style", "display: none;");
        } else if (type == 0) {
            document.getElementById("ExpiredButton").setAttribute("style", "display: none;");
            document.getElementById("NotAppliedList").setAttribute("style", "display: none;");
        }
    }
    
    function removeRecruit() {
        document.forms["RemoveRecruitForm"].submit();
    }
</script>

