@{
    ViewBag.Title = "Post recruitment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Menu">
    <div class="rows">
        <div class="hMenu">
            <div class="hFatherMenu">
                <ul class="hmeTabList">
                    <li>
                        <a href="#" class="hefaContent iscurent">Find Work</a>
                    </li>
                    <li>
                        <a href="#" class="hefaContent">Find Work</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hChildMenu">
        <ul class="hChildMenuList">
            <li class="iscurent">
                <a href="#" class="hChContent">Job Applications</a>
            </li>
            <li class>
                <a href="#" class="hChContent">Job Applications</a>
            </li>
        </ul>
    </div>
</div>

<div class="body">
    <div class="rows">
        <div class="row">
            <div class="titlePage">Đăng yêu cầu người giúp việc</div>
            @*<div class="postJRRow">
                <div class="row">
                    <div class="col-md-4 poJRTtitle">
                        Yêu cầu sử dụng
                    </div>
                    <div class="col-md-8">
                        <div class="boxPostJRUser">
                            <div class="postOpenButton">
                                <button class="btn btn-primary" data-toggle="modal" data-target=".chooseMaidModel">
                                    Chọn yêu cầu
                                </button>
                            </div>
                            <div>
                                <div class="liImage">
                                    <img src="../Content/Image/MS-Logo.png" alt="Maid sercive" height="100%">
                                </div>
                                <div class="liMaidContent">
                                    <div class="licoFullName">
                                        <a href="#">Bùi Tiến Tuân</a>
                                    </div>
                                    <div class="licoRate">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                    </div>
                                    <div class="ricoPost">
                                        Đăng/nhận
                            <span class="ricoPostApply">80</span>/<span class="ricoPostTotal">30</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade chooseMaidModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header chooseMaidModalTitle">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="mySmallModalLabel">Chọn yêu cầu mà bạn muốn sử dụng</h4>
                            </div>
                            <div class="modal-body chooseMaidModalMaid">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="1">
                                        <div>
                                            <div class="liImage">
                                                <img id="1 img" src="../Content/Image/Maid/001.jpg" alt="Maid sercive" height="100%">
                                            </div>
                                            <div class="liMaidContent">
                                                <div class="licoFullName">
                                                    <a href="#" id="1 name">Thích người này</a>
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Đăng: </span><span class="blTimeText">6:00 30/08/2014</span>
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Tới: </span><span class="blTimeText">6:00 30/08/2014</span>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="Radio1" value="15">
                                        <div>
                                            <div class="liImage">
                                                <img id="15 img" src="../Content/Image/Maid/015.jpg" alt="Maid sercive" height="100%">
                                            </div>
                                            <div class="liMaidContent">
                                                <div class="licoFullName">
                                                    <a href="#" id="15 name">Thích người này</a>
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Đăng: </span><span class="blTimeText">6:00 30/08/2014</span>
                                                </div>
                                                <div class="blTime">
                                                    <span class="blTimeTitle">Tới: </span><span class="blTimeText">6:00 30/08/2014</span>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="chooseMaid()" style="margin-left: 75px; margin-bottom: 10px;">Đồng ý</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            @using (Html.BeginForm("AddRecruitment", "Customer", FormMethod.Post))
            {
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Các kỹ năng
                        </div>
                        <div class="col-md-8">
                            <div class="boxPostJRSkill">
                                <div class="skillPost">
                                    <div class="postOpenButton">
                                        <button class="btn btn-primary" data-toggle="modal" data-target=".chooseSkillModel" onclick="return cancel()">
                                            Thêm kỹ năng
                                        </button>
                                    </div>
                                    <ul id="chosenSkills">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade chooseSkillModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header chooseMaidModalTitle">
                                    <button type="button" class="close" data-dismiss="modal" onclick="return cancel()">
                                        <span
                                            aria-hidden="true">×</span><span
                                                                           class="sr-only">Close</span></button>
                                    <h4 class="modal-title">Chọn các kỹ năng cho công việc</h4>
                                </div>
                                <div class="modal-body chooseMaidModalSkill">
                                    <div class="moskCategory">
                                        <div class="moskCategoryName">
                                            Cá nhân
                                        </div>
                                        <div class="moskCategoryContent">
                                            <div class="moskSkill">
                                                <div class="moskSkillName">
                                                    Giới tính
                                                </div>
                                                <div class="moskSkillContent">
                                                    <select class="form-control" id="gender" name="gender">
                                                        <option value="null">Không khai</option>
                                                        @foreach (var item in ViewBag.Gender)
                                                        {
                                                            <option value="@item.SkillString">@item.SkillString</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="moskSkill">
                                                <div class="moskSkillName">
                                                    Tuổi
                                                </div>
                                                <div class="moskSkillContent">
                                                    <select class="form-control" id="age" name="age">
                                                        <option value="null">Không khai</option>
                                                        @foreach (var item in ViewBag.Age)
                                                        {
                                                            <option value="@item.SkillString">@item.SkillString</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            @foreach (var item in ViewBag.Language)
                                            {
                                                <div class="moskSkill">
                                                    <div class="moskSkillName">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input class="language" type="checkbox" value="@item.SkillNameVietnam" name="@item.SkillName">
                                                                @item.SkillNameVietnam
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <div class="moskSkill">
                                                <div class="moskSkillName">
                                                    Kinh nghiệm
                                                </div>
                                                <div class="moskSkillContent">
                                                    <select class="form-control" id="exp" name="exp">
                                                        <option value="null">Không khai</option>
                                                        @foreach (var item in ViewBag.Experience)
                                                        {
                                                            <option value="@item.SkillString">@item.SkillString</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="moskSkill">
                                                <div class="moskSkillName">
                                                    Quê quán
                                                </div>
                                                <div class="moskSkillContent">
                                                    <select class="form-control" id="hometown" name="hometown">
                                                        <option value="null">Không khai</option>
                                                        @foreach (var item in ViewBag.Hometown)
                                                        {
                                                            <option value="@item.SkillString">@item.SkillString</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="moskSkill">
                                                <div class="moskSkillName">
                                                    Địa chỉ
                                                </div>
                                                <div class="moskSkillContent">
                                                    <select class="form-control" id="addr" name="addr">
                                                        <option value="null">Không khai</option>
                                                        @foreach (var item in ViewBag.Address)
                                                        {
                                                            <option value="@item.SkillString">@item.SkillString</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="moskSkill">
                                                <div class="moskSkillName">
                                                    Kết hôn
                                                </div>
                                                <div class="moskSkillContent">
                                                    <select class="form-control" id="married" name="married">
                                                        <option value="null">Không khai</option>
                                                        @foreach (var item in ViewBag.Married)
                                                        {
                                                            <option value="@item.SkillString">@item.SkillString</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="moskCategory">
                                        <div class="moskCategoryName">
                                            Yêu cầu
                                        </div>
                                        <div class="moskCategoryContent">
                                            <div class="moskSkill">
                                                <div class="moskSkillName">
                                                    Ở lại
                                                </div>
                                                <div class="moskSkillContent">
                                                    <select class="form-control" id="stay" name="stay">
                                                        <option value="null">Không khai</option>
                                                        @foreach (var item in ViewBag.StayList)
                                                        {
                                                            <option value="@item.SkillString">@item.SkillString</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="moskSkill">
                                                <div class="moskSkillName">
                                                    Mức lương
                                                </div>
                                                <div class="moskSkillContent">
                                                    <select class="form-control" id="salary" name="salary">
                                                        <option value="null">Không khai</option>
                                                        @foreach (var item in ViewBag.SalaryList)
                                                        {
                                                            <option value="@item.SkillString">@item.SkillString</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="moskSkill">
                                                <div class="moskSkillName">
                                                    Thời gian 
                                                </div>
                                                <div class="moskSkillContent">
                                                    <select class="form-control" id="work" name="work">
                                                        <option value="null">Không khai</option>
                                                        @foreach (var item in ViewBag.WorkList)
                                                        {
                                                            <option value="@item.SkillString">@item.SkillString</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="moskCategory">
                                        <div class="moskCategoryName">
                                            Kĩ năng
                                        </div>
                                        <div class="moskCategoryContent">
                                            @foreach (var item in ViewBag.SkillList)
                                            {
                                                <div class="moskSkill">
                                                    <div class="moskSkillName">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input class="skill" type="checkbox" value="@item.SkillNameVietnam" name="@item.SkillName"/>
                                                                @item.SkillNameVietnam
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" style="margin-left: 400px; margin-bottom: 10px;" onclick="addSkill()">Đồng ý</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Thời hạn đăng
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="time" name="time">
                                <option value="1">1 tuần</option>
                                <option value="2">2 tuần</option>
                                <option value="3">3 tuần</option>
                                <option value="4">4 tuần</option>
                                <option value="5">5 tuần</option>
                            </select>
                            <span class="postJRTimeTotal">Tổng <span>1</span> * <span
                                                                                    class="postJRTimePrice">25.000</span> = <span class="postJRTimePriceTotal">25.000</span> đồng</span>
                            <span class="postJRTimeDetail">Đơn giá hiện tại <span
                                                                                class="postJRTimePrice">25.000</span> đồng/Tuần</span>
                            <div class="postRCAlertMoney">
                                <div class="alert alert-danger" role="alert">
                                    <strong>Xin lỗi!</strong> Tiền trong tài khoản không đủ thanh toán.<br />
                                    Bạn chỉ còn <strong>10.000 đồng</strong> trong tài khoản
                                    <button type="button" class="btn btn-info">Nạp thêm tiền qua Paypal</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <input type="hidden" name="custId" value="@Session["AccId"]"/>
                    <button class="btn btn-success btn-lg">Đăng yêu cầu</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    var chosenList = new Array();
    var chosenSkills = "";

    function addSkill() {
        chosenSkills = "";
        var genderDr = document.getElementById("gender");
        var gender = "Giới tính - " + genderDr.options[genderDr.selectedIndex].value;
        var ageDr = document.getElementById("age");
        var age = "Tuổi - " + ageDr.options[ageDr.selectedIndex].value;
        var languageList = new Array();
        var languageCount = 0;
        var languageElements = document.getElementsByClassName("language");
        for (var i = 0; i < languageElements.length; i++) {
            if (languageElements[i].checked) {
                languageList[languageCount++] = languageElements[i].value;
            }
        }
        var expDr = document.getElementById("exp");
        var exp = "Kinh nghiệm - " + expDr.options[expDr.selectedIndex].value;
        var hometownDr = document.getElementById("hometown");
        var hometown = "Quê quán - " + hometownDr.options[hometownDr.selectedIndex].value;
        var addrDr = document.getElementById("addr");
        var addr = "Địa chỉ - " + addrDr.options[addrDr.selectedIndex].value;
        var marriedDr = document.getElementById("married");
        var married = "Kết hôn - " + marriedDr.options[marriedDr.selectedIndex].value;
        var stayDr = document.getElementById("stay");
        var stay = "Ngủ lại - " + stayDr.options[stayDr.selectedIndex].value;
        var salaryDr = document.getElementById("salary");
        var salary = "Mức lương - " + salaryDr.options[salaryDr.selectedIndex].value;
        var workDr = document.getElementById("work");
        var work = "Công việc - " + workDr.options[workDr.selectedIndex].value;
        var skillList = new Array();
        var skillCount = 0;
        var skillElements = document.getElementsByClassName("skill");
        for (var i = 0; i < skillElements.length; i++) {
            if (skillElements[i].checked) {
                skillList[skillCount++] = skillElements[i].value;
            }
        }
        var chosenCount = 0;
        if (gender != "Giới tính - null") {
            chosenList[chosenCount++] = gender;
        }
        if (age != "Tuổi - null") {
            chosenList[chosenCount++] = age;
        }
        if (exp != "Kinh nghiệm - null") {
            chosenList[chosenCount++] = exp;
        }
        if (languageList.length > 0) {
            for (var i = 0; i < languageList.length; i++) {
                chosenList[chosenCount++] = languageList[i];
            }
        }
        if (hometown != "Quê quán - null") {
            chosenList[chosenCount++] = hometown;
        }
        if (addr != "Địa chỉ - null") {
            chosenList[chosenCount++] = addr;
        }
        if (married != "Kết hôn - null") {
            chosenList[chosenCount++] = married;
        }
        if (stay != "Ngủ lại - null") {
            chosenList[chosenCount++] = stay;
        }
        if (salary != "Mức lương - null") {
            chosenList[chosenCount++] = salary;
        }
        if (work != "Công việc - null") {
            chosenList[chosenCount++] = work;
        }
        if (skillList.length > 0) {
            for (var i = 0; i < skillList.length; i++) {
                chosenList[chosenCount++] = skillList[i];
            }
        }
        for (var i = 0; i < chosenList.length; i++) {
            chosenSkills += "<li class='childSkillNear'><span class='skillText'>" + chosenList[i] + "<span class='glyphicon glyphicon-remove' onclick='removeSkill(" + i + ")'></span></span></li>";
        }
        document.getElementById("chosenSkills").innerHTML = chosenSkills;
    }

    function removeSkill(skillNo) {
        if (chosenList.length > 0) {
            chosenList.splice(skillNo, 1);
            chosenSkills = "";
            for (var i = 0; i < chosenList.length; i++) {
                chosenSkills += "<li class='childSkillNear'><span class='skillText'>" + chosenList[i] + "<span class='glyphicon glyphicon-remove' onclick='removeSkill(" + i + ")'></span></span></li>";
            }
            document.getElementById("chosenSkills").innerHTML = chosenSkills;
        }
    }

    function cancel() {
        return false;
    }
</script>

