@{
    ViewBag.Title = "Tin tìm người";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MS_Website.Models.RecruitmentTemp RecruitmentTemp = Model;
    var Recommend = (List<MS_Website.Models.JobRequestTemp>)ViewBag.Recommend;
}

<div class="Menu">
    <div class="rows">
        <div class="hMenu">
            <div class="hFatherMenu">
                <ul class="hmeTabList">
                    <li>
                        <a href="#" class="hefaContent iscurent">Thông tin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hChildMenu">
        <ul class="hChildMenuList">
            <li class="iscurent">
                <a href="#" class="hChContent">Chi tiết tuyển người giúp việc</a>
            </li>
            @if (Session["AccId"] != null)
            {
                if (RecruitmentTemp.Recruitment.CustomerId == (int)Session["AccId"])
                {
                <li>
                    <a href="#" class="hChContent">Sửa thông tin tìm người giúp việc</a>
                </li>
                }
            }
        </ul>
    </div>
</div>
<div class="body">
    <div class="rows">
        <div class="row">
            <div class="col-md-8">
                <div class="leftInfo">
                    <div class="mainInfo">
                        <div class="miPic">
                            <img src="~/Content/Image/rc.png" alt="Maid sercive" height="100%">
                            <div>
                                @if (ViewBag.Manage == "true")
                                {
                                    <div class="miButton">
                                        @if (RecruitmentTemp.Recruitment.Status.Equals("Waiting"))
                                        {
                                            using (Html.BeginForm("HideRecruitment", "Customer", new { recruitId = RecruitmentTemp.Recruitment.RecruitmentId }))
                                            {
                                            <button class="btn btn-danger">Tạm ẩn</button>
                                            }
                                        }
                                        else if (RecruitmentTemp.Recruitment.Status.Equals("Hide"))
                                        {
                                            using (Html.BeginForm("PublicRecruitment", "Customer", new { recruitId = RecruitmentTemp.Recruitment.RecruitmentId }))
                                            {
                                            <button class="btn btn-danger">Công khai</button>
                                            }
                                        }
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="mmiDetail">
                            <div class="iStatus">
                                <div class="iTitle">
                                    Tiều đề:
                                </div>
                                <span>@RecruitmentTemp.Recruitment.Title</span>
                            </div>
                            <div class="iStatus">
                                <div class="iTitle">
                                    Tình Trạng:
                                </div>
                                @*<span class="label label-primary">Đang chờ</span>
                                <span class="label label-success">Đã tuyển</span>
                                <span class="label label-danger">Hết hạn</span>*@
                                @{string color = "default";
                                  string status = "";
                                }
                                @if (Model.Recruitment.Status == "Waiting")
                                {
                                    color = "primary";
                                    status = "Đang chờ người làm";
                                }
                                @if (Model.Recruitment.Status == "Applied")
                                {
                                    color = "success";
                                    status = "Đã thuê";
                                }
                                else if (Model.Recruitment.Status == "Expired")
                                {
                                    color = "danger";
                                    status = "Hết hạn";
                                }

                                <span class="labelStatus label label-@color">@status</span>
                                @if (Model.JobRequest != null)
                                {
                                    <div class="istatusHire">
                                        <div class="iStatusPic">
                                            <img src="@ViewBag.Maid.PersonalImage" height="100%">
                                        </div>
                                        <div class="iStatusName">
                                            <a href="@Url.Action("GetJobRequest", "Post", new { jobId = Model.JobRequest.JobRequestId })">
                                                @ViewBag.Maid.MaidName</a>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="iSkill">
                                <div class="iTitle">
                                    Các kỹ năng:
                                </div>
                                <div class="iListKill">
                                    <div class="skill">
                                        <ul>
                                            @foreach (var skill in Model.SkillList)
                                            {
                                                <li class="childSkill">
                                                    <span class="skillText">@skill</span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.Recommend != null)
                    {
                        <div class="suggestCus">
                            <div class="suCuHeader">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="suTitle">
                                            Những việc có thể hợp
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="suNumber">
                                            <span id="currPage">1</span>/@(Math.Round((double)ViewBag.RecommendNum / 2))
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lisuPre">
                                <span class="glyphicon glyphicon-chevron-left" onclick="loadBack()"></span>
                            </div>
                            <div class="lisuNex">
                                <span class="glyphicon glyphicon-chevron-right" onclick="loadNext()"></span>
                            </div>
                            <input id="currPos" type="hidden" value="1" />
                            <ul class="listSuggestCus">
                                @{
                        var counter = 0;
                                }
                                @foreach (var job in Recommend)
                                {
                                    <li id="@counter" style="display: @(counter > 1 ? "none" : "");">
                                        <a href="@Url.Action("GetJobRequest", "Post", new { jobId = job.Job.JobRequestId })">
                                            <span class="listSuCuImage">
                                                <img src="@job.Maid.PersonalImage" alt="Maid sercive" height="100%">
                                            </span>
                                            <span class="listSuCuDetail">
                                                <span class="liCuName">@job.Job.Title
                                                </span>
                                                <span class="liCuPostTime">Đăng: @job.Job.PostTime
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    counter++;
                                }
                            </ul>
                            <input id="lastPos" type="hidden" value="@(counter - 1)"/>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="rightInfo">
                    <ul class="riDetail">
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Đăng lúc
                            </div>
                            <div class="rideroContent">
                                <strong>@Model.Recruitment.PostTime
                                </strong>
                            </div>
                        </li>
                    </ul>
                    <div class="riManager">
                        <div class="rimaTitle">
                            Người đăng việc
                        </div>
                        <ul class="rimaListSameJobRequest">
                            <li>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="jrImage">
                                            <img src="@Model.Account.Avatar" alt="Maid sercive" width="100%">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="jrDetail">
                                            <div class="jrMaidFullname">
                                                <a href="@Url.Action("GetCustomer", "Customer", new { custId = RecruitmentTemp.Customer.AccountId })">@RecruitmentTemp.Customer.Account.FullName</a>
                                            </div>
                                            <div class="blTime">
                                                <span class="blTimeText">Khách hàng</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function loadNext() {
        var currPos = parseInt(document.getElementById("currPos").getAttribute("value"));
        var lastPos = parseInt(document.getElementById("lastPos").getAttribute("value"));
        if (currPos < lastPos) {
            var currPage = parseInt(document.getElementById("currPage").innerHTML) + 1;
            document.getElementById("currPage").innerHTML = currPage;
            if (document.getElementById(currPos) != null) {
                document.getElementById(currPos).setAttribute("style", "display: none;");
            }
            if (document.getElementById(currPos - 1) != null) {
                document.getElementById(currPos - 1).setAttribute("style", "display: none;");
            }
            if (document.getElementById(currPos + 1) != null) {
                document.getElementById(currPos + 1).setAttribute("style", "");
            }
            if (document.getElementById(currPos + 2) != null) {
                document.getElementById(currPos + 2).setAttribute("style", "");
            }
            document.getElementById("currPos").setAttribute("value", currPos + 2);
        }
    }

    function loadBack() {
        var currPos = parseInt(document.getElementById("currPos").getAttribute("value"));
        if (currPos - 2 > 0) {
            var currPage = parseInt(document.getElementById("currPage").innerHTML) - 1;
            document.getElementById("currPage").innerHTML = currPage;
            if (document.getElementById(currPos) != null) {
                document.getElementById(currPos).setAttribute("style", "display: none;");
            }
            if (document.getElementById(currPos - 1) != null) {
                document.getElementById(currPos - 1).setAttribute("style", "display: none;");
            }
            if (document.getElementById(currPos - 2) != null) {
                document.getElementById(currPos - 2).setAttribute("style", "");
            }
            if (document.getElementById(currPos - 3) != null) {
                document.getElementById(currPos - 3).setAttribute("style", "");
            }
            document.getElementById("currPos").setAttribute("value", currPos - 2);
        }
    }
</script>
