@{
    ViewBag.Title = "Tin tìm người giúp việc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MS_Website.Models.RecruitmentTemp RecruitmentTemp = Model;
    var Recommend = (List<MS_Website.Models.JobRequestTemp>)ViewBag.Recommend;
}

<div class="Menu">
    @Html.Partial("_PartialMenu")
    <div class="hChildMenu">
        <ul class="hChildMenuList">
            <li class="iscurent">
                <a href="#" class="hChContent">Chi tiết tuyển người giúp việc</a>
            </li>
            @if (Session["AccId"] != null)
            {
                if (ViewBag.Manage == "true")
                {
                <li>
                    <a href="@Url.Action("RecruitmentEdit", "Customer", new { recruitId = RecruitmentTemp.Recruitment.RecruitmentId })" class="hChContent">Sửa thông tin tuyển người giúp việc</a>
                </li>
                }
            }
        </ul>
    </div>
</div>
@if (TempData["Alert"] != null)
{
@*<div class="modal fade in" id="alertModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>@TempData["Alert"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeAlert()">Close</button>
                </div>
            </div>
        </div>
    </div>*@
    @Html.Partial("_PartialNotifier", "4;Chú ý!;" + TempData["Alert"])
}
<div class="body">
    <div class="rows">
        <div class="row">
            <div class="col-md-8">
                <div class="leftInfo">
                    <div class="mainInfo">
                        <div class="miPic">
                            <img src="~/Content/Image/rc.png" alt="Maid sercive" height="100%">
                            <div class="miButton">
                                @if (ViewBag.Manage == "true")
                                {
                                    if (RecruitmentTemp.Recruitment.Status.Equals("Waiting"))
                                    {
                                        using (Html.BeginForm("HideRecruitment", "Customer", new { recruitId = RecruitmentTemp.Recruitment.RecruitmentId }))
                                        {
                                    <button class="btn btn-danger">Tạm ẩn</button>
                                        }
                                    }
                                    else if (RecruitmentTemp.Recruitment.Status.Equals("Hide"))
                                    {
                                        using (Html.BeginForm("PublicRecruitment", "Customer", new { recruitId = RecruitmentTemp.Recruitment.RecruitmentId }))
                                        {
                                    <button class="btn btn-danger">Công khai</button>
                                        }
                                    }
                                    if (RecruitmentTemp.Recruitment.Status == "Expired" || RecruitmentTemp.Recruitment.Status == "Waiting")
                                    {
                                    <button class="btn btn-info" data-toggle="modal" data-target=".extendModel" onclick="chooseExtend()">Gia hạn</button>
                                    }
                                }
                                @if (Session["AccId"] != null)
                                {
                                    if (Session["Role"].Equals("Staff"))
                                    {
                                        if (!RecruitmentTemp.Recruitment.IsActive)
                                        {
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="btnActive(@RecruitmentTemp.Recruitment.RecruitmentId)">Kích hoạt</button>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="myLargeModalLabel">Xác nhận kích hoạt</h4>
                                    </div>
                                    <div class="modal-body">
                                        Bạn thực sự đã nhận tiền từ khách hàng này?
                                    </div>
                                    <div class="modal-footer">
                                        @using (Html.BeginForm("MarkActiveRecruitmentOnRCPage", "MaidManager", FormMethod.Get))
                                        {
                                            <input type="hidden" name="recruitmentId" id="jrId2" />
                                            <button type="submit" class="btn btn-success" id="btnAccept">Chấp nhận</button>
                                        }

                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                        </div>
                        <div class="mmiDetail">
                            <div class="iRows">
                                <div class="iTitle">
                                    Tiều đề:
                                </div>
                                <span class="iTitleContent">@RecruitmentTemp.Recruitment.Title</span>
                            </div>
                            <div class="iStatus">
                                <div class="iTitle">
                                    Tình Trạng:
                                </div>
                                @*<span class="label label-primary">Đang chờ</span>
                                <span class="label label-success">Đã tuyển</span>
                                <span class="label label-warning">Chưa thanh toán</span>
                                <span class="label label-danger">Hết hạn</span>
                                <span class="label label-default">Tạm ẩn</span>*@
                                @{
                                    string color = "default";
                                    string status = "Tạm ẩn";                                }
                                @if (!RecruitmentTemp.Recruitment.IsActive)
                                {
                                    color = "warning";
                                    status = "Đang chờ thanh toán";
                                }
                                else
                                {
                                    if (RecruitmentTemp.Recruitment.Status == "Hide")
                                    {
                                        color = "default";
                                        status = "Tạm ẩn";
                                    }
                                    else if (RecruitmentTemp.Recruitment.Status == "Waiting")
                                    {
                                        color = "primary";
                                        status = "Đang chờ người làm";
                                    }
                                    else if (RecruitmentTemp.Recruitment.Status == "Applied")
                                    {
                                        color = "success";
                                        status = "Đã thuê";
                                    }
                                    else if (RecruitmentTemp.Recruitment.Status == "Expired")
                                    {
                                        color = "danger";
                                        status = "Hết hạn";
                                    }
                                }
                                <span class="labelStatus label label-@color">@status</span>
                                @if (RecruitmentTemp.JobRequest != null)
                                {
                                    <div class="istatusHire">
                                        <div class="iStatusPic">
                                            <img src="@ViewBag.Maid.PersonalImage" height="100%">
                                        </div>
                                        <div class="iStatusName">
                                            <a href="@Url.Action("GetJobRequest", "Post", new { jobId = Model.JobRequest.JobRequestId })">
                                                @ViewBag.Maid.MaidName</a>
                                        </div>
                                    </div>
                                }
                                @Html.Partial("_PartialPaypal", RecruitmentTemp)
                            </div>
                            <div class="iSkill">
                                <div class="iTitle">
                                    Các kỹ năng:
                                </div>
                                <div class="iListKill">
                                    <div class="skill">
                                        <ul>
                                            @foreach (var skill in Model.SkillList)
                                            {
                                                <li class="childSkill">
                                                    <span class="skillText"><a href="@Url.Action("Index", "Search", new { searchString = skill.Split('-').Length > 1 ? skill.Split('-')[1].Trim() : skill.Split('-')[0].Trim() })">@skill</a></span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (!RecruitmentTemp.Recruitment.IsActive)
                    {
                        if (Session["Role"] != null)
                        {
                            if (Session["Role"].Equals("Customer"))
                            {
                        <div class="overView">
                            <div class="ovTitle">
                                Nếu bạn đã thanh toán?
                            </div>
                            <div class="ovContent">
                                Có thể quá trình thanh toán bị lỗi? Bạn có thể <a onclick="NotiPaypal('Kiểm tra lại thanh toán', '/Post/GetRecruitment?recruitmentId=@(RecruitmentTemp.Recruitment.RecruitmentId)')">Ấn vào đây để </a>nhân viên của chúng tôi kiểm tra lại đơn hàng và kích hoạt yêu cầu này.
                            </div>
                        </div>
                            }
                        }
                    }
                    @if (ViewBag.Recommend != null)
                    {
                        <div class="suggestCus">
                            <div class="suCuHeader">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="suTitle">
                                            Những việc có thể hợp
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="suNumber">
                                            <span id="currPage">1</span>/@(Math.Ceiling((double)ViewBag.RecommendNum / 2))
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lisuPre">
                                <span class="glyphicon glyphicon-chevron-left" onclick="loadBack()"></span>
                            </div>
                            <div class="lisuNex">
                                <span class="glyphicon glyphicon-chevron-right" onclick="loadNext()"></span>
                            </div>
                            <input id="currPos" type="hidden" value="1" />
                            <ul class="listSuggestCus">
                                @{
                        var counter = 0;
                                }
                                @foreach (var job in Recommend)
                                {
                                    <li id="@counter" style="display: @(counter > 1 ? "none" : "");">
                                        <a href="@Url.Action("GetJobRequest", "Post", new { recruitId = RecruitmentTemp.Recruitment.RecruitmentId, jobId = job.Job.JobRequestId })">
                                            <span class="listSuCuImage">
                                                <img src="@job.Maid.PersonalImage" alt="Maid sercive" height="100%">
                                            </span>
                                            <span class="listSuCuDetail">
                                                <span class="liCuName">@job.Job.Title
                                                </span>
                                                <span class="liCuPostTime">Đăng ngày: @job.Job.PostTime.ToString("dd/MM/yyyy")
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    counter++;
                                }
                            </ul>
                            <input id="lastPos" type="hidden" value="@(counter - 1)"/>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="rightInfo">
                    @if (Session["AccId"] != null)
                    {
                        if (ViewBag.Manage == "true")
                        {
                        <div class="editRightInfo">
                            <a href="@Url.Action("RecruitmentEdit", "Customer", new { recruitId = RecruitmentTemp.Recruitment.RecruitmentId })" title="Sửa thông tin"><span class="glyphicon glyphicon-edit"></span></a>
                        </div> 
                        }
                    }
                    <ul class="riDetail">
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Đăng ngày
                            </div>
                            <div class="rideroContent">
                                <strong>@Model.Recruitment.PostTime.ToString("dd/MM/yyyy")
                                </strong>
                            </div>
                        </li>
                    </ul>
                    <ul class="riDetail">
                        <li class="rideRow">
                            <div class="rideroTitle">
                                Hết hạn
                            </div>
                            <div class="rideroContent">
                                <strong>@Model.Recruitment.ExpiredTime.ToString("hh:mm dd/MM/yyyy")
                                </strong>
                            </div>
                        </li>
                    </ul>
                    <div class="riManager">
                        <div class="rimaTitle">
                            Người đăng việc
                        </div>
                        <ul class="rimaListSameJobRequest">
                            <li>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="jrImage">
                                            <img src="@Model.Account.Avatar" alt="Maid sercive" width="100%">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="jrDetail">
                                            <div class="jrMaidFullname">
                                                <a href="@Url.Action("GetCustomer", "Customer", new { custId = RecruitmentTemp.Customer.AccountId })">@RecruitmentTemp.Customer.Account.FullName</a>
                                            </div>
                                            <div class="blTime">
                                                <span class="blTimeText">Khách hàng</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade extendModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        @if (Session["AccId"] != null)
        {
            <div class="modal-content">
                <div class="modal-header chooseMaidModalTitle">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="mySmallModalLabel">Gia hạn đơn tuyển việc</h4>
                </div>
                <input id="extendId" type="hidden" name="recruitId" value="@RecruitmentTemp.Recruitment.RecruitmentId"/>
                <div class="modal-body chooseMaidModalMaid">
                    <span>Thời gian gia hạn</span>

                    <select id="week" class="form-control" name="extend" onchange="chooseWeek()">
                        @for (int i = 1; i <= (int) Session["MaxWeek"]; i++)
                        {
                            <option value="@i">@i tuần</option>
                        }
                    </select>
                    <span id="result" style="display: none;">Bạn đã nạp tiền thành công</span>
                </div>
                <div class="modal-footer">
                    @Html.Partial("_PartialExtend")
                    <input type="hidden" id="PriceRC" value="@((int) Session["PriceRC"]/20)"/>
                </div>
            </div>
        }
    </div>
</div>
<script>
    function loadNext() {
        var currPos = parseInt(document.getElementById("currPos").getAttribute("value"));
        var lastPos = parseInt(document.getElementById("lastPos").getAttribute("value"));
        if (currPos < lastPos) {
            var currPage = parseInt(document.getElementById("currPage").innerHTML) + 1;
            document.getElementById("currPage").innerHTML = currPage;
            if (document.getElementById(currPos) != null) {
                document.getElementById(currPos).setAttribute("style", "display: none;");
            }
            if (document.getElementById(currPos - 1) != null) {
                document.getElementById(currPos - 1).setAttribute("style", "display: none;");
            }
            if (document.getElementById(currPos + 1) != null) {
                document.getElementById(currPos + 1).setAttribute("style", "");
            }
            if (document.getElementById(currPos + 2) != null) {
                document.getElementById(currPos + 2).setAttribute("style", "");
            }
            document.getElementById("currPos").setAttribute("value", currPos + 2);
        }
    }

    function loadBack() {
        var currPos = parseInt(document.getElementById("currPos").getAttribute("value"));
        if (currPos - 2 > 0) {
            var currPage = parseInt(document.getElementById("currPage").innerHTML) - 1;
            document.getElementById("currPage").innerHTML = currPage;
            if (document.getElementById(currPos) != null) {
                document.getElementById(currPos).setAttribute("style", "display: none;");
            }
            if (document.getElementById(currPos - 1) != null) {
                document.getElementById(currPos - 1).setAttribute("style", "display: none;");
            }
            if (document.getElementById(currPos - 2) != null) {
                document.getElementById(currPos - 2).setAttribute("style", "");
            }
            if (document.getElementById(currPos - 3) != null) {
                document.getElementById(currPos - 3).setAttribute("style", "");
            }
            document.getElementById("currPos").setAttribute("value", currPos - 2);
        }
    }

    function chooseExtend() {
        var recruitId = document.getElementById("extendId").getAttribute("value");
        document.getElementById("recruitId").setAttribute("value", recruitId);
        document.getElementById("return").setAttribute("value", "http://localhost:7197/Customer/ExtendRecruitment?recruitId=" + recruitId + "&extend=1");
        return false;
    }

    function extendRecruit() {
        document.forms["ExtendForm"].submit();
    }

    function paypal() {
        document.getElementById("extend").setAttribute("style", "");
        document.getElementById("result").setAttribute("style", "");
    }

    function chooseWeek() {
        var recruitId = document.getElementById("extendId").getAttribute("value");
        var weekDr = document.getElementById("week");
        var week = weekDr.options[weekDr.selectedIndex].value;
        document.getElementById("amount").setAttribute("value", parseInt(week) * parseInt($("#PriceRC").val()));
        document.getElementById("return").setAttribute("value", "http://localhost:7197/Customer/ExtendRecruitment?recruitId=" + recruitId + "&extend=" + week);
    }

    function NotiPaypal(content, link) {
        var url = "/Post/NotiPaypal";
        $.post(url, { content: content, link: link }, function (data) {
            $(".ovContent").html(data);
        });
    }

    function btnActive(recruitmentId) {
        document.getElementById('jrId2').setAttribute("value", recruitmentId);
    }
</script>
