@model MS_Website.Models.Account

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Đăng kí</title>
    <link href="~/Content/Style/Signup/create-account.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Style/Signup/globals.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Style/Signup/signup.css" rel="stylesheet" type="text/css">
    <link href="~/Content/bootstrap-3.2.0/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-3.2.0/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header role="banner" class="oTransitionalHeader">
        <div class="cols oPageCentered">
            <div class="col col1of2 txtLeft">
                <img class="oTransitionalPageLogo" src="~/Content/Image/MS-Logo.png" />
            </div>
        </div>
    </header>
    <div id="main" role="main" class="oPageCentered oContentContainer">


        <div class="oLayout oLayoutSearch oWidget ">
            <div class="oSignup">

                <div class="oTitleWrapper">
                    <h1 class="txtCenter">Tạo tài khoản đại diện</h1>
                    <div class="oMobileHidden">
                        <div class="oSignupEscapeLinkWrapper ">
                            Tìm kiếm người giúp việc?        <a class="oSignupEscapeLink \" href="#" data-event-name="freelancer_escape">Đăng kí là khách hàng            </a>
                        </div>
                    </div>
                    <div id="Div1" class="oHidden">
                        <h1 class="oHidden">Tài khoản tồn tại</h1>
                        <p>
                            Tài khoản đã tồn tại ("<span id="Span1"></span>")<a href="#">Đăng nhập</a>
                        </p>
                        <div class="txtCenter">
                            <button id="Button1" class="oBtn oBtnSecondary">OK</button>
                        </div>
                    </div>
                </div>
                @using(Html.BeginForm("Register","Register",FormMethod.Post, new {@class="oSignupForm", @name = "registerForm"}))
                {
                    <div class="oSignupHelp "></div>
                    <div class="oSignupFields">
                        <article class="oSignupHelp oSignupHelpContractor "></article>         
                        <div class="oFormField">
                            @Html.TextBoxFor(m=>m.FullName, new {@class="oInputText oFormMed", @id="txtFullName", @placeholder="Họ và tên"})
                        </div>
                        <div class="oFormField">
                            @Html.TextBoxFor(m=>m.Email, new {@class="oInputText oFormMed", @placeholder="Email",@id="txtEmail"})
                            <div id="emailError"></div>
                        </div>
                        <div class="oFormField">
                            Ảnh đại diên:<img id="maidAvatar" src="~"/><input id="maidAva" type="file" onchange="uploadMaidAva()" name="Avatar">
                              
                        </div>
                        <div class="oFormField">
                            @Html.TextBoxFor(m=>m.Phone, new {@class="oInputText oFormMed", @placeholder="Điện thoại"})
                        </div>
                        <div class="oFormField">
                            <select name="Role" class="oInputText oFormMed">
                                <option value="Customer">Khách hàng</option>
                                <option value="MaidMediator">Đại diện người giúp việc</option>
                            </select>
                        </div>
                        <div class="oFormField">
                            @Html.TextBoxFor(m=>m.Username, new {@class="oInputText oFormMed", @placeholder="Tên đăng nhập",@id="txtUsername"})
                            <div id="usernameBlank"></div>
                        </div>
                       
                        <div class="oFormField">
                            @Html.PasswordFor(m=>m.Password, new {@class="oInputText oFormMed", @placeholder="Mật khẩu",@id="txtPassword"})
                            <div id="passwordBlank"></div>
                            
                        </div>
                    </div>
                    <div class="oFormField oSupportInfo txtCenter oFieldValue-terms">
                        Với việc tạo tài khoản
   
                        <a target="_blank" href="#" class="nowrap">Bạn đồng ý với các quy định</a>
                        và <a target="_blank" href="#" class="nowrap">bảo mật của Maid Service</a>.       
                    </div>
                    <div class="oFormField">
                        <div id="submit-element">
                            <input type="submit" name="submit" id="btnSubmit" value="Đăng kí" class="oBtn oBtnVisitorPrimary oBtnLarge w100 oSignupSubmit">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <script type="text/javascript" language="javascript">

        $("#btnSubmit").click(function validateEmail(email) {
            
            var re =/^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            var errText = "";
            if ($("#txtUsername").val() == "") {
                errText = "<font color='red'>Vui lòng nhập tên đăng nhập</font>";
                document.getElementById("usernameBlank").innerHTML = errText;
                return false;
            } 
            if ($("#txtPassword").val() == "") {
                errText = "<font color='red'>Vui lòng nhập mật khẩu</font>";
                document.getElementById("passwordBlank").innerHTML = errText;
                return false;
            }
            /* if (!re.test(email)) {
                document.getElementById("emailError").innerHTML = "Email không hợp lệ";
                return false;
            }*/
        });
    </script>
    <script>
        function uploadAva() { //calls the function named uploadAva()
            var preview = document.querySelector('img[class=avatar]'); //selects the query named img
            var file = document.querySelector('input[type=file]').files[0]; //sames as here
            var reader = new window.FileReader();
            reader.onloadend = function () {
                preview.src = reader.result;
                var ava = document.getElementById("ava").src;
                document.getElementById("avaIcon").setAttribute("src", ava);
            };
            if (file) {
                reader.readAsDataURL(file); //reads the data as a URL
            } else {
                preview.src = "";
            }
        }

        function uploadMaidAva() { //calls the function named uploadAva()
            var preview = document.querySelector('img[id=maidAvatar]'); //selects the query named img
            var file = document.querySelector('input[id=maidAva]').files[0]; //sames as here
            var reader = new FileReader();
            reader.onloadend = function () {
                preview.src = reader.result;
                var ava = document.getElementById("ava").src;
                document.getElementById("avaIcon").setAttribute("src", ava);
            };
            if (file) {
                reader.readAsDataURL(file); //reads the data as a URL
            } else {
                preview.src = "";
            }
        }
</script>
</body>

</html>
