@{
    ViewBag.Title = "Sửa thông tin người tuyển việc";
    MS_Website.Models.Account account = Model;
    ViewBag.Info = true;
}
<link href="../Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
<script src="../Content/bootstrap-fileinput/js/fileinput.min.js" type="text/javascript"></script>
<div class="Menu">
    @Html.Partial("_PartialMenu")
    <div class="hChildMenu">
        <ul class="hChildMenuList">
            <li>
                <a href="@Url.Action("GetCustomer", "Customer", new { custId = account.AccountId})" class="hChContent">Cá nhân</a>
            </li>
            <li class="iscurent">
                <a class="hChContent">Sửa thông tin</a>
            </li>
        </ul>
    </div>
</div>
<div class="body">
    <div class="rows">
        <div class="row">
            <div class="titlePage">SỬA THÔNG TIN KHÁCH HÀNG</div>
            @using (Html.BeginForm("EditCustProfile", "Customer", new { custId = account.AccountId }))
            {
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Họ và tên
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="@account.FullName" name="fullname" id="txtMaidName" maxlength="50">
                            <div id="AddErr"></div>
                        </div>
                    </div>
                </div>
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Số điện thoại
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="@account.Phone" name="phone" id="txtPhone" maxlength="15">
                            <div id="PhoneErr"></div>
                        </div>
                    </div>
                </div>
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Email
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="@account.Email" name="email" id="txtEmail" maxlength="25">
                            <div id="ExpErr"></div>
                        </div>
                    </div>
                </div>
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Địa chỉ
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="@ViewBag.CustAddr" name="addr" maxlength="50">
                        </div>
                    </div>
                </div>
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Ảnh đại diện
                    <img src="@account.Avatar" width="80%">
                        </div>
                        <div class="col-md-8">
                            <input id="input-21" type="file" accept="image/*">
                            <script>
                                $("#input-21").fileinput({
                                    previewFileType: "image",
                                    browseClass: "btn btn-success",
                                    browseLabel: " Chọn hình",
                                    browseIcon: '<i class="glyphicon glyphicon-picture"></i>',
                                    removeClass: "btn btn-danger",
                                    removeLabel: " Xóa",
                                    removeIcon: '<i class="glyphicon glyphicon-trash"></i>',
                                    uploadClass: "btn btn-info",
                                    uploadLabel: " Tải lên",
                                    uploadIcon: '<i class="glyphicon glyphicon-upload"></i>'
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="buttonFooterPage">
                    <button class="btn btn-success btn-lg" id="btnEdit">Cập nhập thông tin</button>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $("#btnEdit").click(function () {
        console.debug("sdf");
        var errText = "";
        var phone = new RegExp('^[0-9]+$');
        var email = new RegExp('^[_a-z0-9-]+(\.[_a-z0-9-]+)*@@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$');
        if ($("#txtMaidName").val() == "") {
            errText = "<font color='red'>Vui lòng nhập tên khách hàng</font>";
            document.getElementById("AddErr").innerHTML = errText;
            return false;
        } else {
            errText = "";
            document.getElementById("AddErr").innerHTML = errText;
        }
        if (phone.test($("#txtPhone").val()) == false) {
            errText = "<font color='red'>Vui lòng nhập số</font>";
            document.getElementById("PhoneErr").innerHTML = errText;
            return false;
        } else {
            errText = "";
            document.getElementById("PhoneErr").innerHTML = errText;
        }
        if (email.test($("#txtEmail").val()) == false) {
            errText = "<font color='red'>Vui lòng nhập đúng định dạng abc@abc.abc</font>";
            document.getElementById("ExpErr").innerHTML = errText;
            return false;
        } else {
            errText = "";
            document.getElementById("ExpErr").innerHTML = errText;
        }
    });
    </script>

